<%= form_for @girl_scouts_permission_form, :url => "/view_girl_scout_permission_form", :html => {:class => 'form-horizontal girl_scout_permission_form', :multipart => true} do |f| %>
  <%= f.hidden_field :id %>
  <p> My daughter <strong><%= @girl_scout.first_name %> <%= @girl_scout.last_name %></strong>, has my permission
    to go to and participate in the <strong><%= @activity.activity_name %></strong>. I understand the cost will be
    <strong><%= number_to_currency(@activity.activity_cost_dollars ? (@activity.activity_cost_dollars.to_s + '.' + @cents.to_s) : 'Free!') %></strong>.
  </p>
  <p>IN CASE OF AN EMERGENCY, PLEASE CONTACT:</p>

  <!--<div class="control-group">-->
  <!--<%#= f.label :gapf_girl_scouts_first_name, "Girl Scout Name", :class => 'control-label' %>-->
  <!--<div class="controls">-->
  <!--<%#= f.text_field :gapf_girl_scouts_first_name, :placeholder => "First Name", :class => "input-small" %>-->
  <!--<%#= f.text_field :gapf_girl_scouts_last_name, :placeholder => "Last Name", :class => "input-small" %>-->
  <!--</div>-->
  <!--</div>-->
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_1_first_name, "Emergency Contact 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_1_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_1_phone_1_1, "Emergency Contact 1 Phone 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_phone_1_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_1_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_1_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_1_phone_2_1, "Emergency Contact 1 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_phone_2_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_2_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_2_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_2_first_name, "Emergency Contact 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_2_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_2_phone_1_1, "Emergency Contact 2 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_phone_1_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_1_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_1_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_2_phone_2_1, "Emergency Contact 2 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_phone_2_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_2_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_2_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :gapf_emergency_contact_3_first_name, "Emergency Contact 3", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_3_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_3_phone_1_1, "Emergency Contact 3 Phone 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_phone_1_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_1_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_1_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_emergency_contact_3_phone_2_1, "Emergency Contact 3 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_phone_2_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_2_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_2_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_physician_first_name, "Physician Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_physician_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_physician_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_physician_phone_1, "Physician Phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_physician_phone_1, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_physician_phone_2, :style => "width:30px;", :placeholder => "###" %>
      -
      <%= f.text_field :gapf_physician_phone_3, :style => "width:40px;", :placeholder => " ####" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_my_insurance_carrier, "My Insurance Carrier", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_my_insurance_carrier %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gapf_policy, "Policy Number ", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_policy %>
    </div>
  </div>
  <div class="control-group">
    <p style="margin: 1px 0 0 239px;text-align: justify;">
      She is in good physical condition at present and has had no serious illness or operations since
      her last health examination. I will make sure that she does not attend if she is not feeling well.
      I give my consent for emergency care to be rendered by another licensed doctor, if unable to reach
      family doctor. I give permission for pictures to be taken and used for Girl Scout publications,
      publicity, advertising or the council calendar. If a private auto is to be used, she has my permission
      to ride. I understand that volunteers and Girl Scouts of Central Texas cannot be responsible for loss
      of valuables.
    </p>
  </div>
  <div class="control-group">
    <%= f.label :gapf_special_needs, "Please List Specific Needs, Medications, Comments", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :gapf_special_needs, :rows => 4, :style => "width:98%;" %>
    </div>
  </div>

<% end %>