<table class="table table-bordered table-header-bg">
  <tr>
    <th>Girl Scout</th>
    <th>Activity</th>
    <th>Activity Date(s)</th>
    <th>Cost</th>
    <th>Due Date</th>
    <th>Attending</th>
    <th>Status</th>
    <th colspan="2">Action</th>
  </tr>
  <% @results.each_with_index do |result, i| %>
    <tr style="text-align: center;">
      <td><%= result[:girl_scout] %></td>
      <td><%= result[:activity_name] %></td>
      <td><%= result[:activity_date_begin].strftime("%m/%d/%Y") rescue '' %>
        - <%= result[:activity_date_end].strftime("%m/%d/%Y") rescue '' %></td>
      <td><%= result[:dollars].present? ? number_to_currency(result[:price]) : "Free!" %></td>
      <td><%= result[:due_date].strftime("%m/%d/%Y") rescue '' %></td>
      <td style="text-align: center;">
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending', 'data-value' => 'Yes', 'data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "Yes", (true if result[:girl_scout_attending] == 'Yes') %>
          Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending', 'data-value' => 'No', 'data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "No", (true if result[:girl_scout_attending] == 'No') %>No
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending', 'data-value' => '?', 'data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "?", (true if result[:girl_scout_attending] != 'No' && result[:girl_scout_attending] != 'Yes') %>
          ?
        <% end %>
      </td>
      <td>
        <% if result[:status] == 'Updated' %>
          <span data-placement="top" rel="tooltip" data-original-title="User submitted and updated form on this <%= result[:updated_at].strftime("%m/%d/%Y") %>">
            Updated <%= result[:updated_at].strftime("%m/%d/%Y") %></span>
        <% elsif result[:status] == 'Submitted' || result[:status] == 'Sent' %>
          <span data-placement="top" rel="tooltip" data-original-title="User submitted form on this <%= result[:updated_at].strftime("%m/%d/%Y") %>">Submitted <%= result[:updated_at].strftime("%m/%d/%Y") %></span>
        <% elsif result[:status] == 'In Progress' %>
          <span data-placement="top" rel="tooltip" data-original-title="Form editing has begun but is not complete">In
            Progress</span>
        <% else %>
          <span data-placement="top" rel="tooltip" data-original-title="Form editing has not begun"><%= result[:status] %></span>
        <% end %>
      </td>
      <td>
        <% if result[:status] == 'Updated' || result[:status] == 'Submitted' || result[:status] == 'Sent' %>
          <%= link_to "Update", view_girl_scout_permission_form_consumer_girl_scouts_path(:id => result[:id]) %> |
          <%#= link_to "Update", view_girl_scout_permission_form_consumer_girl_scouts_path(:id => result[:id]) %>
        <% else %>
          <%#= link_to "Edit", view_girl_scout_permission_form_consumer_girl_scouts_path(:id => result[:id]) %> |
          <%= link_to "Edit", view_girl_scout_permission_form_consumer_girl_scouts_path(:id => result[:id]) %>
        <% end %>
        <%= link_to "View PDF", consumer_view_pdf_consumer_girl_scouts_path(:id => result[:id]), :target => '_blank' %>
      </td>
      <%#= link_to "View PDF", consumer_view_pdf_consumer_girl_scouts_path(:id => result[:id]), :target => '_blank' %>
    </tr>
  <% end %>
</table>

<script>
  $("span").tooltip({
  });
</script>