<table class="table table-bordered">
  <tr BGCOLOR="grey">
    <th style="text-align: center">Girl Scout</th>
    <th style="text-align: center">Activity</th>
    <th style="text-align: center">Activity Date(s)</th>
    <th style="text-align: center">Price</th>
    <th style="text-align: center">Due Date</th>
    <th style="text-align: center">Attending</th>
    <th style="text-align: center">Status</th>
    <th style="text-align: center">Action</th>
  </tr>
  <% @results.each_with_index do |result, i| %>
    <tr style="text-align: center;">
      <td><%= result[:girl_scout] %></td>
      <td><%= result[:activity_name] %></td>
      <td><%= result[:activity_date_begin].strftime("%m/%d/%Y") rescue '' %>
        - <%= result[:activity_date_end].strftime("%m/%d/%Y") rescue '' %></td>
      <td><%= result[:price].present? ? number_to_currency(result[:price]) : "Free!" %></td>
      <td><%= result[:due_date].strftime("%m/%d/%Y") rescue '' %></td>
      <td style="text-align: center;">
        <%#= debug result[:girl_scout_attending] == 'Yes' %>
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending','data-value' => 'Yes','data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "Yes", (true if result[:girl_scout_attending] == 'Yes') %>Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending', 'data-value' => 'No','data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "No",(true if result[:girl_scout_attending] == 'No' )%>No
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline girl_scout_attending', 'data-value' => '?','data-id' => result[:id] do %>
          <%= radio_button_tag "girl_scout_attending_#{i}", "?",(true if result[:girl_scout_attending] != 'No' && result[:girl_scout_attending] != 'Yes') %>?
        <% end %>
      </td>
      <td>
        <% if result[:status] == 'Sent' %>
          Sent <%= result[:updated_at].strftime("%m/%d/%Y") %>
        <% else %>
          <%= result[:status] %>
        <% end %>
      </td>
      <td><%= link_to "Edit", view_girl_scout_permission_form_consumer_girl_scouts_path(:id => result[:id]) %>
        | <%= link_to "View PDF", consumer_view_pdf_consumer_girl_scouts_path(:id => result[:id]) %></td>
    </tr>
  <% end %>
</table>