<p style="text-align: center;font-size:18px "><%= @activity.activity_name %></p>
<div style="margin: 0 auto;width:80px;">
  <%= link_to "My Forms", "/consumer", :style => 'font-size: 18px;' %>
</div>
<div class="tabbable tabs-left iforms-tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Activity Details", '#activity_form', "data-toggle" => "tab" %>
    </li>
    <li><%= link_to "Parent Permission", "#parent_permission", "data-toggle" => "tab" %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="activity_form">
      <%= render :partial => "girl_scouts_troop_leaders/show_activity" %>
    </div>
    <div class="tab-pane" id="parent_permission">
      <div class="tab-pane active" id="parent_permissionx">
        <div class="girlscout_permission_form_submit" style="text-align:right;margin-right: 100px;margin-bottom: 20px;">
          <span class="permission_form_tl_mail_success hide" style="margin-right: 100px;background-color:#d3d3d3;">Successfully Sent!</span>
          <%= link_to "Submit to Troop Leader", "#", :class => "btn btn-primary", :id => "notification_email_to_troop_leader" %>
        </div>
        <% if @activity.service_provider_id == 2 %>
          <%= render :partial => 'central_texas_permission_form' %>
        <% elsif @activity.service_provider_id == 3 %>
          <%= render :partial => 'diamonds_permission_form' %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>
