<p style="text-align: center;font-size:18px "><%= @activity.activity_name %></p>
<div style="margin: 0 auto;width:80px;">
  <%= link_to "My Forms", "/consumer", :style => 'font-size: 18px;' %>
</div>
<div class="tabbable tabs-left iforms-tabs-left">
<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Activity Details", '#activity_form', "data-toggle" => "tab" %>
  </li>
  <li><%= link_to "Parent Permission", "#parent_permission", "data-toggle" => "tab" %></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="activity_form">
  <%= render :partial => "girl_scouts_troop_leaders/show_activity" %>
</div>
<div class="tab-pane" id="parent_permission">
<div class="tab-pane active" id="parent_permissionx">
<div class="girlscout_permission_form_submit" style="text-align:right;margin-right: 100px;margin-bottom: 20px;">
  <span class="permission_form_tl_mail_success hide" style="margin-right: 100px;background-color:#d3d3d3;">Successfully Sent!</span>
  <%= link_to "Submit to Troop Leader", "#", :class => "btn btn-primary", :id => "notification_email_to_troop_leader" %>
</div>
<%# if @service_provider.mapping_field_name == 'central_texas' %>
<%#= render :partial => 'central_texas_permission_form' %>
<%# elsif @service_provider.mapping_field_name == 'diamonds' %>
<%#= render :partial => 'diamonds_permission_form' %>
<%# else %>
<%# end %>

<!-- Central Texas -->

<%= form_for @girl_scouts_permission_form, :url => "/view_girl_scout_permission_form", :html => {:class => 'form-horizontal girl_scout_permission_form', :multipart => true} do |f| %>
  <%= f.hidden_field :id %>

  <div class="<%= @service_provider.mapping_field_name == 'central_texas' ? '' : 'hide' %>">
    <p> My daughter <strong><%= @girl_scout.first_name %> <%= @girl_scout.last_name %></strong>, has my
      permission to go to and participate in the <strong><%= @activity.activity_name %></strong>. I understand the cost
      will be
      <strong><%= number_to_currency(@activity.activity_cost_dollars ? (@activity.activity_cost_dollars.to_s + '.' + @cents.to_s) : 'Free!') %></strong>.
    </p>

    <p>IN CASE OF AN EMERGENCY, PLEASE CONTACT:</p>
  </div>

  <div class="<%= @service_provider.mapping_field_name == 'diamonds' ? '' : 'hide' %>">
    <p> My daughter <strong><%= @girl_scout.first_name %> <%= @girl_scout.last_name %></strong>,has permission
      to participate in the above named activity. In case of accident or injury she may be given emergency first aid treatment.
    </p>
  </div>

  <div class="<%= @service_provider.mapping_field_name == 'alaska' ? '' : 'hide' %>">
    <p> My daughter <strong><%= @girl_scout.first_name %> <%= @girl_scout.last_name %></strong>,has permission
      to participate in the <strong><%= @activity.activity_name %></strong>. She is in good physical condition and has not had any serious illness or operation since her last health examination.
    </p>
    <p>
      I give the Council permission, for Girl Scout related purposes, to use photographs or videotapes of my child participating in Girl Scout
      activities or accepting Girl Scout services.
    </p>
  </div>

  <div class="<%= @service_provider.mapping_field_name == 'arizona_cactus_pine' ? '' : 'hide' %>">
    <p><strong><%= @girl_scout.first_name %> <%= @girl_scout.last_name %></strong>is my/our daughter or a child in my/our legal custody. I/we have previously
      executed a “General Permission Slip” for her participation in activities of or sponsored by the GIRL SCOUTS–ARIZONA CACTUS-PINE
      COUNCIL, INC. I/we adopt and incorporate the consents and information therein into this Specific Event Permission Slip, with the
      following changes or corrections. If there are none write “None”, but be sure to fill in updating information such as a change of address
      or phone number, the persons to contact in an emergency, more current medical information or a change of physician.
    </p>
  </div>

  <div class="control-group + <%= @fields['Emergency Contact 1'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_1_first_name, "Emergency Contact 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_1_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 1 Phone 1'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_1_phone_1_1, "Emergency Contact 1 Phone 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_phone_1_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_1_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_1_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 1 Phone 2'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_1_phone_2_1, "Emergency Contact 1 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_1_phone_2_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_2_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_1_phone_2_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 2'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_2_first_name, "Emergency Contact 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_2_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 2 Phone 1'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_2_phone_1_1, "Emergency Contact 2 Phone 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_phone_1_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_1_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_1_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 2 Phone 2'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_2_phone_2_1, "Emergency Contact 2 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_2_phone_2_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_2_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_2_phone_2_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Emergency Contact 3'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_3_first_name, "Emergency Contact 3", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_emergency_contact_3_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 3 Phone 1'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_3_phone_1_1, "Emergency Contact 3 Phone 1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_phone_1_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_1_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_1_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact 3 Phone 2'] ? '' : 'hide' %>">
    <%= f.label :gapf_emergency_contact_3_phone_2_1, "Emergency Contact 3 Phone 2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_emergency_contact_3_phone_2_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_2_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_emergency_contact_3_phone_2_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Physician Name'] ? '' : 'hide' %>">
    <%= f.label :gapf_physician_first_name, "Physician Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_physician_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :gapf_physician_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Physician Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_physician_phone_1, "Physician Phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_physician_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_physician_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_physician_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['My Insurance Carrier'] ? '' : 'hide' %>">
    <%= f.label :gapf_my_insurance_carrier, "My Insurance Carrier", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_my_insurance_carrier %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Policy Number'] ? '' : 'hide' %>">
    <%= f.label :gapf_policy, "Policy Number ", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_policy %>
    </div>
  </div>
  <div class="control-group + <%= @service_provider.mapping_field_name == 'central_texas' ? '' : 'hide' %>">
    <p style="margin: 1px 0 0 239px;text-align: justify;">
      She is in good physical condition at present and has had no serious illness or operations since
      her last health examination. I will make sure that she does not attend if she is not feeling well.
      I give my consent for emergency care to be rendered by another licensed doctor, if unable to reach
      family doctor. I give permission for pictures to be taken and used for Girl Scout publications,
      publicity, advertising or the council calendar. If a private auto is to be used, she has my permission
      to ride. I understand that volunteers and Girl Scouts of Central Texas cannot be responsible for loss
      of valuables.
    </p>
  </div>

  <div class="control-group + <%= @fields['Authorize Behalf Name'] ? '' : 'hide' %>">
    <%= f.label :act_in_my_behalf_first_name, "In addition to the person in charge, I authorize this person to act in my behalf", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :act_in_my_behalf_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :act_in_my_behalf_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Authorize Behalf Address'] ? '' : 'hide' %>">
    <%= f.label :act_in_my_behalf_address_1, "Address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :act_in_my_behalf_address_1, :placeholder => "Address 1", :style => 'width:445px;margin-bottom:10px;' %>
      <%= f.text_field :act_in_my_behalf_address_2, :placeholder => "Address 2", :style => 'width:445px;margin-bottom:10px;' %>
      <br>
      <%= f.text_field :act_in_my_behalf_address_city, :placeholder => "City", :style => 'width:445px;margin-bottom:10px;' %> &nbsp;
      <%#= f.text_field :emergency_contact_address_country, :placeholder => "country", :style => 'margin-bottom:10px;' %>
      <br>
      <%= f.select :act_in_my_behalf_address_state, options_for_select(StaticData.state, f.object.emergency_contact_address_state), :include_blank => true %> &nbsp;
      <%= f.text_field :act_in_my_behalf_address_zip, :placeholder => "Postal / Zip Code" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Phone Number During Activity'] ? '' : 'hide' %>">
    <%= f.label :parent_phone_number_during_activity_1, "During the activity I may be reached at this number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :parent_phone_number_during_activity_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :parent_phone_number_during_activity_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :parent_phone_number_during_activity_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact'] ? '' : 'hide' %>">
    <%= f.label :emergency_contact_first_name, "Emergency Contact", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_first_name, :placeholder => "First Name", :class => "input-small" %>
      <%= f.text_field :emergency_contact_last_name, :placeholder => "Last Name", :class => "input-small" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact Phone Number'] ? '' : 'hide' %>">
    <%= f.label :emergency_contact_phone_number_1, "Emergency Contact Phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_phone_number_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :emergency_contact_phone_number_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :emergency_contact_phone_number_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Emergency Contact Cell Number'] ? '' : 'hide' %>">
    <%= f.label :emergency_contact_cell_number_1, "Emergency Contact Cell", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_cell_number_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :emergency_contact_cell_number_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :emergency_contact_cell_number_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Address'] ? '' : 'hide' %>">
    <%= f.label :emergency_contact_address_street, "Address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_address_street, :placeholder => "Address 1", :style => 'width:445px;margin-bottom:10px;' %>
      <%= f.text_field :emergency_contact_address_line, :placeholder => "Address 2", :style => 'width:445px;margin-bottom:10px;' %>
      <br>
      <%= f.text_field :emergency_contact_address_city, :placeholder => "City", :style => 'width:445px;margin-bottom:10px;' %> &nbsp;
      <%#= f.text_field :emergency_contact_address_country, :placeholder => "country", :style => 'margin-bottom:10px;' %>
      <br>
      <%= f.select :emergency_contact_address_state, options_for_select(StaticData.state, f.object.emergency_contact_address_state), :include_blank => true %> &nbsp;
      <%= f.text_field :emergency_contact_address_zip, :placeholder => "Postal / Zip Code" %>
    </div>
  </div>
  <div class="control-group + <%= @fields['Relationship To Patient'] ? '' : 'hide' %>">
    <%= f.label :emergency_contact_relationship_to_participant, "Relationship to participant", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_relationship_to_participant, :placeholder => "Relationship", :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group + <%= @service_provider.mapping_field_name == 'diamonds' ? '' : 'hide' %>">
    <p style="margin: 1px 0 0 239px;text-align: justify;">
      My daughter is in good physical condition at present and has had no serious illness or operation since her last
      health examination. I will ensure that she does not attend if she is not physically able. I will ensure that
      she has the required equipment, clothing and supplies with her.
    </p>
  </div>
  <div class="control-group + <%= @fields['Medications'] ? '' : 'hide' %>">
    <%= f.label :medications, " She will have medication with her. It will be in the original bottle, in a plastic baggie and labeled for the First Aider. Her medication(s) are as follows ", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :medications, :rows => 4, :style => "width:98%;" %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Changes To General Permission Slip'] ? '' : 'hide' %>">
    <%= f.label :gapf_changes_to_general_permission_slip, "General permission slip", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :gapf_changes_to_general_permission_slip, :rows => 4, :style => "width:98%;" %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Special Needs Medications Comments'] ? '' : 'hide' %>">
    <%= f.label :gapf_special_needs_yes_or_no, 'Child has special needs ', :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :gapf_special_needs_yes_or_no, "Yes", :class => 'arizona_special_needs' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :gapf_special_needs_yes_or_no, "No", :class => 'arizona_special_needs' %>
        No
      <% end %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Specific Needs'] ? '' : 'hide' %>">
    <%= f.label :gapf_special_needs, "Please List Specific Needs, Medications, Comments", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :gapf_special_needs, :rows => 4, :style => "width:98%;" %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Unusual Risk Acknowledgement'] ? '' : 'hide' %>">
    <%= f.label :gapf_unusual_risk_acknowledgement, 'Unusual risk acknowledgement', :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :gapf_unusual_risk_acknowledgement, "Yes" %> Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :gapf_unusual_risk_acknowledgement, "No" %> No
      <% end %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Address'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_address_1, "Parent 1 address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_address_1, :placeholder => "Address 1", :style => 'width:445px;margin-bottom:10px;' %>
      <%= f.text_field :gapf_parent_1_address_2, :placeholder => "Address 2", :style => 'width:445px;margin-bottom:10px;' %>
      <br>
      <%= f.text_field :gapf_parent_1_address_city, :placeholder => "City", :style => 'width:445px;margin-bottom:10px;' %> &nbsp;
      <br>
      <%= f.select :gapf_parent_1_address_state, options_for_select(StaticData.state, f.object.emergency_contact_address_state), :include_blank => true %> &nbsp;
      <%= f.text_field :gapf_parent_1_address_zip, :placeholder => "Postal / Zip Code" %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Home Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_home_phone_1, "Parent 1 home phonel", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_home_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_home_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_home_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Work Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_work_phone_1, "Parent 1 work phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_work_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_work_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_work_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Mobile Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_mobile_phone_1, "Parent 1 mobile phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_mobile_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_mobile_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_mobile_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Other Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_other_phone_1, "Parent 1 other phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_other_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_other_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_1_other_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 1 Email Address'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_1_email, "Parent 1 email address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_1_email, :placeholder => "Email", :style => 'width:445px;margin-bottom:10px;' %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Address'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_address_1, "Parent 2 address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_address_1, :placeholder => "Address 1", :style => 'width:445px;margin-bottom:10px;' %>
      <%= f.text_field :gapf_parent_2_address_2, :placeholder => "Address 2", :style => 'width:445px;margin-bottom:10px;' %>
      <br>
      <%= f.text_field :gapf_parent_2_address_city, :placeholder => "City", :style => 'width:445px;margin-bottom:10px;' %> &nbsp;
      <br>
      <%= f.select :gapf_parent_2_address_state, options_for_select(StaticData.state, f.object.emergency_contact_address_state), :include_blank => true %> &nbsp;
      <%= f.text_field :gapf_parent_2_address_zip, :placeholder => "Postal / Zip Code" %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Home Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_home_phone_1, "Parent 2 home phonel", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_home_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_home_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_home_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Work Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_work_phone_1, "Parent 2 work phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_work_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_work_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_work_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Mobile Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_mobile_phone_1, "Parent 2 mobile phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_mobile_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_mobile_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_mobile_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Other Phone'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_other_phone_1, "Parent 2 other phone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_other_phone_1, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_other_phone_2, :style => "width:30px;", :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :gapf_parent_2_other_phone_3, :style => "width:40px;", :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>

  <div class="control-group + <%= @fields['Parent 2 Email Address'] ? '' : 'hide' %>">
    <%= f.label :gapf_parent_2_email, "Parent 2 email address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gapf_parent_2_email, :placeholder => "Email", :style => 'width:445px;margin-bottom:10px;' %>
    </div>
  </div>


<% end %>
</div>
</div>
</div>
</div>
