<div class="container">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource_name, resource, :url => confirmation_path(resource_name)) do |f| %>
 <% if resource.errors.any? %>
<div id="error_explanation">
  <h2> Please check the highlighted fields </h2>
	<ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul> 
  </div> 
<% end %>

  <p><%= f.label :email %></br>
  <%= f.text_field :email %></p>

  <p><%= f.submit "Resend confirmation instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>