<div class="girl_scouts_troop_leaders_nav_links">
  <strong>Activities</strong> <strong> | </strong>
  <%= link_to "Permission Forms", "#" %> <strong> | </strong>
  <%= link_to "Roster", roster_girl_scouts_troop_leaders_path %>
</div>
<div>&nbsp;</div>
<div>
  <%= select_tag("girls_scouts_activities", options_for_select(@girls_scouts_activities, params[:id]), :prompt => "Select Activity") %>
  <%= link_to "Delete This Activity", "#delete_activity_alert_box", :class => "btn btn-danger delete_activity" %> &nbsp;
  <%= link_to "View This Permission Form PDF", @girls_activity.new_record? ? '#' : activity_permission_form_pdf_path(:activity_id => @girls_activity.id ), :class => "btn btn-info" %>
</div>
<div class="clear"></div>
<%= form_for @girls_activity, :url => "/create_activity", :html => {:class => 'form-horizontal girl_scouts_activity_form', :multipart => true} do |f| %>
  <%= f.hidden_field :id %>
  <div class="tabbable tabs-left activity_tabs">
  <ul class="nav nav-tabs" id="activity_tab_links">
    <li class="active">
      <%= link_to "Activity", "#activity", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Troop", "#troop", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Troop Leader", "#troop_leader", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Troop Emergency Contact", "#troop_emergency_contact", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Send Notifcation Email to Parents", "#send_notification_email", "data-toggle" => "tab" %>
    </li>
  </ul>
  <div class="tab-content">
  <div class="tab-pane active" id="activity">
    <div class="control-group">
      <%= f.label :activity_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_name, :style => "width:400px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_location, "Location", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_location, :style => "width:400px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_date_begin, "Date Begin", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_date_begin, :class => "girls_scout_activity_date_selector input-small", :placeholder => "YYYY-MM-DD", "data-value" => f.object.activity_date_begin %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_date_end, "Date End", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_date_end, :class => "girls_scout_activity_date_selector input-small", :placeholder => "YYYY-MM-DD", "data-value" => f.object.activity_date_end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_signed_permission_due_date, "Signed Permission Form Due Date", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_signed_permission_due_date, :class => "girls_scout_activity_date_selector input-small", :placeholder => "YYYY-MM-DD", "data-value" => f.object.activity_signed_permission_due_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_leave_from, "We Will Leave from", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_leave_from, :style => "width:400px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_leave_time_hh, "At This Time", :class => 'control-label' %>
      <div class="controls">
        <%#= f.text_field :activity_leave_time_hh, :style => "width:30px;text-align:right", :placeholder => "HH",:id => 'activity_leave_time_hh' %>
        <%= f.select :activity_leave_time_hh,{"01"=>"1","02"=>"2","03"=>"3","04"=>"4","05"=>"5","06"=>6,"07"=>7,"08"=>8,"09"=>9,"10"=>10,"11"=>11,"12"=>12},{:include_blank => true},{:style => "width:60px;text-align:center"} %> &nbsp;
        <strong> : </strong>
        <%#= f.text_field :activity_leave_time_mm, :style => "width:30px;text-align:right", :placeholder => "MM",:id => 'activity_leave_time_mm' %> &nbsp;
        <%= f.select :activity_leave_time_mm,{"00"=>"0","05"=>"5","10"=>"10","15"=>"15","20"=>"20","25"=>"25","30"=>"30","35"=>"35","40"=>"40","45"=>"45","50"=>"50","55"=>"55"},{:include_blank => true},{:style => "width:60px;text-align:center"} %> &nbsp;
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :activity_leave_time_am_pm, "AM",:checked => 'checked' %> AM
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :activity_leave_time_am_pm, "PM" %> PM
        <% end %>

        <%#= f.select :activity_leave_time_am_pm, options_for_select(["AM", "PM"]), {:selected => "AM"}, {:style => 'width:60px;'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_return_to, "We Will Return To", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_return_to, :style => "width:400px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_return_time_hh, "At This Time", :class => 'control-label' %>
      <div class="controls">
        <%#= f.text_field :activity_return_time_hh, :style => "width:30px;text-align: right", :placeholder => "HH",:id => 'activity_return_time_hh'%>
        <%= f.select :activity_return_time_hh, {"01"=>"1","02"=>"2","03"=>"3","04"=>"4","05"=>"5","06"=>6,"07"=>7,"08"=>8,"09"=>9,"10"=>10,"11"=>11,"12"=>"12"},{:include_blank => true},{:style => "width:60px;text-align:center"} %> &nbsp;
        <strong> : </strong>
        <%#= f.text_field :activity_return_time_mm, :style => "width:30px;text-align: right", :placeholder => "MM",:id => 'activity_return_time_mm' %> &nbsp;
        <%= f.select :activity_return_time_mm, {"00"=>"0","05"=>"5","10"=>"10","15"=>"15","20"=>"20","25"=>"25","30"=>"30","35"=>"35","40"=>"40","45"=>"45","50"=>"50","55"=>"55"},{:include_blank => true},{:style => "width:60px;text-align:center"} %> &nbsp;
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :activity_return_time_am_pm, "AM",:checked => 'checked' %> AM
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :activity_return_time_am_pm, "PM" %> PM
        <% end %>
        <%#= f.select :activity_return_time_am_pm, options_for_select(["AM", "PM"]), {:selected => "AM"}, {:style => 'width:60px;'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_cost_dollars, "Cost", :class => 'control-label' %>
      <div class="controls">
        $ <%= f.text_field :activity_cost_dollars, :style => "width:100px;text-align: right", :placeholder => "Dollars",:id => 'activity_cost_dollars' %>
        <strong> . </strong>
        <%= f.text_field :activity_cost_cents, :value => f.object.activity_cost_cents.to_s.rjust(2,"0"), :style => "width:20px;text-align: right", :placeholder => "", :id => 'activity_cost_cents' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :girls_wear_checkbox, "Girls Should Wear", :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "checkboxs", :class => 'checkbox inline' do %>
          <%= f.check_box :girls_wear_checkbox %>&nbsp;Uniforms
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_girls_wear_others, "Girls Should Wear - Other", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_girls_wear_others, :style => 'width:400px' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_girls_bring, "Girls Should Bring", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_girls_bring, :style => 'width:400px' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :activity_equipment, "Equipment Needed", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :activity_equipment, :style => 'width:400px' %>
      </div>
    </div>
    <div class="activity_footer_links">
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "1" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="troop">
    <div class="control-group">
      <%= f.label :troop_service_unit, "Service Unit", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :troop_service_unit, options_for_select(StaticData.service_unit,f.object.troop_service_unit), {:include_blank => true}, {:style => 'width:400px;'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :troop_pal, "PAL", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :troop_pal, options_for_select(StaticData.pal,f.object.troop_pal), :include_blank => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :troop_number, "Troop Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :troop_number, :class => "input-small" %>
      </div>
    </div>
    <div class="activity_footer_links">
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "0" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "2" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="troop_leader">
    <div class="control-group">
      <%= f.label :leader_first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :leader_first_name, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :leader_last_name, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :leader_email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :leader_email, :style => 'width:400px' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :leader_day_phone_1, "Day Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :leader_day_phone_1, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_day_phone_2, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_day_phone_3, :class => "activity_phone_last", :placeholder => " ####" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :leader_evening_phone_1, "Evening Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :leader_evening_phone_1, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_evening_phone_2, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_evening_phone_3, :class => "activity_phone_last", :placeholder => " ####" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :leader_cell_phone_1, "Cell Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :leader_cell_phone_1, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_cell_phone_2, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :leader_cell_phone_3, :class => "activity_phone_last", :placeholder => " ####" %>
      </div>
    </div>
    <div class="activity_footer_links">
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "1" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "3" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="troop_emergency_contact">
    <div class="control-group">
      <%= f.label :emergency_first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_first_name, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :emergency_last_name, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :emergency_day_phone_1, "Day Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_day_phone_1, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :emergency_day_phone_2, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :emergency_day_phone_3, :class => "activity_phone_last", :placeholder => " ####" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :emergency_evening_phone_1, "Evening Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_evening_phone_1, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :emergency_evening_phone_2, :class => "activity_phone", :placeholder => "###" %> -
        <%= f.text_field :emergency_evening_phone_3, :class => "activity_phone_last", :placeholder => " ####" %>
      </div>
    </div>
    <div class="activity_footer_links">
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "2" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => "4" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="send_notification_email">
    <% if @girls_activity.activity_name.to_s == "" ||
      @girls_activity.activity_signed_permission_due_date.to_s == "" ||
      @girls_activity.leader_first_name.to_s == "" ||
      @girls_activity.leader_last_name.to_s == "" %>
      <%= link_to "Send Notification Email to Parents", "#", :class => "btn btn-primary", :id => "notification_email_to_parent", :disabled => "disabled" %>
    <% else %>
      <%= link_to "Send Notification Email to Parents", "#", :class => "btn btn-primary", :id => "notification_email_to_parent", :disabled => false, "data-loading-text" => "loading" %>
    <% end %>
    <span style="margin-left: 90px;background-color:#d3d3d3;" class="mail_success_notification hide"><span class="mail_counter"><%= @counter %></span>&nbsp;&nbsp;Messages sent</span>
    <br>
    <%#= f.text_area :email_notification, :rows => 5, :cols => 100 %> <br>

    <div class='notification_email_to_parent_text radius-border'>
      <%= render :partial => 'parents_email_notification', :locals => {:girls_activity => @girls_activity,:girl_scout => @girl_scout} %>
    </div>
    <div class="activity_footer_links">
      <%= link_to "#", :class => 'btn btn-primary activity_nav_link', :data_tab_index => 3 do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
    </div>
  </div>
  </div>
  </div>
<% end %>


<div id="delete_activity_alert_box" class="hide" style="width:200px;text-align: center;">
  <p style="font-size:18px;margin: 10px 0 15px 0; "> Delete <%= @girls_activity.activity_name ? @girls_activity.activity_name : "Activity #"+@girls_activity.id.to_s  %> Activity?</p>
  <%= link_to "Yes", "#", :class => "btn btn-danger delete_activity_yes", :id => "delete_activity_yes" %>&nbsp;&nbsp;
  <%= link_to "No", "#", :class => "btn btn-primary", :id => "delete_activity_no", :onclick => "$.fancybox.close();" %>
</div>