<% sp_id =  session[:user_service_provider] %>

$('.girl_scouts_activity_form #girl_scouts_activity_id').val(<%= @activity.id %>);
$('.view_permission_form_btn').attr('href', '<%= activity_permission_form_pdf_path(:activity_id => @activity.id)%>');

<% if params[:girl_scouts_activity][:activity_name].present? || params[:girl_scouts_activity][:leader_first_name].present? || params[:girl_scouts_activity][:leader_last_name].present? || params[:girl_scouts_activity][:activity_signed_permission_due_date].present? %>

<% end %>

$('.notification_email_to_parent_text').html(" <%= escape_javascript render :partial => 'parents_email_notification', :locals => {:girls_activity => @activity, :girl_scout => @girls_scout }  %>");


<% if @is_new_activity %>
  $('select#girls_scouts_activities').append($('<option></option>').val('<%= @activity.id%>').html('<%=  @activity.activity_name%>'));
  $('select#girls_scouts_activities').val('<%= @activity.id%>');
<% end %>

<% if @is_activity_name_changed %>
  $('select#girls_scouts_activities option:selected').text('<%=  @activity.activity_name%>');
<% end %>

<% if sp_id == 2 || sp_id == 8 || sp_id == 9 || sp_id == 10 %>

  <% if @activity.activity_name.to_s == "" ||
      @activity.activity_signed_permission_due_date.to_s == "" ||
      @activity.leader_first_name.to_s == "" ||
      @activity.leader_last_name.to_s == "" %>
     $('#notification_email_to_parent').attr('disabled', 'disabled');
  <% else %>
     $('#notification_email_to_parent').attr('disabled', false);
  <% end %>

<% elsif sp_id == 3 %>

   <% if @activity.activity_name.to_s == "" ||
      @activity.activity_signed_permission_due_date.to_s == "" ||
      @activity.leader_advisor_1_first_name.to_s == "" ||
      @activity.leader_advisor_1_last_name.to_s == "" %>
      $('#notification_email_to_parent').attr('disabled', 'disabled');
   <% else %>
      $('#notification_email_to_parent').attr('disabled', false);
   <% end %>

<% end %>






