<div class="permission_form">
  <table class="table table-bordered table-hover" style="width: 70%; ">
    <tr>
      <th colspan="2">Activity</th>
    </tr>
    <tr>
      <td style="width: 40%;">Name</td>
      <td><%= @activity.activity_name %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= @activity.activity_location %></td>
    </tr>
    <tr>
      <td>Date Begin</td>
      <td><%= @activity.activity_date_begin %></td>
    </tr>
    <tr>
      <td>Date End</td>
      <td><%= @activity.activity_date_end %></td>
    </tr>
    <tr>
      <td>Signed Permission Form Due Date</td>
      <td><%= @activity.activity_signed_permission_due_date %></td>
    </tr>
    <tr>
      <td>We Will Leave From</td>
      <td><%= @activity.activity_leave_from %></td>
    </tr>
    <tr>
      <td>At This Time</td>
      <td><%= @activity.activity_leave_time_hh %>&nbsp;<%= @activity.activity_leave_time_mm %>&nbsp;<%= @activity.activity_leave_time_am_pm %></td>
    </tr>
    <tr>
      <td>We Will Return To</td>
      <td><%= @activity.activity_return_time_hh %>&nbsp;<%= @activity.activity_return_time_mm %>&nbsp;<%= @activity.activity_return_time_am_pm %></td>
    </tr>
    <tr>
      <td>Cost</td>
      <td><%= @activity.activity_cost_dollars %><%= @activity.activity_cost_cents %></td>
    </tr>
    <tr>
      <td> Girls Should Wear</td>
      <td>
        <% if @activity.girls_wear_checkbox %>
          Uniforms
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Girls Should Wear Other</td>
      <td><%= @activity.activity_girls_wear_others %></td>
    </tr>
    <tr>
      <td>Girls Should Bring</td>
      <td><%= @activity.activity_girls_bring %></td>
    </tr>
    <tr>
      <td>Equipment Needed</td>
      <td><%= @activity.activity_equipment %></td>
    </tr>
    <tr>
      <th colspan="2">Troop</th>
    </tr>
    <tr>
      <td> Service Unit</td>
      <td><%= @activity.troop_service_unit %></td>
    </tr>
    <tr>
      <td>PAL</td>
      <td><%= @activity.troop_pal %></td>
    </tr>
    <tr>
      <td>Troop Number</td>
      <td><%= @activity.troop_number %></td>
    </tr>
    <tr>
      <th colspan="2">Troop Leader</th>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @activity.leader_first_name %> &nbsp; <%= @activity.leader_last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @activity.leader_email %></td>
    </tr>
    <tr>
      <td>Day Phone</td>
      <td><%= @activity.leader_day_phone_1 %><%= @activity.leader_day_phone_2 %><%= @activity.leader_day_phone_3 %></td>
    </tr>
    <tr>
      <td>Evening Phone</td>
      <td><%= @activity.leader_evening_phone_1 %><%= @activity.leader_evening_phone_2 %><%= @activity.leader_evening_phone_3 %></td>
    </tr>
    <tr>
      <td>Cell Phone</td>
      <td><%= @activity.leader_cell_phone_1 %><%= @activity.leader_cell_phone_2 %><%= @activity.leader_cell_phone_3 %></td>
    </tr>
    <tr>
      <th colspan="2">Troop Emergency Contact</th>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @activity.emergency_first_name %> &nbsp; <%= @activity.emergency_last_name %></td>
    </tr>
    <tr>
      <td>Day Phone</td>
      <td><%= @activity.emergency_day_phone_1 %><%= @activity.emergency_day_phone_2 %><%= @activity.emergency_day_phone_3 %></td>
    </tr>
    <tr>
      <td>Evening Phone</td>
      <td><%= @activity.emergency_evening_phone_1 %><%= @activity.emergency_evening_phone_2 %><%= @activity.emergency_evening_phone_3 %></td>
    </tr>
  </table>
</div>