<%# submit_tag_text = "Submit form to #{@doctor.firstname} #{@doctor.lastname}" %>
<% submit_tag_text = "Submit" %>

<%= form_for @medical, :url => "/edit_medical_form", :html => {:class => 'form-horizontal edit_medical_patient_form', :multipart => true} do |f| %>
  <%= f.hidden_field :id %>

  <div class="tabbable tabs-left iforms-tabs-left">
  <ul class="nav nav-tabs" id="medical_patient_form_tab_links">
    <li class="active">
      <%= link_to "Patient", '#patient', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Employer", '#employer', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Spouse", '#spouse', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Emergency Contact", '#emergency_contact', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Insurance Primary", '#insurance_primary', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Insurance Secondary", '#insurance_secondary', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Patient Consent", '#patient_consent', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Medical History", '#medical_history', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Family History", '#family_history', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Social History", '#social_history', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Review Of Systems", '#review_of_systems', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Health Maintenance", '#health_maintenance', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Submit Form To Doctor", '#submit_form_to_doctor', "data-toggle" => "tab" %>
    </li>
  </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="patient">
    <div class="control-group">
      <%= f.label :first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :placeholder => "First Name", :style => "width:150px" %>
        <%= f.text_field :last_name, :placeholder => "Last Name", :style => "width:150px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
        <%= f.text_field :address_2, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :address_state, options_for_select(StaticData.state, f.object.address_state), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :address_zip, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :home_phone_1, "Home Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :work_phone_1, "Work Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :work_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :work_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :work_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :cell_phone_1, "Cell Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cell_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :cell_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :cell_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :sex, 'Gender', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :sex, "Female", :class => 'medical_patient_form_gender' %>Female
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :sex, "Male", :class => 'medical_patient_form_gender' %>Male
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :birth_date, 'Birth Date', :class => 'control-label' %>
      <div class="controls ">
        <%= f.text_field :birth_date, :class => "medical_Patient_form_date_selector", :placeholder => "YYYY-MM-DD", "data-value" => f.object.birth_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :marital_status, 'Marital Status', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Divorced" %>Divorced
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Married" %>Married
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Partnered" %>Partnered
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Separated" %>Separated
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Single" %>Single
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :marital_status, "Widowed" %>Widowed
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :ssn_1, 'Social Security Number', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ssn_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :ssn_2, :style => 'width:30px', :placeholder => "##", :size => 2, :maxlength => 2 %>
        -
        <%= f.text_field :ssn_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "1" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="employer">
    <div class="control-group">
      <%= f.label :employer, 'Employer', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :employer %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :employer_occupation, 'Occupation', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :employer_occupation %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :employer_address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :employer_address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
        <%= f.text_field :employer_address_2, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :employer_address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :employer_address_state, options_for_select(StaticData.state, f.object.employer_address_state), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :employer_address_zip, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "0" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "2" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="spouse">
    <div class="control-group">
      <%= f.label :spouse_first_name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :spouse_first_name, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :spouse_first_name, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :spouse_home_phone_1, "Home Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :spouse_home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :spouse_home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :spouse_home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :spouse_work_phone_1, "Work Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :spouse_work_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :spouse_work_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :spouse_work_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "1" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "3" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="emergency_contact">
    <div class="control-group">
      <%= f.label :emergency_contact_first_name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_contact_first_name, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :emergency_contact_first_name, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :emergency_contact_relationship, 'Relatinship ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_contact_relationship %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :emergency_contact_phone_1, "Home Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emergency_contact_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :emergency_contact_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :emergency_contact_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "2" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "4" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="insurance_primary">
    <div class="control-group">
      <%= f.label :primary_insurance_company_name, 'Primary Insurance Company Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_company_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :employer_address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
        <%= f.text_field :primary_insurance_address_1, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :primary_insurance_address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :primary_insurance_address_state, options_for_select(StaticData.state, f.object.primary_insurance_address_state), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :primary_insurance_address_zip, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_phone_1, "Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :primary_insurance_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :primary_insurance_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_id, 'Primary Insurance Id', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_id %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_group, 'Primary Insurance Group', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_group %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_policy_holder, 'Policy Holder', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :primary_insurance_policy_holder, "Self", :class => 'medical_patient_primary_insurance_policy' %>
          Self
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :primary_insurance_policy_holder, "Other", :class => 'medical_patient_primary_insurance_policy' %>
          Other
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_policy_holder_first_name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_policy_holder_first_name, :placeholder => "First Name", :class => "input-small medical_patient_primary_insurance_policy_details" %>
        <%= f.text_field :primary_insurance_policy_holder_last_name, :placeholder => "Last Name", :class => "input-small medical_patient_primary_insurance_policy_details" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_relationship, 'Relationship', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_relationship, :class => 'medical_patient_primary_insurance_policy_details' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_birth_date, 'Birth Date', :class => 'control-label' %>
      <div class="controls ">
        <%= f.text_field :primary_insurance_birth_date, :class => "medical_Patient_form_date_selector  medical_patient_primary_insurance_policy_details", :placeholder => "YYYY-MM-DD", "data-value" => f.object.primary_insurance_birth_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_ssn_1, 'Social Security Number', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_ssn_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => ' medical_patient_primary_insurance_policy_details' %>
        -
        <%= f.text_field :primary_insurance_ssn_2, :style => 'width:30px', :placeholder => "##", :size => 2, :maxlength => 2, :class => ' medical_patient_primary_insurance_policy_details' %>
        -
        <%= f.text_field :primary_insurance_ssn_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4, :class => ' medical_patient_primary_insurance_policy_details' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_insurance_policy_holder_employer, 'Employer', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :primary_insurance_policy_holder_employer, :class => ' medical_patient_primary_insurance_policy_details' %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "3" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "5" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="insurance_secondary">
    <div class="control-group">
      <%= f.label :secondary_insurance_company_name, 'Primary Insurance Company Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_company_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
        <%= f.text_field :secondary_insurance_address_2, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :secondary_insurance_address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :secondary_insurance_address_state, options_for_select(StaticData.state, f.object.secondary_insurance_address_state), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :secondary_insurance_address_zip, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_phone_1, "Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :secondary_insurance_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :secondary_insurance_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_id, 'Primary Insurance Id', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_id %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_group, 'Primary Insurance Group', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_group %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_policy_holder, 'Policy Holder', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :secondary_insurance_policy_holder, "Self", :class => 'medical_patient_secondary_insurance_policy' %>
          Self
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :secondary_insurance_policy_holder, "Other", :class => 'medical_patient_secondary_insurance_policy' %>
          Other
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_policy_holder_first_name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_policy_holder_first_name, :placeholder => "First Name", :class => "input-small medical_patient_secondary_insurance_policy_details" %>
        <%= f.text_field :secondary_insurance_policy_holder_last_name, :placeholder => "Last Name", :class => "input-small medical_patient_secondary_insurance_policy_details" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_relationship, 'Relationship', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_relationship, :class => 'medical_patient_secondary_insurance_policy_details' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_birth_date, 'Birth Date', :class => 'control-label' %>
      <div class="controls ">
        <%= f.text_field :secondary_insurance_birth_date, :class => "medical_Patient_form_date_selector medical_patient_secondary_insurance_policy_details", :placeholder => "YYYY-MM-DD", "data-value" => f.object.primary_insurance_birth_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_ssn_1, 'Social Security Number', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_ssn_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => 'medical_patient_secondary_insurance_policy_details' %>
        -
        <%= f.text_field :secondary_insurance_ssn_2, :style => 'width:30px', :placeholder => "##", :size => 2, :maxlength => 2, :class => 'medical_patient_secondary_insurance_policy_details' %>
        -
        <%= f.text_field :secondary_insurance_ssn_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4, :class => 'medical_patient_secondary_insurance_policy_details' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_insurance_policy_holder_employer, 'Employer', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :secondary_insurance_policy_holder_employer, :class => 'medical_patient_secondary_insurance_policy_details' %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "4" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "6" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="patient_consent">
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        I hereby authorize Capital Medical Clinic to share my personal health information with named persons
        below until further written notice from me:
      </p>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_first_name_1, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_first_name_1, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :patient_consent_last_name_1, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_relation_ship_to_patient_1, ' Relatinship ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_relation_ship_to_patient_1 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_first_name_2, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_first_name_2, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :patient_consent_last_name_2, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_relation_ship_to_patient_2, ' Relatinship ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_relation_ship_to_patient_2 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_first_name_3, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_first_name_3, :placeholder => "First Name", :class => "input-small" %>
        <%= f.text_field :patient_consent_last_name_3, :placeholder => "Last Name", :class => "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patient_consent_relation_ship_to_patient_3, ' Relatinship ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_consent_relation_ship_to_patient_3 %>
      </div>
    </div>

    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        Authorization for Voicemail Usage for PHI
      </p>
    </div>
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        I hereby give permission to leave a message on my voicemail concerning my personal health information.
      </p>
    </div>
    <div class="control-group">
      <%= f.label :patient_authorization_for_voice_mail, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_authorization_for_voice_mail, 'Yes' %>Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_authorization_for_voice_mail, 'No' %>No
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        I hereby give authorization for payment of insurance benefits to be made directly to Capital Medical Clinic,
        LLP for services rendered. I understand that I am financially responsible for all charges whether or not
        they are covered by insurance. In the event of default, I agree to pay all costs of collection and reasonable
        attorney fees. I hereby authorize this healthcare provider to release all information necessary to secure
        payment of benefits. I further agree that a photocopy of this Agreement is as valid as the original.
      </p>
    </div>
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        Acknowledgement of Review of Notice of Privacy Practices
      </p>
    </div>
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        I have been given the opportunity to review this office’s Notice of Privacy Practices, which explains
        how my medical information will be used and disclosed. I understand that I am entitled to receive a copy
        of this document.
      </p>
    </div>
    <div class="control-group">
      <p style="margin: 1px 0 0 314px;text-align: justify;">
        Capital Medical Clinic reserves the right to charge $50.00 for any appointment cancelled without 24hr
        advanced notice and there is a $25.00 charge to your account for each returned che
      </p>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "5" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "7" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="medical_history">
    <div class="control-group">
      <strong style="font-size: 18px">Reasons For Your Visit</strong>

      <p style="text-align: justify;">
        Please list up to three of your chief complaints or concerns.
      </p>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_reason_for_visit_1, 'Reason 1', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_reason_for_visit_1 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_reason_for_visit_2, 'Reason 2', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_reason_for_visit_2 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_reason_for_visit_3, 'Reason 3', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_reason_for_visit_3 %>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Specialists</strong>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_specialist_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_specialist_1, :placeholder => 'Specialist', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_speciality_1, :placeholder => 'Speciality', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :medical_history_specialist_2, :placeholder => 'Specialist', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_speciality_2, :placeholder => 'Speciality', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :medical_history_specialist_3, :placeholder => 'Specialist', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_speciality_3, :placeholder => 'Speciality', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :medical_history_specialist_4, :placeholder => 'Specialist', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_speciality_4, :placeholder => 'Speciality', :style => 'width:150px;margin-bottom:10px;' %>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Medications</strong>

      <p style="text-align: justify;">
        All medications you are currently taking, including over the counter.
      </p>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_specialist_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_medication_medication_1, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_1, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_1, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_2, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_2, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_2, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_3, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_3, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_3, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_4, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_4, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_4, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_5, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_5, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_5, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_6, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_6, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_6, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_medication_7, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_dosage_7, :placeholder => ' Dosage (Milligrams)', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_times_per_day_7, :placeholder => 'Times Per Day', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Medication Allergies </strong>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_medication_allergies_medication_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_medication_allergies_medication_1, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_allergies_reaction_1, :placeholder => 'Reaction', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :medical_history_medication_allergies_medication_2, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_allergies_reaction_2, :placeholder => 'Reaction', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :medical_history_medication_allergies_medication_3, :placeholder => 'Medication', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_medication_allergies_reaction_3, :placeholder => 'Reaction', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Operations</strong>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_operations_operation_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_operations_operation_1, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_1, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_1 %>
        <br>
        <%= f.text_field :medical_history_operations_operation_2, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_2, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_2 %>
        <br>
        <%= f.text_field :medical_history_operations_operation_3, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_3, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_3 %>
        <br>
        <%= f.text_field :medical_history_operations_operation_4, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_4, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_4 %>
        <br>
        <%= f.text_field :medical_history_operations_operation_5, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_5, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_5 %>
        <br>
        <%= f.text_field :medical_history_operations_operation_6, :placeholder => 'Operation', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_operations_operation_date_6, :class => "medical_Patient_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_operations_operation_date_6 %>
        <br>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Previous Illnesses </strong>

      <p style="text-align: justify;">
        (e.g. diabetes, hypertension, hospitalizations)
      </p>
    </div>
    <div class="control-group">
      <%= f.label :medical_history_previous_illnesses_illness_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :medical_history_previous_illnesses_illness_1, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_1, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_1 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_2, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_2, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_2 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_3, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_3, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_3 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_4, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_4, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_4 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_5, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_5, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_5 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_6, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_6, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_6 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_7, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_7, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_7 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_8, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_8, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_8 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_9, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_9, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_9 %>
        <br>
        <%= f.text_field :medical_history_previous_illnesses_illness_10, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :medical_history_previous_illnesses_diagnosis_10, :class => "medical_Patient_form_date_selector", :placeholder => 'Diagnosis Date', :style => 'width:150px;margin-bottom:10px;', "data-value" => f.object.medical_history_previous_illnesses_diagnosis_10 %>
        <br>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "6" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "8" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="family_history">
    <div class="control-group">
      <%= f.label :family_history_mother_age, 'Mother Age', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :family_history_mother_age %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_mother_living_or_deceased, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_mother_living_or_deceased, "Living" %>Living
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_mother_living_or_deceased, "Deceased" %>Deceased
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_father_age, 'Father Age', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :family_history_father_age %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_father_living_or_deceased, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_father_living_or_deceased, "Living" %>Living
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_father_living_or_deceased, "Deceased" %>Deceased
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Illnesses </strong>
    </div>
    <div class="control-group">
      <%= f.label :family_history_illnesses_illness_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :family_history_illnesses_illness_1, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :family_history_age_at_diagnosis_1, :placeholder => 'Age At Diagnosis', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :family_history_illnesses_illness_2, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :family_history_age_at_diagnosis_2, :placeholder => 'Age At Diagnosis', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :family_history_illnesses_illness_3, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :family_history_age_at_diagnosis_3, :placeholder => 'Age At Diagnosis', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :family_history_illnesses_illness_4, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :family_history_age_at_diagnosis_4, :placeholder => 'Age At Diagnosis', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :family_history_illnesses_illness_5, :placeholder => 'Illness', :style => 'width:150px;margin-bottom:10px;' %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :family_history_age_at_diagnosis_5, :placeholder => 'Age At Diagnosis', :style => 'width:150px;margin-bottom:10px;' %>
        <br>
      </div>
    </div>
    <div class="control-group">
      <strong style="font-size: 18px">Siblings </strong>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_1, "Brother" %>Brother
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_1, "Sister" %>Sister
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_living_deceased_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_1, "Living" %>Living
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_1, "Deceased" %>Deceased
        <% end %>
        <%= f.text_field :family_history_siblings_age_1, :placeholder => 'Age', :style => 'width:150px;margin-left:25px;' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_2, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_2, "Brother" %>Brother
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_2, "Sister" %>Sister
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_living_deceased_1, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_2, "Living" %>Living
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_2, "Deceased" %>Deceased
        <% end %>
        <%= f.text_field :family_history_siblings_age_2, :placeholder => 'Age', :style => 'width:150px;margin-left:25px;' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_3, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_3, "Brother" %>Brother
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_3, "Sister" %>Sister
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :family_history_siblings_3, raw('&nbsp'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_3, "Living" %>Living
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :family_history_siblings_living_deceased_3, "Deceased" %>Deceased
        <% end %>
        <%= f.text_field :family_history_siblings_age_3, :placeholder => 'Age', :style => 'width:150px;margin-left:25px;' %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "7" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "9" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="social_history">
    <div class="control-group">
      <%= f.label :social_history_live, 'I Live', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_live, "Alone" %>Alone
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_live, "With Other(s)" %>With Other(s)
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_live_with_whom, "Live With Whom", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_live_with_whom %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_no_of_children, "No Of Children", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_no_of_children %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_age_of_children, "Ages of Children", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_age_of_children %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_exercise_approximately, "I Exercise Approximately This Many Days Per Week", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :social_history_exercise_approximately, ['1', '2', '3', '4', '5', '6', '6'], {:include_blank => true}, {:style => "width:222px;"} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_ex_minutes_per_day, "For This Many Minutes Per Day", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_ex_minutes_per_day %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_exercise_type, "Exercise Type", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_exercise_type %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_hobbies, "Hobbies", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_hobbies %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_smoking_tobacco, 'Smoking Tobacco', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_smoking_tobacco, "Never", :class => 'medical_patient_form_smoking' %>Never
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_smoking_tobacco, "I did, but I quit", :class => 'medical_patient_form_smoking' %>
          I did, but I quit
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_smoking_tobacco, "I smoke now", :class => 'medical_patient_form_smoking' %>
          I smoke now
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_smoking_packs_per_day, "Packs Per Day", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_smoking_packs_per_day %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_smoking_no_of_years, "Number Of Years", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_smoking_no_of_years %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_smoking_quit_years, "I quit smoking in the year ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_smoking_quit_years %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_drink_alcoholic_beverage, 'I Drink', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_drink, :placeholder => 'Number', :style => 'width:150px;margin-right:25px;' %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_drink_alcoholic_beverage, "Day" %>Day
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_drink_alcoholic_beverage, "Week" %>Week
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_have_used_recreational_drugs, 'Have you ever used recreational drugs ?', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_have_used_recreational_drugs, "Yes", :class => 'medical_patient_form_recreational_drug' %>
          Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_have_used_recreational_drugs, "No", :class => 'medical_patient_form_recreational_drug' %>
          No
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_yes_i_have_used_recreational_drugs, "I have used these recreational drugs", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_yes_i_have_used_recreational_drugs %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_have_recently_traveled, 'Have you recently traveled out of the country ?', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_have_recently_traveled, "Yes", :class => 'medical_patient_form_recently_traveled' %>
          Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_have_recently_traveled, "No", :class => 'medical_patient_form_recently_traveled' %>
          No
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_yes_i_recently_traveled, "I have traveled out of the country to", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_yes_i_recently_traveled %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "8" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "10" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="review_of_systems">
  <div class="control-group">
    <strong>
      I Have Recently Had Problems With:
    </strong>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_general_fatigue, 'General', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_general_fatigue %>Fatigue
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_general_fever %>Fever
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_general_night_sweats %>Night Sweats
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_general_heat_or_cold %>Heat Or Cold intolerance
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_i_have, 'I Have', :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :review_of_sym_i_have, "Gained" %>Gained
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :review_of_sym_i_have, "Loss" %>Loss
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_i_have_many_pounds, raw('&nbsp'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :review_of_sym_i_have_many_pounds, :class => 'input-small', :placeholder => "No Of Pounds" %>
      <%= f.text_field :review_of_sym_i_have_time_periods, :class => 'input-small', :placeholder => "Time Period" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_skin_rash, 'Skin', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_skin_rash %>Rash
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_skin_hair_loss %>Hair Loss
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_skin_easy_bruising %>Easy bruising
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_skin_toenail_inflection %>Toenail infection
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_eye_redness, 'Eyes', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_eye_redness %>Redness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_eye_pain %>Pain
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_eye_discharge %>Discharge
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_eye_dryness %>Dryness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_eye_visual_changes %>Visual changesn
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_nose_bleed, 'Nose', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_nose_bleed %>Nose bleed
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_nose_nasal_discharge %>Nasal discharge/drainage
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_nose_sinus_pain %>Sinus pain
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_nose_sinus_congestion %>Sinus congestion
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_skin_rash, 'Mouth', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_mouth_oral_lesions %>Oral lesions
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_mouth_white_patches %>White patches
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_mouth_bleeding_gums %>Bleeding gums
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_mouth_toothache %>Toothache
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_throat_hoarseness, 'Throat', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_throat_hoarseness %>Hoarseness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_throat_sore_throat %>Sore Throat
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_throat_pain_with_swallowing %>Pain with swallowing
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_throat_difficultly_swallowing %>Difficulty swallowing
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_respiratory_cough, 'Respiratory', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_respiratory_cough %>Cough
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_respiratory_coughing_blood %>Coughing blood
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_respiratory_shortness_of_breath_at_rest %>Shortness of breath at rest
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_respiratory_shortness_of_breath_on_exertion %>Shortness of breath on exertion
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_respiratory_wheezing %>Wheezing
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_cardiovascular_chest_discomfort, 'Cardiovascular', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_chest_discomfort %>Chest discomfort
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_palpitations %>Palpitations (Heart fluttering or racing)
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_ankle_swelling %>Ankle swelling
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_fast_heart_beat %>Fast heart beat
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_difficulty_breathing %> Difficulty breathing when lying down
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_cardiovascular_awakening_short_of_breath %>Awakening short of breath
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_urinary_pain_with_urination, 'Urinary', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_pain_with_urination %>Pain with urination
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_urinating_frequently %>Urinating frequently
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_incontinence %>Incontinence (losing your urine) with coughing/laughing
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_urinating_before_bathroom %>Urinating before you can get to the bathroom
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_urination_at_night %>Urination at night
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_difficulty_starting_a_urine_stream %>Difficulty starting a urine stream
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_urinary_blood_in_urine %>Blood in urine
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_gastrointestinal_nausea, 'Gastrointestinal', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_nausea %>Nausea/Vomiting
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_diarrhea %>Diarrhea
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_blood_in_the_stool %>Blood in the stool
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_black_tarry_stool %>Black, tarry stool
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_heartburn %>Heartburn/Reflux
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_gastrointestinal_constipation %>Constipation
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_sexual_decreased_libido, 'Sexual', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sexual_decreased_libido %>Decreased libido
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sexual_difficulty_achieving_and_maintaining, :readonly => true  %>Difficulty achieving and maintaining an erection
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_musculoskeletal_joint_pain_or_stiffness, 'Musculoskeletal', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_musculoskeletal_joint_pain_or_stiffness %>Joint pain or stiffness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_musculoskeletal_joint_swelling_or_redness %>Joint swelling or redness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_musculoskeletal_back_pain %>Back pain
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_musculoskeletal_muscle_pain %>Muscle pain
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_joints_that_are_painful_or_stiff, 'Joints that are painful or stiff', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :review_of_sym_joints_that_are_painful_or_stiff, :readonly => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_joints_that_are_swelling_or_have_redness, 'Joints that are swelling or have redness', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :review_of_sym_joints_that_are_swelling_or_have_redness, :readonly => true  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_neurological_difficulty_with_memory, 'Neurological', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_difficulty_with_memory %>Difficulty with memory
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_fainting %>Fainting/Losing consciousness
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_weakness %>Weakness:
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_muscle_painSeizures %>Muscle painSeizures
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_severe_or_frequent_headaches %>Severe or frequent headaches
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_difficulty_with_balance %>Difficulty with balance
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_difficulty_walking %>Difficulty walking
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_lightheadedness %>Lightheadednesses
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_neurological_vertigo %>Vertigo (world spinning around you)
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_psychological_depression, 'Psychological', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_depression %>Depression
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_lack_of_interest %>Lack of interest in and enjoyment of activities
        that used to bring pleasure/fulfillment
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_decreased_sense_of_self_worth %>Decreased sense of self-worth
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_difficulty_focusing %>Difficulty focusing and concentrating
      <% end %>  <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_desire_to_end_your_life %>Desire to end your life
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_disabling_anxiety %>Disabling anxiety
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_psychological_panic_attacks %>Panic attacks
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review_of_sym_sleep_difficulty_getting_to_sleep, 'Sleep', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sleep_difficulty_getting_to_sleep %>Difficulty getting to sleep
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sleep_difficulty_difficulty_staying_asleep %>Difficulty staying asleep
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sleep_difficulty_snoring %>Snoring
      <% end %> <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :review_of_sym_sleep_difficulty_cessation_of_breathing %>Cessation of breathing during sleep (as
        reported by bed partner)
      <% end %>
    </div>
  </div>
  <div class="medical_patient_form_footer_links">
    <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "9" do %>
      &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
    <% end %>
    <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "11" do %>
      Next&nbsp;<i class="icon-chevron-right icon-white"></i>
    <% end %>
  </div>
  </div>
  <div class="tab-pane" id="health_maintenance">
    <div class="control-group">
      <%= f.label :health_maintenance_bone_density_test, 'Bone Density Test', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_bone_density_test, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_bone_density_test %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_skin_cancer_screening, 'Skin Cancer Screening Check by a Dermatologist', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_skin_cancer_screening, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_skin_cancer_screening %>
      </div>
    </div>
    <div class="control-group">
      <strong>
        Most Recent Cholesterol Test
      </strong>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_test_date, 'Test Date', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_test_date, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_test_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_total_cholesterol, 'Total Cholesterol', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_total_cholesterol %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_LDL, 'LDL', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_LDL %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_HDL, 'HDL', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_HDL %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_triglycerides, ' Triglycerides ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_triglycerides %>
      </div>
    </div>
    <div class="control-group">
      <strong>
        Vaccines
      </strong>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_most_recent_tetanus_vaccine_booster, 'Most Recent Tetanus Vaccine Booster', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_most_recent_tetanus_vaccine_booster, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_most_recent_tetanus_vaccine_booster %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_shingles_vaccine, 'Shingles Vaccine', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_shingles_vaccine, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_shingles_vaccine %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_pneumovax, 'Pneumovax (pneumonia vaccine)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_pneumovax, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_pneumovax %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_flu_vaccine, 'Flu Vaccine', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_flu_vaccine, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_flu_vaccine %>
      </div>
    </div>
    <div class="control-group">
      <strong>
        Colon Cancer Screening
      </strong>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_colonoscopy, 'Colonoscopy', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_colonoscopy, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_colonoscopy %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_colonoscopy_test_results, 'Colonoscopy Test Results', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :health_maintenance_colonoscopy_test_results, "Normal", :class => 'medical_patient_form_colonoscopy_test' %>Normal
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :health_maintenance_colonoscopy_test_results, "Abnormal", :class => 'medical_patient_form_colonoscopy_test' %>Abnormal
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_description_of_abnormal_test_results, 'Description of abnormal test results', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_description_of_abnormal_test_results, :style => 'width:450px' %>
      </div>
    </div>
    <div class="control-group">
      <strong>
        NOTE: THESE NEXT QUESTIONS ARE ONLY ASKED IF GENDER = FEMALE
      </strong>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_most_recent_mammogram, ' Most Recent Mammogram', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_most_recent_mammogram, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_most_recent_mammogram %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_most_recent_pap_smear, ' Most Recent Pap Smear ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_most_recent_pap_smear, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_most_recent_pap_smear %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_abnormal_pap_smear, ' Abnormal Pap Smear ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_abnormal_pap_smear, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_abnormal_pap_smear %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_hysterectomy, ' Hysterectomy ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_hysterectomy, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_hysterectomy %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_why_was_hysterectomy_performed, 'Why Was Hysterectomy Performed?', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_why_was_hysterectomy_performed,:readonly => true ,:style => 'width:450px' %>
      </div>
    </div>
    <div class="control-group">
      <strong>

        NOTE: THIS NEXT QUESTION IS ONLY ASKED IF GENDER = MALE
      </strong>
    </div>
    <div class="control-group">
      <%= f.label :health_maintenance_digital_rectal_exam_and_psa_checked, 'Digital Rectal Exam and PSA Checked', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_maintenance_digital_rectal_exam_and_psa_checked, :class => "medical_Patient_form_date_selector", :placeholder => 'YYYY-MM-DD', "data-value" => f.object.health_maintenance_digital_rectal_exam_and_psa_checked %>
      </div>
    </div>
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "10" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "12" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="submit_form_to_doctor">
    <div class="medical_patient_form_footer_links">
      <%= link_to "#", :class => 'btn btn-primary medical_patient_form_nav_link', :data_tab_index => "11" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit submit_tag_text, :class => 'btn btn-primary span4 btn-large', :style => 'font-size:28px'   %>
    </div>
  </div>
  </div>
  </div>
<% end %>
