<div class="index">
  <div class="well">
    Appointment Date : <%= text_field_tag :medical_appointment_date, "", :class => "date_selector",:style => 'margin:0' %> &nbsp;
    <%= label_tag "checkboxs", :class => 'checkbox inline' do %>
      <%= check_box_tag :all_medical_appointments, 1, @check_show_all, :class => "show_all", :style => "margin-bottom: 7px" %>&nbsp;Show
      All Appointments
    <% end %>
  </div>
  <% javascript 'pagination' %>
  <div id="appointmets">
    <%= render 'medical_list' %>
  </div>
</div>

<script>
  var selected_date = '<%= @appointment_date%>';
  if (selected_date == "") {
    var selected_date = new Date();
  }

  $('#medical_appointment_date').livequery(function(){
    $(this).datepicker().datepicker("option", "dateFormat", "yy-mm-dd");
  });

  if($('#all_medical_appointments').is(':checked') ==  false) {
    $('#medical_appointment_date').datepicker('setDate', selected_date);
  }

  //medical appointments
  $('#medical_appointment_date').bind('change', function(){
    selected_date = $(this).val();
    $('#all_medical_appointments').prop('checked', false);
    load_medical_appointments();
  });

  $('#all_medical_appointments').bind('change', function(){
    if($(this).is(':checked')) {
      $('#medical_appointment_date').val('');
    } else {
      $('#medical_appointment_date').datepicker("setDate", selected_date);
    }
    load_medical_appointments();
  });

  function load_medical_appointments() {
    var date = $('#medical_appointment_date').val();
    var show_all = $('#all_medical_appointments').is(':checked');
    $('#medical').load('/consumer/medical?appointment_date=' + date + '&show_all=' + show_all);
  }
</script>