<%= form_for appointment, :url => appointment.new_record? ? doctor_appointments_path : doctor_appointment_path(appointment), :html => {:class => "form-horizontal"} do |f| %>

  <div class="field">
    <div class = "labelcss">Firstname </div>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <div class = "labelcss">Lastname </div>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <div class = "labelcss">Email</div>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <div class = "labelcss">Appointment Date</div>
    <%= f.date_select :date %>

  </div>

  <div class="field" id = "tasks">
    <div class = "labelcss"> Appointment Time</div>
    <%= f.select :time_hrs, ["00",1,2,3,4,5,6,7,8,9,10,11], :include_blank => true %>
    <%= f.select :time_min, ["00",5,10,15,20,25,30,35,40,45,50,55], :include_blank => true %>
    <%= f.select :AM_PM, %W(AM PM), :include_blank => true %>
  </div>
  <div class = "labelcss">
    <% for form in @forms %>
      <%= check_box_tag "form_ids[]", form.id %>
      <%= form.formname %><%if form.id==4%><br><%end%>
    <% end%>
  </div>

  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>

<% end %>



