<div class="index">

  <h4><%= link_to 'New Appointment', new_medical_appointment_path %></h4>

  <div style="margin-bottom: 10px;">
    Appointment Date : <%= text_field_tag :date, "", :class => "appointments_date_selector" %>
  </div>
  <% if !@appointments.blank? %>
    <table class="table table-bordered table-header-bg">
      <tr>
        <th style="text-align: center">Next Appointment</th>
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">Form</th>
        <th style="text-align: center">Appointment</th>
        <th style="text-align: center">Sent</th>
        <th style="text-align: center">Status</th>
        <th style="text-align: center">Action</th>
      </tr>
      <% @appointments.each do |appointment| %>
        <% if appointment.timesent %>
          <% appointment.timesent = appointment.timesent.to_datetime %>
          <% timesent_date = appointment.timesent.in_time_zone(set_time_zone).strftime("%m-%d-%Y") %>
          <% timesent_hrs = appointment.timesent.in_time_zone(set_time_zone).strftime("%H") %>
          <% timesent_min = appointment.timesent.in_time_zone(set_time_zone).strftime("%M") %>
          <%# timesent_date = appointment.timesent.strftime("%Y-%m-%d") %>
          <%# timesent_hrs = appointment.timesent.strftime("%H") %>
          <%# timesent_min = appointment.timesent.strftime("%M") %>
          <% timesent_hrs_int = timesent_hrs.to_i %>
          <% var = 12 %>
          <% if var<=timesent_hrs_int %>
            <% timesent_hrs = (timesent_hrs_int - var).to_s %>
            <% am_pm = "PM" %>
            <% @timesent = timesent_date +" "+ timesent_hrs +":"+ timesent_min +" "+ am_pm %>
          <% else %>
            <% am_pm = "AM" %>
            <% @timesent = timesent_date +" "+ timesent_hrs +":"+ timesent_min +" "+ am_pm %>
          <% end %>
        <% end %>
        <tr>
          <td><%= link_to "Next Appt", new_medical_appointment_path(:appointment_id => appointment.id), :class => "next_appointment", :title => "Next Appointment" %></td>
          <td><%= appointment.firstname.to_s + " " + appointment.lastname.to_s %></td>
          <td><%= appointment.email %></td>
          <% if appointment.formname.blank? %>
            <td></td>
            <td><%= appointment.appointment_date_time.strftime("%m-%d-%Y %I:%M %p") %></td>
            <td><%= @timesent %></td>
            <td></td>
            <td><%= link_to "Resend", edit_medical_appointment_path(appointment) %></td>
          <% else %>
            <td><%= appointment.formname %></td>
            <td><%= appointment.appointment_date_time.strftime("%m-%d-%Y %I:%M %p") %></td>
            <td><%= @timesent %></td>
            <% if appointment.status == "Submitted" || appointment.status == "Updated" %>
              <td><%= appointment.timereceived.to_datetime.in_time_zone(set_time_zone).strftime("%m-%d-%Y %I:%M %p") %></td>
              <td>
                <% @medical_patient_form = MedicalPatientForm.find_by_medical_appointment_id(appointment.id) %>
                <%= link_to "View PDF", get_medical_patient_form_consumer_medical_index_path(:id => @medical_patient_form.id), :target => '_blank' %>
              </td>
            <% elsif appointment.status == "In Progress" %>
              <td>
                    <span data-placement="top" rel="tooltip" data-original-title="Form editing has begun but is not complete">
          In Progress
                </span>
              </td>
              <td><%= link_to "Resend", edit_medical_appointment_path(appointment) %></td>
            <% elsif appointment.status == "Pending" %>
              <td>
                    <span data-placement="top" rel="tooltip" data-original-title="Form editing has not begun">
          Pending
                </span>
              </td>
              <td><%= link_to "Resend", edit_medical_appointment_path(appointment) %></td>
            <% else %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br/>
    <%#= will_paginate @appointments %>
    <%= will_paginate @appointments, :renderer => BootstrapPagination::Rails %>

  <% else %>
    <p>No Appointments On This Day</p>
  <% end %>
</div>


<script>
  $("span").tooltip({
  });
</script>