<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<% if resource.errors.any? %>
<div id="error_explanation">
	<ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul> 
  </div> 
<% end %>

  <p><%= f.label :email %></br>
  <%= f.text_field :email %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></br>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></br>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></br>
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>
<% if current_user.role == "patient" %>
<% @patient = Patient.all(:conditions => ['user_id = ?', current_user.id]) %>
<p><%= link_to'Update Profile Information', edit_patient_path(@patient) %></br></br>
<%= link_to "Back", patients_path %>
<% end %>
<% if current_user.role == "doctor" %>
<% @doctor = Doctor.all(:conditions => ['user_id = ?', current_user.id]) %>
<p><%= link_to'Update Profile Information', edit_doctor_path(@doctor) %></br></br>
<%= link_to "Back", doctors_path %>
<% end %>
<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p> -->


</div>