<% @user = User.where("email =?", @appointment.email).first %>

<html>
<head>
  <style type="text/css">ol {
    margin: 0;
    padding: 0
  }

  .c5 {
    vertical-align: top;
    width: 234pt;
    border-style: solid;
    border-color: #000000;
    border-width: 0pt;
    padding: 5pt 5pt 5pt 5pt
  }

  .c2 {
    vertical-align: top;
    width: 104.2pt;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0pt;
    padding: 5pt 5pt 5pt 5pt
  }

  .c15 {
    vertical-align: middle;
    width: 363.8pt;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0pt;
    padding: 5pt 5pt 5pt 5pt
  }

  .c3 {
    line-height: 1.0;
    text-align: center;
    direction: ltr
  }

  .c4 {
    max-width: 468pt;
    background-color: #ffffff;
    padding: 72pt 72pt 72pt 72pt
  }

  .c0 {
    color: inherit;
    text-decoration: inherit
  }

  .c1 {
    color: #1155cc;
    text-decoration: underline
  }

  .c12 {
    vertical-align: super
  }

  .c6 {
    direction: ltr
  }

  .c10 {
    text-align: center
  }

  .c11 {
    border-collapse: collapse
  }

  .c9 {
    font-weight: bold
  }

  .c7 {
    height: 11pt
  }

  .c13 {
    height: 0pt
  }

  .c14 {
    font-size: 18pt
  }

  .c8 {
    font-size: 12pt
  }

  .title {
    padding-top: 24pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 36pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 6pt
  }

  .subtitle {
    padding-top: 18pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 24pt;
    font-family: "Georgia";
    padding-bottom: 4pt
  }

  p {
    color: #000000;
    font-size: 11pt;
    margin: 0;
    font-family: "Arial"
  }

  h1 {
    padding-top: 24pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 18pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 6pt
  }

  h2 {
    padding-top: 18pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 14pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 4pt
  }

  h3 {
    padding-top: 14pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-size: 12pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 4pt
  }

  h4 {
    padding-top: 12pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 11pt;
    font-family: "Arial";
    padding-bottom: 2pt
  }

  h5 {
    padding-top: 11pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-size: 10pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 2pt
  }

  h6 {
    padding-top: 10pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 10pt;
    font-family: "Arial";
    padding-bottom: 2pt
  }</style>
</head>
<body class="c4"><p class="c6 c10 c7"><span></span></p>
<% if @appointment.responsible_party.empty? and @appointment.formname.empty? and @preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.firstname %> <%= @appointment.lastname %>,
</span></p>

  <p class="c6 c7"><span></span></p>
  This message confirms your appointment with Karen Naples D.D.S. P.A. at <%= @appointment.time_hrs %>
  :<%= @appointment.time_min %>  <%= @appointment.AM_PM %>
  on <%= @appointment.date.strftime("%A %B %d, %Y") %> at our office located at 200 S. Bell Blvd., Ste E2, Cedar Park,
  Texas 78613.

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif @appointment.responsible_party.empty? and @appointment.formname.empty? and !@preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @preferred_name %> <%= @appointment.lastname %>,
</span></p>

  <p class="c6 c7"><span></span></p>
  This message confirms your appointment with Karen Naples D.D.S. P.A. at <%= @appointment.time_hrs %>
  :<%= @appointment.time_min %>  <%= @appointment.AM_PM %>
  on <%= @appointment.date.strftime("%A %B %d, %Y") %> at our office located at 200 S. Bell Blvd., Ste E2, Cedar Park,
  Texas 78613.

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif @appointment.responsible_party.empty? and !@appointment.formname.empty? and @preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.firstname %> <%= @appointment.lastname %>,
</span></p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
    <span>Prior to your appointment, please complete our online</span>
  </p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
 <span class="c1 c9">
  <% if @user %>
  <%= link_to 'New Patient', @login_url %>
  <% else %>
  <%= link_to 'New Patient', @registration_url %>
  <% end %>
</span><span>form.</span>

    <span>  and Smile Evaluation forms.</span>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif @appointment.responsible_party.empty? and !@appointment.formname.empty? and !@preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @preferred_name %> <%= @appointment.lastname %>,
</span></p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
    <span>Prior to your appointment, please complete our online</span>
  </p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
 <span class="c1 c9">
  <% if @user %>
  <%= link_to 'New Patient', @login_url %>
  <% else %>
  <%= link_to 'New Patient', @registration_url %>
  <% end %>
</span><span>form.</span>

    <span>  and Smile Evaluation forms.</span>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif !@appointment.responsible_party.empty? and @appointment.formname.empty? and @preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.responsible_party %>,
</span></p>

  <p class="c6 c7"><span></span></p>
  This message confirms your appointment with Karen Naples D.D.S. P.A. at <%= @appointment.time_hrs %>
  :<%= @appointment.time_min %>  <%= @appointment.AM_PM %>
  on <%= @appointment.date.strftime("%A %B %d, %Y") %> at our office located at 200 S. Bell Blvd., Ste E2, Cedar Park,
  Texas 78613.

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif !@appointment.responsible_party.empty? and @appointment.formname.empty? and !@preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.responsible_party %>,
</span></p>
  This message confirms your appointment with Karen Naples D.D.S. P.A. at <%= @appointment.time_hrs %>
  :<%= @appointment.time_min %>  <%= @appointment.AM_PM %>
  on <%= @appointment.date.strftime("%A %B %d, %Y") %> at our office located at 200 S. Bell Blvd., Ste E2, Cedar Park,
  Texas 78613.

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif !@appointment.responsible_party.empty? and !@appointment.formname.empty? and @preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.responsible_party %>,
</span></p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
    <span>Prior to your appointment, please complete our online</span>
  </p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
 <span class="c1 c9">
  <% if @user %>
  <%= link_to 'New Patient', @login_url %>
  <% else %>
  <%= link_to 'New Patient', @registration_url %>
  <% end %>
</span><span>form.</span>

    <span>  and Smile Evaluation forms.</span>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% elsif !@appointment.responsible_party.empty? and !@appointment.formname.empty? and !@preferred_name.empty? %>
  <p class="c6"><span>Dear <%= @appointment.responsible_party %>,
</span></p>

  <p class="c6"><span>Dear <%= @appointment.responsible_party %>,
</span></p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
    <span>Prior to your appointment, please complete our online</span>
  </p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
 <span class="c1 c9">
  <% if @user %>
  <%= link_to 'New Patient', @login_url %>
  <% else %>
  <%= link_to 'New Patient', @registration_url %>
  <% end %>
</span><span>form.</span>

    <span>  and Smile Evaluation forms.</span>

  <p class="c6 c7"><span></span></p>

  <p class="c6 c7"><span></span></p>

  <p class="c6">
<% end %>
<p><span>You may contact us at (512) 249-8488 Monday through Thursday 8 a.m. to 5 p.m.</span></p>

<p><span>Kind Regards,,</span></p>

<p class="c6"><span>Karen Naples D.D.S. P.A.</span></p>

