<p><%= @appointment.lastname.capitalize %>,</p>
<p>Your appointment has been confirmed </p>
<p>Your appointment is on <%= @appointment.date%> at <%= @appointment.time_hrs %>:<%= @appointment.time_min %>  <%= @appointment.AM_PM %></p>
<p>Please signup using <%= @appointment.email %>
 by <%= link_to 'Clicking here', "http://localhost:3000/" %></p>
