<!-- <p><%= @appointment.firstname.capitalize %>,</p>
<p>Your appointment has been confirmed </p>
<p>Your appointment is on <%= @appointment.date.strftime("%m-%d-%Y")%> at <%= @appointment.time_hrs %>:<%= @appointment.time_min %>  <%= @appointment.AM_PM %></p>
<p>Please signup using <%= @appointment.email %>
 by <%= link_to 'Clicking here', "#{Configuration.notifier_path}users/registration" %></p>
<p>If you already have an account, Signin
 by <%= link_to 'Clicking here', "#{Configuration.notifier_path}deviseroles/index" %></p> -->

<% @user = User.where("email =?", @appointment.email).first %>

<p>Dear <%= @appointment.firstname.capitalize %> <%= @appointment.lastname.capitalize %>,</p>

<p>This email confirms your appointment with Dr. <%= @doctor.firstname.capitalize %> <%= @doctor.lastname.capitalize %> on <%= @appointment.date.strftime("%m-%d-%Y")%> at <%= @appointment.time_hrs %>:<%= @appointment.time_min %>  <%= @appointment.AM_PM %>.</p>

<p>iFor.ms is the technology partner of Dr. <%= @doctor.firstname.capitalize %> <%= @doctor.lastname.capitalize %> providing their patients with online access to their patient forms.  Prior to your visit with Dr. <%= @doctor.firstname.capitalize %> <%= @doctor.lastname.capitalize %>, please 
<% if @user %>
<%= link_to 'click here', "#{Configuration.notifier_path}/users/login" %>
<%else%>
<%= link_to 'click here', "#{Configuration.notifier_path}/users/registration" %> 
<%end%> 
to complete and submit your patient forms.  Dr. <%= @doctor.firstname.capitalize %> <%= @doctor.lastname.capitalize %> will have your printed forms available for your review and signature when you arrive for your appointment.</p>

<p>To sign in to iFor.ms, please use the email address you supplied to Dr. <%= @doctor.firstname.capitalize %> <%= @doctor.lastname.capitalize %> when booking your appointment.</p>

Regards,<br />
iFor.ms

<% @iform = Iform.find(15) %>
