<% @user = User.where("email =?", @appointment.email).first %>

<div style="margin: 0 auto;width: 100%;min-height: 480px;border: 1px solid #cccccc;padding: 10px;">
 <div>
  <table style="background:#add8e6;border: 1px solid #d3d3d3;height: 85px;">
    <td>
      <a href="http://www.capitalmedicalclinic.com/" target="_blank"
         style="text-decoration: none;height: 80px">
        <img src=" <%= "#{NOTIFIER_PATH}/assets/capital_medical_clinic_header.png" %> " style="height: 80px;;width: 90%">
      </a>
    </td>
    <td>
      <img src=" <%= "#{NOTIFIER_PATH}/assets/dr-aventa-127.jpg" %> " style="height: 75px;padding-right: 15px;width:100%;"/>
    </td>
  </table>
 </div>
<div style="margin: 20px 0;">
  <% if @appointment.responsible_party.empty? and @appointment.formname.empty? and @preferred_name.empty? %>
    <p> Dear <%= @appointment.firstname %> <%= @appointment.lastname %>,</p>

    <p>
      This message confirms your appointment with Tony R. Aventa, M.D.
      at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>
  <% elsif @appointment.responsible_party.empty? and @appointment.formname.empty? and !@preferred_name.empty? %>
    <p>Dear <%= @preferred_name %> <%= @appointment.lastname %>,</p>

    <p>
      This message confirms your appointment with Tony R. Aventa, M.D.
      at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>
  <% elsif @appointment.responsible_party.empty? and !@appointment.formname.empty? and @preferred_name.empty? %>
    <p>Dear <%= @appointment.firstname %> <%= @appointment.lastname %>,</p>

    <p>
      This message confirms your appointment with Tony R. Aventa, M.D.
      at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>

    <p>
      Prior to your appointment, please complete our online
      <% if @user %>
        <%= link_to 'New Patient', @login_url %>
      <% else %>
        <%= link_to 'New Patient', @registration_url %>
      <% end %>
      form.</p>
  <% elsif @appointment.responsible_party.empty? and !@appointment.formname.empty? and !@preferred_name.empty? %>
    <p>Dear <%= @preferred_name %> <%= @appointment.lastname %>,</p>

    <p>
      This message confirms your appointment with Tony R. Aventa, M.D.
      at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>

    <p>
      Prior to your appointment, please complete our online
      <% if @user %>
        <%= link_to 'New Patient', @login_url %>
      <% else %>
        <%= link_to 'New Patient', @registration_url %>
      <% end %>
      form.</p>
  <% elsif !@appointment.responsible_party.empty? and @appointment.formname.empty? and @preferred_name.empty? %>
    <p>Dear <%= @appointment.responsible_party %>,</p>

    <p>
      This message confirms <%= @appointment.firstname %> <%= @appointment.lastname %>'s appointment with Tony R.
      Aventa, M.D. at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>
  <% elsif !@appointment.responsible_party.empty? and @appointment.formname.empty? and !@preferred_name.empty? %>
    <p>Dear <%= @appointment.responsible_party %>,</p>

    <p>
      This message confirms <%= @preferred_name %> <%= @appointment.lastname %>'s appointment with Tony R. Aventa,
      M.D. at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>
  <% elsif !@appointment.responsible_party.empty? and !@appointment.formname.empty? and @preferred_name.empty? %>
    <p>Dear <%= @appointment.responsible_party %>,</p>

    <p>
      This message confirms <%= @appointment.firstname %> <%= @appointment.lastname %>'s appointment with Tony R.
      Aventa, M.D. at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>

    <p>Prior to your appointment, please complete our online
      <% if @user %>
        <%= link_to 'New Patient', @login_url %>
      <% else %>
        <%= link_to 'New Patient', @registration_url %>
      <% end %>
      form.</p>
  <% elsif !@appointment.responsible_party.empty? and !@appointment.formname.empty? and !@preferred_name.empty? %>
    <p>Dear <%= @appointment.responsible_party %>,</p>

    <p>
      This message confirms <%= @preferred_name %> <%= @appointment.lastname %>'s appointment with Tony R. Aventa,
      M.D. at <%= @appointment.appointment_date_time.strftime('%I:%M %p') %>
      on <%= @appointment.appointment_date_time.strftime("%A %B %d, %Y") %> at our office located
      at <%= link_to "1301 W. 38th Street, Suite 601, Austin TX 78705-1069.", "http://goo.gl/maps/zO9HS" %>
    </p>

    <p>Prior to your appointment, please complete our online
      <% if @user %>
        <%= link_to 'New Patient', @login_url %>
      <% else %>
        <%= link_to 'New Patient', @registration_url %>
      <% end %>
      form.</p>
  <% end %>

  <p>Kind Regards,</p>

  <p>Tony R. Aventa, M.D.</p>
</div>
<div style="background:none repeat scroll 0 0 #e7e4dd;border-top:6px solid #ded9ce;font-size:13px;padding:10px;text-align:center;width:auto">
  <span>Capital Medical Clinic 1301 W. 38th Street, Suite 601 Austin Texas 78705-1069 512-454-5171</span>
</div>
</div>
