<!-- <p><%= @doctor.firstname.capitalize %>,</p>
<p>You received a Form from your Patient, <%= @appointment.firstname.capitalize %> <%= @appointment.lastname.capitalize %> </p>
<p>Appointment is on <%= @appointment.date.strftime("%m-%d-%Y") %> at <%= @appointment.time_hrs %>:<%= @appointment.time_min %>  <%= @appointment.AM_PM %></p>
<p><%= link_to 'Click here', "#{NOTIFIER_PATH}iforms/#{@iform.id}" %> to view the Form</p> -->


<p><%= @appointment.firstname %> <%= @appointment.lastname %> has just submitted <%= @formname %> to your iFor.ms account.  You may view it by <%= link_to 'clicking here', NOTIFIER_PATH+get_iform_iforms_path(:iform_id => @iform.id) %></p>

Regards,<br />
iFor.ms