<p><%= @activity.leader_first_name %> <%= @activity.leader_last_name %>,</p>
<p><%= @girl_scout.parent_first_name %> <%= @girl_scout.parent_last_name %> submitted the <%= @activity.activity_name %> Parent Permission Form for <%= @girl_scout.first_name %> <%= @girl_scout.last_name %>.