<p><%= @activity.leader_first_name %> <%= @activity.leader_last_name %>,</p>
<p><%= @girl_scout.parent_first_name %> <%= @girl_scout.parent_last_name %> submitted the <%= link_to @activity.activity_name,permission_forms_girl_scouts_troop_leaders_url(:id => @activity.id) %> Parent Permission Form for <%= @girl_scout.first_name %> <%= @girl_scout.last_name %>.