<% title 'Change Password'%>

<div class="<%= page_action %>">
  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => update_password_patient_profile_path, :html => {:class => "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>Update Password</legend>
        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :current_password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :current_password %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>