<% if !@appointments.blank? %>
  <table class="table table-bordered table-header-bg">
    <tr>
      <th>Name</th>
      <th>Service Provider</th>
      <th>Form</th>
      <th>Appointment</th>
      <th>Received</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% count = 1 %>
    <% @appointments.each do |i| %>
      <% if i.timesent %>
        <% i.timesent = i.timesent.to_datetime %>
        <% timesent_date = i.timesent.strftime("%Y-%m-%d") %>
        <% timesent_hrs = i.timesent.in_time_zone("Central Time (US & Canada)").strftime("%H") %>
        <% timesent_min = i.timesent.strftime("%M") %>
        <% timesent_hrs_int = timesent_hrs.to_i %>
        <% var = 12 %>
        <% if var<timesent_hrs_int %>
          <% timesent_hrs = (timesent_hrs_int - var).to_s %>
          <% am_pm = "PM" %>
          <% @timesent = timesent_date.to_date.strftime("%m-%d-%Y")+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
        <% else %>
          <% timesent_hrs = timesent_hrs_int.to_s %>
          <% am_pm = "AM" %>
          <% @timesent = timesent_date.to_date.strftime("%m-%d-%Y")+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
        <% end %>
      <% end %>
      <tr>
        <td><%= i.firstname %> <%= i.lastname %></td>
        <td><%= i.doctorname %></td>
        <% if i.formname.blank? %>
          <td></td>
          <td><%= i.date.strftime("%m-%d-%Y") %> <%= i.time_hrs %>:<%= i.time_min.to_i < 10 ? "0" + i.time_min.to_s  : i.time_min %>  <%= i.AM_PM %></td>
          <td><%= @timesent %></td>
          <td></td>
          <td></td>
        <% else %>
          <td><%= i.formname %></td>
          <td><%= i.date.strftime("%m-%d-%Y") %> <%= i.time_hrs %>:<%= i.time_min.to_i < 10 ? "0" + i.time_min.to_s  : i.time_min %>  <%= i.AM_PM %></td>
          <td><%= @timesent %></td>
          <% @appformjoins = Appformjoin.where("appointment_id = ? and patient_user_id = ?", i, current_user.id).limit(1) %>
          <% @appformjoins.each do |j| %>
            <% if j.formsubmittedtime %>
              <% j.formsubmittedtime = j.formsubmittedtime.to_datetime %>
              <% formsubmittedtime_date = j.formsubmittedtime.strftime("%Y-%m-%d") %>
              <% formsubmittedtime_hrs = j.formsubmittedtime.strftime("%H") %>
              <% formsubmittedtime_min = j.formsubmittedtime.strftime("%M") %>
              <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %>
              <% var = 12 %>
              <% if var<=formsubmittedtime_hrs_int %>
                <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
                <% am_pm = "PM" %>
                <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")#+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm        %>
              <% else %>
                <% am_pm = "AM" %>
                <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")#+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm        %>
              <% end %>
            <% end %>
            <% if j.iform_id %>
              <% @iform = Iform.find(j.iform_id) %>
            <% end %>
            <% if j.status == "updated" %>
              <td>
                 <span data-placement="top" rel="tooltip" data-original-title="User submitted an updated form on this <%= @formsubmittedtime %>">
            Updated <%= @formsubmittedtime %>
                </span>
              </td>
              <td>
                <%= link_to "Update", edit_iform_path(:id => @iform.id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %>
              </td>
            <% elsif j.status == "submitted" %>
              <td>
                 <span data-placement="top" rel="tooltip" data-original-title="User submitted form on this <%= @formsubmittedtime %>">
           Submitted <%= @formsubmittedtime %>
                </span>
              </td>
              <td>
                <%= link_to "Update", edit_iform_path(:id => @iform.id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %>
              </td>
            <% elsif j.status == "in progress" && j.iform_id %>
              <td>
                 <span data-placement="top" rel="tooltip" data-original-title="Form editing has begun but is not complete">
             In Progress
                </span>
              </td>
              <td>
                <%= link_to "Edit", edit_iform_path(:id => @iform.id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id, :iform_status => j.status, :iform_name => j.formname), :target => '_blank' %>
              </td>
            <% else %>
              <td>
                 <span data-placement="top" rel="tooltip" data-original-title="Form editing has not begun">
              Pending
                </span>
              </td>
              <td>
                <%= link_to "Edit", new_iform_path(:name => j.formname, :appointment_id => i) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_status => j.status, :iform_name => j.formname), :target => '_blank' %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>

      <% if false %>
        <% if i.formname.blank? %>
        <% elsif i.formname.lenght == 1 %>
        <% else %>
          <td>Multiple Forms</td>
          <td><%= i.date.strftime("%m-%d-%Y") %> <%= i.time_hrs %>:<%= i.time_min %>  <%= i.AM_PM %></td>
          <td><%= @timesent %></td>
          <% @appformjoins = Appformjoin.where("appointment_id = ? and patient_user_id = ?", i, current_user.id) %>
          <td>
            <% @appformjoins.each do |j| %>
              <% if j.formsubmittedtime %>
                <% j.formsubmittedtime = j.formsubmittedtime.to_datetime %>
                <% formsubmittedtime_date = j.formsubmittedtime.strftime("%Y-%m-%d") %>
                <% formsubmittedtime_hrs = j.formsubmittedtime.strftime("%H") %>
                <% formsubmittedtime_min = j.formsubmittedtime.strftime("%M") %>
                <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %>
                <% var = 12 %>
                <% if var<=formsubmittedtime_hrs_int %>
                  <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
                  <% am_pm = "PM" %>
                  <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")#+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm        %>
                <% else %>
                  <% am_pm = "AM" %>
                  <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")#+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm        %>
                <% end %>
              <% end %>
              <% if j.iform_id %>
                <% @iform = Iform.find(j.iform_id) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", i %> |
            <%= link_to "View PDF", i %>
          </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <br/>
  <%= will_paginate @appointments, :renderer => BootstrapPagination::Rails %>
<% else %>
  <p>No Appointments On This Day </p>
<% end %>

<script>
  $(".appointments_date_selector").datepicker({
    onSelect:function (dateText, inst) {
      $('#dental').load('/consumer/dental?appointment_date=' + dateText);
    }
  }).datepicker("option", "dateFormat", "yy-mm-dd").datepicker('setDate', params['appointment_date'] ? params['appointment_date'] : '');

  $("span").tooltip({
  });

</script>