<div class="index" xmlns="http://www.w3.org/1999/html">
  <div class="well">
    Appointment Date : <%= text_field_tag :dental_appointment_date, "", :class => "appointments_date_selector",:style => 'margin:0' %> &nbsp;
    <%= label_tag "checkboxs", :class => 'checkbox inline', :styles => "width:150px" do %>
      <%= check_box_tag :all_dental_appointments, 1, @check_show_all, :class => "show_all", :style => "margin-bottom: 7px" %>&nbsp;Show
      All Appointments
    <% end %>
  </div>
  <% javascript 'pagination' %>
  <div id="dental_appointmets">
    <%= render 'appointments_list' %>
  </div>
</div>

<script>
  var selected_date = '<%= @appointment_date%>';
  if (selected_date == "") {
  //  var selected_date = new Date();
  }

  $('#dental_appointment_date').livequery(function(){
    $(this).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange:'1940:' + new Date().getFullYear()
    }).datepicker("option", "dateFormat", "mm-dd-yy");
  });

  if($('#all_dental_appointments').is(':checked') ==  false) {
    $('#dental_appointment_date').datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange:'1940:' + new Date().getFullYear()
    }).datepicker('setDate', selected_date ? change_date_format(selected_date) : '');
    if(selected_date == ''){
      $('#all_dental_appointments').prop('checked', true);//added extra for checkbox checked
    }
  }



  //dental appointments
  $('#dental_appointment_date').bind('change', function(){
    selected_date = $(this).val();
    $('#all_dental_appointments').prop('checked', false);
    load_dental_appointments();
  });

  $('#all_dental_appointments').bind('change', function(){
    if($(this).is(':checked')) {
      $('#dental_appointment_date').val('');
    } else {
      $('#dental_appointment_date').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange:'1940:' + new Date().getFullYear()
      }).datepicker("setDate", selected_date ? change_date_format(selected_date) : '');
    }
    load_dental_appointments();
  });

  function load_dental_appointments() {
    var date = $('#dental_appointment_date').val() ? set_default_date_format($('#dental_appointment_date').val()) : '';
    var show_all = $('#all_dental_appointments').is(':checked');
    $('#dental').load('/consumer/dental?appointment_date=' + date + '&show_all=' + show_all);
  }
</script>
