<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => "form-horizontal"}) do |f| %>
    <% if resource.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :username, "User Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, "New password", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "Password confirmation", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_password, "Current password", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :current_password %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <% if @service_provider.nil? %>

    <% @profile = Profile.find_by_user_id(current_user.id) %>

    <% if @profile %>
      <%= link_to 'Update Profile Information', edit_profile_path(@profile) %>

    <% else %>
      <%= link_to 'Update Profile Information', new_profile_path %>
    <% end %>

    <br><br>
    <%= link_to "Back", consumer_index_path %>

  <% elsif @service_provider.id == 2 || @service_provider.id == 3 || @service_provider.id == 6 || @service_provider.id == 8 ||
    @service_provider.id == 9 || @service_provider.id == 10 || @service_provider.id == 11 || @service_provider.id == 11 %>

    <% @profile = GirlScoutTroopLeaderProfile.find_by_user_id(current_user.id) %>

    <% if @profile %>
      <%= link_to 'Update Profile Information', edit_girl_scout_troop_leader_profile_path(@profile) %>

    <% else %>
      <%= link_to 'Update Profile Information', new_girl_scout_troop_leader_profile_path %>
    <% end %>

    <br><br>
    <%= link_to "Back", consumer_index_path %>

  <% elsif @service_provider.id == 1 || @service_provider.id == 4 || @service_provider.id == 5 || @service_provider.id == 7 %>

    <% @doctor = Doctor.find_by_user_id(current_user.id) %>

    <% if @doctor %>
      <%= link_to 'Update Profile Information', edit_doctor_path(@doctor) %>

    <% else %>
      <%= link_to 'Update Profile Information', new_doctor_path %>
    <% end %>

    <br><br>
    <%= link_to "Back", doctors_path %>

  <% else %>
  <% end %>


  <% if false %>
    <% if current_user.role == "patient" %>
      <% @patient = Patient.find_by_user_id(current_user.id) %>
      <%= link_to 'Update Profile Information', edit_patient_path(@patient) %>
      <br><br>
      <%= link_to "Back", patients_path %>
    <% end %>
    <% if current_user.role == "doctor" %>
      <% @doctor = Doctor.all(:conditions => ['user_id = ?', current_user.id]) %>
      <%= link_to 'Update Profile Information', edit_doctor_path(@doctor) %>
      <br><br>
      <%= link_to "Back", doctors_path %>
    <% end %>
    <!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p> -->

  <% end %>
</div>

<style>
  .form-horizontal .control-label {
    width: 144px;
  }
</style>