<div class="container">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if @appointment %>
    <%= hidden_field_tag :appointment_id, @appointment.id %>
      <% end %>
    <% if @medical_appointment %>
      <%= hidden_field_tag :medical_appointment_id, @medical_appointment.id %>
    <% end %>
    <% if false %>
    <% if resource.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% end %>
    <div class="control-group">
      <%= f.label :username, "User Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username %>&nbsp;&nbsp;
        <span class="username_status default">Enter your Username.</span>
        <span class="username_status ok">Available</span>
        <span class="username_status error">Not Available</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>&nbsp;&nbsp;
        <span class="email_status default">What’s your email address?</span>
        <span class="email_status ok">Available</span>
        <span class="email_status error">Not Available</span>
        <span class="email_status not_valid">Enter Valid Email</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, "Password", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password %>&nbsp;&nbsp;
        <span class="password_status default">6 characters or more! Be tricky.</span>
        <span class="password_status ok">Password is okay!</span>
        <span class="password_status error">Password must be at least 6 characters.</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "Password Confirmation", :class => 'control-label', :style => "width:148px" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>&nbsp;&nbsp;
        <span class="password_confirmation_status ok">Password is matched!</span>
        <span class="password_confirmation_status error">Password doesn't match!.</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%#= @ayah.get_publisher_html.html_safe if !current_user.present? %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Sign Up",:class => 'btn btn-primary btn-large span3 users_submit',:disabled => "disabled"  %>
    </div>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
</div>

<script type="text/javascript">
  $('#user_username, #user_email , #user_password, #user_password_confirmation').keyup(function(){
    var params = $('#new_user').serializeArray();
    $.post('/registration/validate_users_sign_up_page',params );
    return false;
  });

  <% if @appointment %>
  $('#user_email').val('<%= @appointment.email %>');
  var params = $('#new_user').serializeArray();
  $.post('/registration/validate_users_sign_up_page',params );
  <% end %>

  <% if @medical_appointment %>
  $('#user_email').val('<%= @medical_appointment.email %>');
  var params = $('#new_user').serializeArray();
  $.post('/registration/validate_users_sign_up_page',params );
  <% end %>
</script>

