<h2>Contact Us</h2>

<%= form_tag(contacts_deviseroles_path, :name => "form", :method => 'post', :class => 'form-horizontal') do %>
  <div class="control-group">
    <%= label_tag :name, :class => 'control-label' do %>
      Name<span style="color: red;">*</span>
    <% end %>
    <div class="controls">
      <%= text_field_tag :name %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :email,:class => 'control-label' do %>
    Email<span style="color: red;">*</span>
<% end %>
    <div class="controls">
      <%= text_field_tag :email %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :subject,:class => 'control-label' do %>
      Subject<span style="color: red;">*</span>
    <% end %>
    <div class="controls">
      <%= text_field_tag :subject %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :message,'Message', :class => 'control-label' do %>
      Message<span style="color: red;">*</span>
    <% end %>
    <div class="controls">
      <%= text_area_tag :message,'', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= @ayah.get_publisher_html.html_safe %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Submit", :class => 'btn btn-primary btn-large span3' %>
  </div>

<% end %>

