<%= javascript_tag do %>
  var girl_scouts_council_options = '<%= escape_javascript options_for_select(StaticData.girl_scouts_sign_up_service_type) %>';
  var boy_scouts_council_options = '<%= escape_javascript options_for_select(StaticData.boy_scouts_sign_up_service_type) %>';
<% end %>

<div class="hide">
  <%= title 'Sign Up For Your FREE 90-day Girl Scouts Troop Leader Trial Account!' %>
</div>
<h3> Sign Up For Your FREE 90-day Boy or Girl Scouts Troop Leader Trial Account! </h3>

<%= form_for @user, :url => deviseroles_girl_scouts_sign_up_path, :html => {:class => 'form-horizontal girl_scout_sign_up_form', :multipart => true} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= label_tag :select_type, '', :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= radio_button_tag :select_type, "girl_scouts", true, :class => "select_council_type_for_sign_up" %> Girl Scouts
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= radio_button_tag :select_type, "boy_scouts", false, :class => "select_council_type_for_sign_up" %> Boy Scouts
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :username, "User Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username %>&nbsp;&nbsp;
      <span class="username_status default">Enter your Username.</span>
      <span class="username_status ok">Available</span>
      <span class="username_status error">Not Available</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "Email", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>&nbsp;&nbsp;
      <span class="email_status default">What’s your email address?</span>
      <span class="email_status ok">Available</span>
      <span class="email_status error">Not Available</span>
      <span class="email_status not_valid">Enter Valid Email</span>
    </div>
  </div>
  <%= f.fields_for :girl_scout_troop_leader_profile do |builder| %>
    <div class="control-group">
      <%= builder.label :first_name, "First Name", :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :first_name %>
      </div>
    </div>
    <div class="control-group">
      <%= builder.label :last_name, "Last Name", :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :last_name %>
      </div>
    </div>
    <div class="control-group">
      <%= builder.label :council_type, "Council", :class => 'control-label' %>
      <div class="controls">
        <%= builder.select :council_type,options_for_select(StaticData.girl_scouts_sign_up_service_type), :class => 'boy_scout_list' %> &nbsp;&nbsp;
        <span class="council_type_status default">Select council type here.</span>
        <span class="council_type_status ok">Council is okay!</span>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :password, "Password", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>&nbsp;&nbsp;
      <span class="password_status default">6 characters or more! Be tricky.</span>
      <span class="password_status ok">Password is okay!</span>
      <span class="password_status error">Password must be at least 6 characters.</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Password Confirmation", :class => 'control-label', :style => "width:148px" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>&nbsp;&nbsp;
      <span class="password_confirmation_status ok">Password is matched!</span>
      <span class="password_confirmation_status error">Password doesn't match!.</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%#= @ayah.get_publisher_html.html_safe if !current_user.present? %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Sign Up",:class => 'btn btn-primary btn-large span3 users_submit',:disabled => "disabled" %>
  </div>

<% end %>

<script type="text/javascript">
  $('#user_username, #user_email , #user_password, #user_password_confirmation').keyup(function(){
    var params = $('#new_user').serializeArray();
    $.post('/deviseroles/validate_girl_scout_sign_up_page',params );
    return false;
  });

  $('select#user_girl_scout_troop_leader_profile_attributes_council_type').change(function(){
    var params = $('#new_user').serializeArray();
    $.post('/deviseroles/validate_girl_scout_sign_up_page',params );
    return false;
  });
</script>
