<h3>Dental History</h3>
<div class="field">
    <%= f.label :concerns_accomplished_byorthodontics %><br />
    <%= f.text_field :concerns_accomplished_byorthodontics %>
</div>
<div class="field">
    <%= f.radio_button :undogone_orthodontictreatment, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :undogone_orthodontictreatment, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :problemwith_previousdentalwork, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :problemwith_previousdentalwork, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :pain_jawjoint, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :pain_jawjoint, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :current_dentalhealth, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :current_dentalhealth, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :likeyoursmile, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :likeyoursmile, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :gumsbleed, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :gumsbleed, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :speechproblems, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :speechproblems, "n" %>
    <%= f.label :No %>
</div>

<div class="field">
    <%= f.radio_button :breaththrumouth, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :breaththrumouth, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :speechproblem, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :speechproblem, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :missing_or_extra_permanantteeth, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :missing_or_extra_permanantteeth, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :evertaken_phenfen, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :evertaken_phenfen, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :when_phenfen %><br />
    <%= f.text_field :when_phenfen %>
</div>
<div class="field">
    <%= f.radio_button :smoke_or_usetobacco, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :smoke_or_usetobacco, "n" %>
    <%= f.label :No %>
</div>