<% submit_tag_text = "Submit form to #{@doctor.firstname.capitalize} #{@doctor.lastname.capitalize}" %>

<%= form_for @iform, :method => :post, :html => { :id => "dd_dd", :onsubmit => "unmask_str();" } do |f| %>
  <% if @iform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iform.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @iform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3 style = "color:#808080">&nbsp You are filling <%= session[:formname] %> form </h3>

  <div class="hidden">
    <%= hidden_field_tag "iform_id", @iform.id %>
  </div>

<fieldset>
<legend>Tell Us About Your Child</legend>


<p>
<label>Childs Firstname</label>
<%= f.text_field :Self_Name_First, :onblur => "validate_firstname();" %>&nbsp<span id="firstname_errorMsg" style = "color:red; margin-left:60px"></span>
</p>

<p>
<label>Childs Middlename</label>
<%= f.text_field :Self_Name_Middle %>
</p>

<p>
<label>Childs Lastname</label>
<%= f.text_field :Self_Name_Last, :onblur => "validate_lastname();" %>&nbsp<span id="lastname_errorMsg" style = "color:red; margin-left:60px"></span>
</p>

<p>
	<label>Sex</label>
    <%= f.radio_button :Self_Sex, "f" %>
    Female
	<%= f.radio_button :Self_Sex, "m" %>
    Male
</p>

<p>
<label>Childs Nickname</label>
<%= f.text_field :Self_Name_Preferred %>
</p>

<p>
    <%= f.label :Birthdate %>
    <%= f.date_select :Self_Birthdate, :start_year => 1990, :end_year => Date.current.year, :include_blank => true %>
</p>

<p>
    <label>Social Security Number</label>
    <%= f.text_field :Self_Social_Security_Number %>
</p>

<p>
  <label>School</label>
  <%= f.text_field :Self_School %>
</p>

<p>
  <label>Grade</label>
  <%= f.text_field :Self_Grade %>
</p>

<p>
  <label>Hobbies/Sports</label>
  <%= f.text_field :Self_Hobbies %>
</p>

<p>
  <label>Homephone</label>
  <%= f.text_field :Self_Phone_Home %>
</p>

<p>
  <label>Home Address1</label>
  <%= f.text_field :Self_Home_Address1 %>
</p>

<p>
  <label>Home Address2</label>
  <%= f.text_field :Self_Home_Address2 %>
</p>

<p>
  <%= f.label :City %>
  <%= f.text_field :Self_Home_City %>
</p>

<p>
  <%= f.label :State %>
  <%= f.select :Self_Home_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true  %>
</p>

<p>
  <%= f.label :Zip %>
  <%= f.text_field :Self_Home_Postal_Code %>
</p>

<p>
  <%= f.label :Email %>
  <%= f.text_field :Self_Email_Address %>
</p>
<br />
<div class="actions">
  <%= f.submit submit_tag_text  %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Child Accompanied by</legend>

<p>
  <%= f.label :Firstname %>
  <%= f.text_field :Accompanying_Your_Child_Today_Name_First %>
</p>

<p>
  <%= f.label :Lastname %>
  <%= f.text_field :Accompanying_Your_Child_Today_Name_Last %>
</p>

<p>
  <%= f.label :Relation %>
  <%= f.text_field :Accompanying_Your_Child_Today_Relationship %>
</p>

<p>
	<label>Do you have legal custody of this child?</label>
    <%= f.radio_button :Accompanying_Your_Child_Today_Has_Legal_Custody_Of_Child, true %>
    Yes
	<%= f.radio_button :Accompanying_Your_Child_Today_Has_Legal_Custody_Of_Child, false %>
    No
</p>

<p>
  <label>List brothers/sisters<br /> with age:</label>
  <%= f.text_area :Accompanying_Your_Child_Today_Siblings_And_Ages, :cols => 27, :rows => 5 %>
</p>

<p>
  <label>Whom may we Thank for referring you?</label>
  <%= f.text_field :Self_Referred_By %>
</p>

<p>
  <label>General Dentist</label>
  <%= f.text_field :Self_General_Dentist_Name %>
</p>

<p>
  <%= f.label :Lastvisitdate %>
  <%= f.date_select :Self_General_Dentist_Date_Last_Appointment, :start_year => 2002, :end_year => Date.current.year, :include_blank => true %>
</p>

<p>
  <label>Marital Status</label>
  <%= f.radio_button :Self_Marital_Status, "single" %>
  Single
	<%= f.radio_button :Self_Marital_Status, "married" %>
  Married
	<%= f.radio_button :Self_Marital_Status, "divorced" %>
  Divorced &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<%= f.radio_button :Self_Marital_Status, "widowed" %>
  Widowed
	<%= f.radio_button :Self_Marital_Status, "separated" %>
  Separated
</p>
<br />
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Parents Information</legend>
<h4>Mother’s Information:</h4>

<p>
	<%= f.radio_button :Mother_Stepmother_Or_Gaurdian, "mother" %>
    Mother
	<%= f.radio_button :Mother_Stepmother_Or_Gaurdian, "stepmother" %>
    Step Mother<br />
    <%= f.radio_button :Mother_Stepmother_Or_Gaurdian, "guardian" %>
    Guardian
	<%= f.radio_button :Mother_Stepmother_Or_Gaurdian, "none" %>
    None
</p>

<p>
  <%= f.label :Firstname %>
  <%= f.text_field :Mother_Name_First %>
</p>

<p>
  <%= f.label :Lastname %>
  <%= f.text_field :Mother_Name_Last %>
</p>

<p>
  <%= f.label :Middlename %>
  <%= f.text_field :Mother_Name_Middle %>
</p>

<p>
    <%= f.label :Birthdate %>
    <%= f.date_select :Mother_Birthdate, :start_year => 1950, :end_year => Date.current.year, :include_blank => true %>
</p>

<p>
  <%= f.label :Homephone %>
  <%= f.text_field :Mother_Phone_Home %>
</p>

<p>
  <%= f.label :Workphone %>
  <%= f.text_field :Mother_Phone_Work %>
</p>

<p>
  <label>Workphone Extension</label> 
  <%= f.text_field :Mother_Phone_Work_Extension %>
</p>

<p>
  <%= f.label :Employer %>
  <%= f.text_field :Mother_Employer_Name %>
</p>

<p>
  <label> How long at current job </label>
  <%= f.text_field :Mother_Length_Of_Employment %>
</p>

<p>
  <label>Job tile </label>
  <%= f.text_field :Mother_Job_Title %>
</p>

<p>
  <label> Social Security Number</label>
  <%= f.text_field :Mother_Social_Security_Number %>
</p>

<p>
  <label> Drivers License Number</label>
  <%= f.text_field :Mother_Drivers_License_Number %>
</p>

<p>
  <label> Drivers License State</label>
  <%= f.select :Mother_Drivers_License_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true%>
</p>

<h4>Father’s Information:</h4>

<p>
    <%= f.radio_button :Father_Stepfather_Or_Gaurdian, "father" %>
   Father
   	<%= f.radio_button :Father_Stepfather_Or_Gaurdian, "stepfather" %>
  Step Father<br />
	<%= f.radio_button :Father_Stepfather_Or_Gaurdian, "guardian" %>
    Guardian 
	<%= f.radio_button :Father_Stepfather_Or_Gaurdian, "none" %>
    None
</p>

<p>
  <%= f.label :Firstname %>
  <%= f.text_field :Father_Name_First %>
</p>

<p>
  <%= f.label :Lastname %>
  <%= f.text_field :Father_Name_Last %>
</p>

<p>
  <%= f.label :Middlename %>
  <%= f.text_field :Father_Name_Middle %>
</p>

<p>
    <%= f.label :Birthdate %>
    <%= f.date_select :Father_Birthdate, :start_year => 1950, :end_year => Date.current.year, :include_blank => true %>
</p>

<p>
  <%= f.label :Homephone %>
  <%= f.text_field :Father_Phone_Home %>
</p>

<p>
  <%= f.label :Workphone %>
  <%= f.text_field :Father_Phone_Work %>
</p>

<p>
  <label>Workphone Extension</label>
  <%= f.text_field :Father_Phone_Work_Extension %>
</p>

<p>
  <%= f.label :Employer %>
  <%= f.text_field :Father_Employer_Name %>
</p>

<p>
  <label> How long at current job </label>
  <%= f.text_field :Father_Length_Of_Employment %>
</p>

<p>
  <label>Job tile </label>
  <%= f.text_field :Father_Job_Title %>
</p>

<p>
  <label> Social Security Number</label>
  <%= f.text_field :Father_Social_Security_Number %>
</p>

<p>
  <label> Drivers License Number</label>
  <%= f.text_field :Father_Drivers_License_Number %>
</p>

<p>
  <label> Drivers License State</label>
  <%= f.select :Father_Drivers_License_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
</p>
<br />
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Responsible Persons<br /> Information</legend>

<h4>Person Responsible for Account</h4>
 <p>
   <label>Firstname</label>
   <%= f.text_field :Person_Responsible_For_Account_Name_First %>
 </p>

 <p>
   <label>Lastname</label> 
   <%= f.text_field :Person_Responsible_For_Account_Name_Last %>
 </p>

 <p>
   <label>Middlename</label> 
   <%= f.text_field :Person_Responsible_For_Account_Name_Middle %>
 </p>

 <p>
   <%= f.label :Workphone %> 
   <%= f.text_field :Person_Responsible_For_Account_Phone_Work %>
 </p>

 <p>
   <label>Workphone Ext</label> 
   <%= f.text_field :Person_Responsible_For_Account_Phone_Work_Extension %>
 </p>

 <p>
   <%= f.label :Homephone %> 
   <%= f.text_field :Person_Responsible_For_Account_Phone_Home %>
 </p>

 <p>
   <label>Billing Address1</label> 
   <%= f.text_field :Person_Responsible_For_Account_Address1 %>
 </p>

 <p>
   <label>Billing Address2</label> 
   <%= f.text_field :Person_Responsible_For_Account_Address2 %>
 </p>

 <p>
   <label>City</label> 
   <%= f.text_field :Person_Responsible_For_Account_City %>
 </p>

 <p>
   <label>State</label> 
  <%= f.select :Person_Responsible_For_Account_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
 </p>

 <p>
   <label>Zip</label> 
   <%= f.text_field :Person_Responsible_For_Account_Postal_Code %>
 </p>

 <p>
   <label>Previous Address1</label> 
   <%= f.text_field :Person_Responsible_For_Account_Previous_Address1 %>
 </p>

 <p>
   <label>Previous Address2</label> 
   <%= f.text_field :Person_Responsible_For_Account_Previous_Address2 %>
 </p>

 <p>
   <label>City</label> 
   <%= f.text_field :Person_Responsible_For_Account_Previous_City %>
 </p>

 <p>
   <label>State</label> 
   <%= f.select :Person_Responsible_For_Account_Previous_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
 </p>

 <p>
   <label>Zip</label> 
   <%= f.text_field :Person_Responsible_For_Account_Previous_Postal_Code %>
 </p>

 <p>
   <%= f.label :Relation %> 
   <%= f.text_field :Person_Responsible_For_Account_Relationship %>
 </p>

 <p>
   <label>Social Security Number</label> 
   <%= f.text_field :Person_Responsible_For_Account_Social_Security_Number %>
 </p>

 <p>
   <%= f.label :Employer %> 
   <%= f.text_field :Person_Responsible_For_Account_Employer_Name %>
 </p>

 <p>
   <label>Drivers License State</label>  
   <%= f.select :Person_Responsible_For_Account_Drivers_License_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
 </p>

 <p>
   <label>Drivers License Number</label> 
   <%= f.text_field :Person_Responsible_For_Account_Drivers_License_Number %>
 </p>

<h4>Who is responsible for making appointments?</h4>
<p>
   <label>Firstname</label> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Name_First %>
</p>

 <p>
   <label>Lastname</label> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Name_Last %>
 </p>

 <p>
   <label>Middlename</label> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Name_Middle %>
 </p>

 <p>
   <%= f.label :Workphone %> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Phone_Work %>
 </p>

 <p>
   <label>Workphone Ext</label> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Phone_Work_Extension %>
 </p>

 <p>
   <%= f.label :Homephone %> 
   <%= f.text_field :Person_Responsible_For_Making_Appointments_Phone_Home %>
 </p>

<h4>Neighbor or Relative not living with you</h4>
<p>
   <label>Firstname</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Name_First %>
</p>

 <p>
   <label>Lastname</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Name_Last %>
 </p>

 <p>
   <label>Middlename</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Name_Middle %>
 </p>

 <p>
   <%= f.label :Phone %> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Phone %>
 </p>

 <p>
   <label>Address1</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Address1 %>
 </p>

 <p>
   <label>Address2</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Address2 %>
 </p>

 <p>
   <label>City</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_City %>
 </p>

 <p>
   <label>State</label> 
   <%= f.select :Neighbor_Or_Relative_Not_Living_With_You_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
	'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
 </p>

 <p>
   <label>Zip</label> 
   <%= f.text_field :Neighbor_Or_Relative_Not_Living_With_You_Postal_Code %>
 </p>

<br />
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Orthodontic Insurance</legend>

<h3>Primary Insurance</h3>

<p>
<label>Orthodontic coverage </label>
	<%= f.radio_button :Insurance_Company_Primary_Orthodontic_Coverage, true %>
    Yes &nbsp
	<%= f.radio_button :Insurance_Company_Primary_Orthodontic_Coverage, false %>
    No
</p>


<p>  
<label>Dental coverage</label>
	<%= f.radio_button :Insurance_Company_Primary_Dental_Coverage, true %>
    Yes &nbsp
	<%= f.radio_button :Insurance_Company_Primary_Dental_Coverage, false %>
    No 
</p>


  <p>
    <label>Insurance Company Name </label> 
    <%= f.text_field :Insurance_Company_Primary_Name %>
  </p>

  <p>
    <label>Insurance Company Address1 </label> 
    <%= f.text_field :Insurance_Company_Primary_Address1 %>
  </p>
 
  <p>
    <label>Insurance Company Address2 </label> 
    <%= f.text_field :Insurance_Company_Primary_Address2 %>
  </p>

  <p>
    <label>City </label> 
    <%= f.text_field :Insurance_Company_Primary_City %>
  </p>

  <p>
    <label>State </label> 
    <%= f.select :Insurance_Company_Primary_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Zip </label> 
    <%= f.text_field :Insurance_Company_Primary_Postal_Code %>
  </p>

  <p>
    <label>Insurance Company Phone </label> 
    <%= f.text_field :Insurance_Company_Primary_Phone %>
  </p>

  <p>
    <label>Group # (Plan, Local or Policy #) </label> 
    <%= f.text_field :Insurance_Company_Primary_Group_Plan_Local_Policy_Number %>
  </p>

  <p>
    <label>Insured’s Firstname </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Name_First %>
  </p>

  <p>
    <label>Insured’s Lastname </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Name_Last %>
  </p>

  <p>
    <label>Insured’s Birthdate </label> 
    <%= f.date_select :Insurance_Company_Primary_Insured_Birthdate , :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <label>Insured’s Relation </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Relationship %>
  </p>
  
  <p>
    <label>Insured's Social Security Number </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Social_Security_Number %>
  </p>

  <p>
    <label>Insured's Employer </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Employer_Name %>
  </p>

<h3>Secondary Insurance</h3>

<p>
<label>Orthodontic coverage </label>
	<%= f.radio_button :Insurance_Company_Secondary_Orthodontic_Coverage, true %>
    Yes &nbsp
	<%= f.radio_button :Insurance_Company_Secondary_Orthodontic_Coverage, false %>
   No
</p>

<p>
  <label>Dental coverage </label>
	<%= f.radio_button :Insurance_Company_Secondary_Dental_Coverage, true %>
    Yes &nbsp
	<%= f.radio_button :Insurance_Company_Secondary_Dental_Coverage, false %>
    No
</p>


  <p>
    <label>Insurance Company Name </label> 
    <%= f.text_field :Insurance_Company_Secondary_Name %>
  </p>

  <p>
    <label>Insurance Company Address1 </label> 
    <%= f.text_field :Insurance_Company_Secondary_Address1 %>
  </p>

  <p>
    <label>Insurance Company Address2 </label> 
    <%= f.text_field :Insurance_Company_Secondary_Address2 %>
  </p>

  <p>
    <label>City </label> 
    <%= f.text_field :Insurance_Company_Secondary_City %>
  </p>

  <p>
    <label>State </label> 
   	<%= f.select :Insurance_Company_Secondary_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Zip </label> 
    <%= f.text_field :Insurance_Company_Secondary_Postal_Code %>
  </p>

  <p>
    <label>Insurance Company Phone </label> 
    <%= f.text_field :Insurance_Company_Secondary_Phone %>
  </p>

  <p>
    <label>Group # (Plan, Local or Policy #) </label> 
    <%= f.text_field :Insurance_Company_Secondary_Group_Plan_Local_Policy_Number %>
  </p>

  <p>
    <label>Insured’s Firstname</label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Name_First %>
  </p>

  <p>
    <label>Insured’s Lastname</label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Name_Last %>
  </p>

  <p>
    <label>Insured’s Birthdate </label> 
    <%= f.date_select :Insurance_Company_Secondary_Insured_Birthdate , :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <label>Insured’s Relation </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Relationship %>
  </p>

  <p>
    <label>Insured's Social Security Number </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Social_Security_Number %>
  </p>

  <p>
    <label>Insured's Employer </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Employer_Name %>
  </p>

<br />
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Dental History </legend>
	<p>
	    <label>What are the main concerns that you would like orthodontics to accomplish? </label>
	    <%= f.text_area :Dental_History_Orthodontic_Goals, :cols => 27, :rows => 5 %>
	  </p>

	<p>
		
	<label>Has your child ever been Orthodontic evaluation </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Previous_Orthodontic_Evaluation, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Previous_Orthodontic_Evaluation, false %>
	    No
    </p>

	<p>  
	<label>Has your child ever had orthodontic
		treatment before? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Previous_Orthodontic_Treatment, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Previous_Orthodontic_Treatment, false %>
	    No
    </p>

	<p>  
	<label>Has your child ever experienced pain /
		     discomfort in jaw joint (TMJ / TMD)? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Previous, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Previous, false %>
	    No
	</p>

	<p>  
	<label>Is your child now experiencing pain /
		     discomfort in your jaw joint (TMJ / TMD)? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Current, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Current, false %>
	    No
	</p> 
	</br>

	  <p>
		&nbsp&nbsp<label>Please describe your child's current physical health:</label>  &nbsp
	    <%= f.radio_button :Med_His_Current_Physical_Health, "good" %>
	    Good
		<%= f.radio_button :Med_His_Current_Physical_Health, "fair" %>
	    Fair
		<%= f.radio_button :Med_His_Current_Physical_Health, "poor" %>
	    Poor
	  </p>

	<p>
	<label>Have there been any injuries to the
		Face? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Injury_To_Face, true %>
		    Yes &nbsp
			<%= f.radio_button :Dental_History_Injury_To_Face, false %>
		    No
	</p>
	
	<p>  
	<label>Have there been any injuries to the
		Mouth? </label> &nbsp &nbsp &nbsp
		 <%= f.radio_button :Dental_History_Injury_To_Mouth, true %>
		    Yes &nbsp
			<%= f.radio_button :Dental_History_Injury_To_Mouth, false %>
		    No
	</p>
	
	<p>  
	<label>Have there been any injuries to the
		Teeth? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Injury_To_Teeth, true %>
		    Yes &nbsp
			<%= f.radio_button :Dental_History_Injury_To_Teeth, false %>
		    No
	</p>
	
	<p>  
	<label>Have there been any injuries to the
		Chin? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Injury_To_Chin, true %>
		    Yes &nbsp
			<%= f.radio_button :Dental_History_Injury_To_Chin, false %>
		    No
	</p>

	<p>  
	<label>Does your child brush his / her teeth daily? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Brush_Teeth_Daily, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Brush_Teeth_Daily, false %>
	    No
   </p> 
   
	<p>  
	<label>Floss his / her teeth daily? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Floss_Teeth_Daily, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Floss_Teeth_Daily, false %>
	    No
   </p>

	<p>  
	<label>Has your child been informed of any extra</br> permanent teeth? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Any_Extra_Permanent_Teeth, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Any_Extra_Permanent_Teeth, false %>
	    No
    </p>

	<p>  
	<label>Has your child been informed of any missing teeth? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Any_Missing_Teeth, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Any_Missing_Teeth, false %>
	    No
   </p>

	<p>  
	<label>Have adenoids or tonsils been removed? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Dental_History_Tonsils_Removed, true %>
	    Yes &nbsp
		<%= f.radio_button :Dental_History_Tonsils_Removed, false %>
	    No
	</p>
	
	<p>  
	<label>Are you currently under the care of a physician? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Med_His_Currently_Under_The_Care_Of_A_Physician, true %>
	    Yes &nbsp
		<%= f.radio_button :Med_His_Currently_Under_The_Care_Of_A_Physician, false %>
	    No
	</p>
	
	<p>  
	<label>Has puberty begun? </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Med_His_Puberty_Begun, true %>
	    Yes &nbsp
		<%= f.radio_button :Med_His_Puberty_Begun, false %>
	    No
	</p>
	
    <p>
     <label>Has menstruation begun? (Girls) </label> &nbsp &nbsp &nbsp
		<%= f.radio_button :Med_His_Menstruation_Begun, true %>
	    Yes &nbsp
		<%= f.radio_button :Med_His_Menstruation_Begun, false %>
	    No
	</p>
	</br>
	
	<p>
	    <label>Child's Physician's Firstname </label>
	    <%= f.text_field :Med_His_Personal_Physician_Name_First %>
	</p>

	  <p>
	    <label>Child's Physician's Lastname </label>
	    <%= f.text_field :Med_His_Personal_Physician_Name_Last %>
	  </p>

	  <p>
	    <%= f.label :Phone %>
	    <%= f.text_field :Med_His_Personal_Physician_Phone %>
	  </p>
	<p>
	    <label>Date of last visit </label>
	    <%= f.date_select :Med_His_Personal_Physician_Date_Of_Last_Visit, :start_year => 2002, :end_year => Date.current.year, :include_blank => true %>
	</p>
	
	<p>
	    <label>List any musical instruments played: </label>
	    <%= f.text_area :Dental_History_Play_Musical_Instruments, :cols => 27 , :rows => 5 %>
	</p>
	
	<p>
	    <label>Please list all drugs that your child is currently taking(over the counter drugs): </label>
	    <%= f.text_area :Med_His_Currently_Taking_Over_The_Counter_Drugs_List, :cols => 27 , :rows => 5 %> 
	</p>
	
	<p>
	    <label>Please list all drugs that your child is currently taking(prescription drugs): </label>
	    <%= f.text_area :Med_His_Currently_Taking_Presc_Drugs_List, :cols => 27 , :rows => 5 %> 
	</p>
	
	<p>
	    <label>Please list all drugs/things that your child is allergic to: </label>
	    <%= f.text_area :Allergic_To_Drugs_List, :cols => 27 , :rows => 5 %>
	</p>

	<br />
	<div class="actions">
	  <%= f.submit submit_tag_text %>
	</div>
	<br />
</fieldset>

<fieldset>
<legend>Medical History </legend>
  <h4>Has your child ever had any of the
following medical problems?</h4>

<p>
<label>Abnormal Bleeding </label>
	<%= f.radio_button :Med_His_Abnormal_Bleeding, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Abnormal_Bleeding, false %>
    No
</p>

<p>
<label>ADD </label>
	<%= f.radio_button :Med_His_ADD, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_ADD, false %>
    No
</p>

<p>
<label>ADHD </label>
	 <%= f.radio_button :Med_His_ADHD, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_ADHD, false %>
    No
</p>

<p>
<label>Allergies to any Drugs </label>
	<%= f.radio_button :Allergic_To_Any_Drugs, true %>
    Yes &nbsp
	<%= f.radio_button :Allergic_To_Any_Drugs, false %>
    No
</p>

<p>
<label>Allergic to Metals </label>
	<%= f.radio_button :Allergic_To_Metals, true %>
    Yes &nbsp
	<%= f.radio_button :Allergic_To_Metals, false %>
    No
</p>

<p>
<label>Allergic to Plastics </label>
	<%= f.radio_button :Allergic_To_Plastics, true %>
    Yes &nbsp
	<%= f.radio_button :Allergic_To_Plastics, false %>
    No 
</p>

<p>
<label>Allergic to Latex </label>
	<%= f.radio_button :Allergic_To_Latex, true %>
    Yes &nbsp
	<%= f.radio_button :Allergic_To_Latex, false %>
    No
</p>

<p>
<label>Hospitalized for Any Reason </label>
	<%= f.radio_button :Med_His_Hospitalized_For_Any_Reason, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Hospitalized_For_Any_Reason, false %>
    No 
</p>

<p>
<label>Any Operations </label>
	<%= f.radio_button :Med_His_Any_Operations, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Any_Operations, false %>
    No 
</p>

<p>
<label>Artificial Bones / Joints / Valves </label>
	<%= f.radio_button :Med_His_Artificial_Bones_Joints_Valves, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Artificial_Bones_Joints_Valves, false %>
    No
</p>

<p>
<label>Asthma /Arthritis </label>
	<%= f.radio_button :Med_His_Asthma, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Asthma, false %>
    No
</p>

<p>
<label>Cancer / Chemotherapy </label>
	<%= f.radio_button :Med_His_Cancer, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Cancer, false %>
    No
</p>

<p>
<label>Congenital Heart Defect </label>
	<%= f.radio_button :Med_His_Congenital_Heart_Defect, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Congenital_Heart_Defect, false %>
    No
</p>

<p>
<label>Convulsions / Epilepsy </label>
   <%= f.radio_button :Med_His_Epilepsy, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Epilepsy, false %>
    No 
</p>

<p>
<label>Diabetes </label>
	 <%= f.radio_button :Med_His_Diabetes, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Diabetes, false %>
    No
</p>

<p>
<label>Handicaps / Disabilities </label>
	 <%= f.radio_button :Med_His_Handicaps_Or_Disabilities, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Handicaps_Or_Disabilities, false %>
    No
</p>

<p>
<label>Hearing Impairment </label>
	<%= f.radio_button :Med_His_Hearing_Impairment, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Hearing_Impairment, false %>
    No 
</p>

<p>
<label>Heart Murmur </label>
	 <%= f.radio_button :Med_His_Heart_Murmur, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Heart_Murmur, false %>
    No 
</p>

<p>
<label>Hemophilia </label>
	 <%= f.radio_button :Med_His_Hemophilia, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Hemophilia, false %>
    No
</p>

<p>
 <label>Hepatitis </label>
    <%= f.radio_button :Med_His_Hepatitis, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Hepatitis, false %>
    No
</p>

<p>
<label>AIDS </label>
    <%= f.radio_button :Med_His_AIDS, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_AIDS, false %>
    No
</p>

<p>
<label>HIV+ </label>
    <%= f.radio_button :Med_His_HIV_Positive, true %>
   Yes &nbsp
	<%= f.radio_button :Med_His_HIV_Positive, false %>
    No 
</p>

<p> 
<label>Kidney Problems </label>
    <%= f.radio_button :Med_His_Kidney_Problems, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Kidney_Problems, false %>
    No 
</p>

<p>
<label>Liver Problems </label>
    <%= f.radio_button :Med_His_Liver_Problems, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Liver_Problems, false %>
    No
</p>

<p>
<label>Lupus </label>
    <%= f.radio_button :Med_His_Lupus, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Lupus, false %>
    No 
</p>

<p>
<label>Rheumatic Fever </label>
    <%= f.radio_button :Med_His_Rheumatic_Fever, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Rheumatic_Fever, false %>
    No 
</p>

<p>
 <label>Scarlet Fever </label>
    <%= f.radio_button :Med_His_Scarlet_Fever, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Scarlet_Fever, false %>
    No 
</p>

<p>
<label>Sickle Cell Disease </label>
   <%= f.radio_button :Med_His_Sickle_Cell_Disease, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Sickle_Cell_Disease, false %>
    No 
</p>

<p>
<label>Sickle Cell Disease Traits </label>
    <%= f.radio_button :Med_His_Sickle_Cell_Disease_Traits, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Sickle_Cell_Disease_Traits, false %>
    No 
</p>

<p>  
<label>Tuberculosis (TB) </label>
   <%= f.radio_button :Med_His_Tuberculosis, true %>
    Yes &nbsp
	<%= f.radio_button :Med_His_Tuberculosis, false %>
    No 
</p>

  <p>
    <label>Please discuss any medical problems that your child has had: </label>
    <%= f.text_area :Med_His_Medical_Problems, :cols => 27 , :rows => 5 %>
  </p>

<br />
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>
<br />
</fieldset>

<fieldset>
<legend>Habits</legend>
<h4>Does/did your child have any of the following
habits?</h4>
  <p>
<label>Clenching / Grinding Teeth </label>

    <%= f.radio_button :Habits_Clenching_Or_Grinding_Teeth, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Clenching_Or_Grinding_Teeth, false %>
    No 
  </p>

<p>
<label>Lip Sucking / Biting </label>

  <%= f.radio_button :Habits_Lip_Sucking_Or_Biting, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Lip_Sucking_Or_Biting, false %>
    No
</p>

<p>
  <label>Mouth Breather </label>
    <%= f.radio_button :Habits_Mouth_Breather, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Mouth_Breather, false %>
    No
</p>
	
<p>
<label>Nail Biting </label>
   <%= f.radio_button :Habits_Nail_Biting, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Nail_Biting, false %>
    No
</p>

<p>
 <label>Nursing Bottle </label>
	 <%= f.radio_button :Habits_Nursing, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Nursing, false %>
    No 
</p>

<p>
<label>Speech Problems </label>
 <%= f.radio_button :Habits_Speech_Problems, true %>
   Yes &nbsp
	<%= f.radio_button :Habits_Speech_Problems, false %>
   No 
</p>

<p>
<label>Thumb / Finger Sucking </label>
<%= f.radio_button :Habits_Thumb_Or_Finger_Sucking, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Thumb_Or_Finger_Sucking, false %>
     No
</p>

<p>
<label>Tongue Thrust </label>
<%= f.radio_button :Habits_Tongue_Thrust, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Tongue_Thrust, false %>
    No 
</p>

<p>
<label>Was your child breast fed? </label>
   <%= f.radio_button :Habits_Breast_Fed, true %>
    Yes &nbsp
	<%= f.radio_button :Habits_Breast_Fed, false %>
    No 
</p>

</br>
<div class="actions">
  <%= f.submit submit_tag_text %>
</div>

<br />
</fieldset>

<% end %>

<script type="text/javascript">
function validate_firstname()
{
	// var x = document.getElementById('iform_Self_Name_First').value;
	// 	var regex = /^[a-zA-z ]*$/
	// 	if (x==null || x=="")
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "Firstname cant be blank";
	// 		document.getElementById("iform_Self_Name_First").focus();
	// 		return false;
	// 
	// 	} 
	// 	else if (x.length<3 || x.search(regex) == -1 )
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "Not a valid name";
	// 		return false;	
	// 	}
	// 	else
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "";
	// 		return true;
	// 	}	
	
}

function validate_lastname()
{

	// var x = document.getElementById ('iform_Self_Name_Last').value;
	// 	var regex = /^[a-zA-z ]*$/
	// 	if (x==null || x=="")
	// 	  {
	// 	  document.getElementById('lastname_errorMsg').innerHTML = "Lastname cant be blank";
	// 	  return false;
	// 	  
	// 	  } 
	// 	
	// 	else if (x.length<3 || x.search(regex) == -1 )
	// 	{
	// 	document.getElementById('lastname_errorMsg').innerHTML = "Not a valid name";
	// 	return false;	
	// 	}
	// 	else
	// 	{
	// 		document.getElementById('lastname_errorMsg').innerHTML = "";
	// 	   return true;
	// 	}		
	
}


function validate_p()
{
if (document.getElementById ('iform_Med_His_Personal_Physician_true').checked == true)
{


}
}
</script>

<script type="text/javascript">
function unmask_str(){
jQuery(function($){
$("#iform_Self_Phone_Home").mask("9999999999");
$("#iform_Self_Phone_Mobile").mask("9999999999");
   $("#iform_Mother_Phone_Home").mask("9999999999");
   $("#iform_Mother_Phone_Work").mask("9999999999");   
   $("#iform_Father_Phone_Home").mask("9999999999");
   $("#iform_Father_Phone_Work").mask("9999999999");
   $("#iform_Person_Responsible_For_Account_Phone_Work").mask("9999999999");
   $("#iform_Person_Responsible_For_Account_Phone_Home").mask("9999999999");
   $("#iform_Person_Responsible_For_Making_Appointments_Phone_Work").mask("9999999999");
   $("#iform_Person_Responsible_For_Making_Appointments_Phone_Home").mask("9999999999");
   $("#iform_Neighbor_Or_Relative_Not_Living_With_You_Phone").mask("9999999999");

   $("#iform_Insurance_Company_Primary_Phone").mask("9999999999");
   $("#iform_Insurance_Company_Secondary_Phone").mask("9999999999");
   $("#iform_Emergency_Contact_Phone_Home").mask("9999999999");
   $("#iform_Emergency_Contact_Phone_Work").mask("9999999999");
   $("#iform_Med_His_Personal_Physician_Phone").mask("9999999999");
   $("#iform_Self_Social_Security_Number").mask("999999999");
   $("#iform_Mother_Social_Security_Number").mask("999999999");
   $("#iform_Father_Social_Security_Number").mask("999999999");
   $("#iform_Person_Responsible_For_Account_Social_Security_Number").mask("999999999");
   $("#iform_Insurance_Company_Primary_Insured_Social_Security_Number").mask("999999999");
   $("#iform_Insurance_Company_Secondary_Insured_Social_Security_Number").mask("999999999");
});
}
</script>
<script>
jQuery(function($){
   $("#iform_Self_Phone_Home").mask("(999) 999-9999");
   $("#iform_Self_Phone_Mobile").mask("(999) 999-9999");
   $("#iform_Mother_Phone_Home").mask("(999) 999-9999");
   $("#iform_Mother_Phone_Work").mask("(999) 999-9999");   
   $("#iform_Father_Phone_Home").mask("(999) 999-9999");
   $("#iform_Father_Phone_Work").mask("(999) 999-9999");
   $("#iform_Person_Responsible_For_Account_Phone_Work").mask("(999) 999-9999");
   $("#iform_Person_Responsible_For_Account_Phone_Home").mask("(999) 999-9999");

   $("#iform_Person_Responsible_For_Making_Appointments_Phone_Work").mask("(999) 999-9999");
   $("#iform_Person_Responsible_For_Making_Appointments_Phone_Home").mask("(999) 999-9999");
   $("#iform_Neighbor_Or_Relative_Not_Living_With_You_Phone").mask("(999) 999-9999");

   $("#iform_Insurance_Company_Primary_Phone").mask("(999) 999-9999");
   $("#iform_Insurance_Company_Secondary_Phone").mask("(999) 999-9999");
   $("#iform_Emergency_Contact_Phone_Home").mask("(999) 999-9999");
   $("#iform_Emergency_Contact_Phone_Work").mask("(999) 999-9999");
   $("#iform_Med_His_Personal_Physician_Phone").mask("(999) 999-9999");
   $("#iform_Self_Social_Security_Number").mask("999-99-9999");
   $("#iform_Mother_Social_Security_Number").mask("999-99-9999");
   $("#iform_Father_Social_Security_Number").mask("999-99-9999");
   $("#iform_Person_Responsible_For_Account_Social_Security_Number").mask("999-99-9999");
   $("#iform_Insurance_Company_Primary_Insured_Social_Security_Number").mask("999-99-9999");
   $("#iform_Insurance_Company_Secondary_Insured_Social_Security_Number").mask("999-99-9999");
   $("#ssn").mask("999-99-9999");
  
});
</script>