<% submit_tag_text = "Submit form to #{@doctor.firstname} #{@doctor.lastname}" %>


<%= form_for @iform, :method => :put, :html => { :id => "dd_dd", :onsubmit => "unmask_str();" } do |f| %>
  <% if @iform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iform.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @iform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3 style = "color:#808080">&nbsp You are filling <%= session[:formname] %> form </h3>

  <div class="hidden">
    <%= hidden_field_tag "iform_id", @iform.id %>
  </div>

<fieldset>   
<legend>About you</legend>

  <p>
	<label>&nbsp</label>
  <%= f.select :Self_Name_Honorific, ['MS', 'MR','MRS','DR'], :include_blank => true %>	
  </p>

  <p>
    <%= f.label :Firstname %> 
    <%= f.text_field :Self_Name_First, :onblur => "validate_firstname();" %>&nbsp<span id="firstname_errorMsg" style = "color:red;
margin-left:60px"></span> 
 </p>

  <p>
    <%= f.label :Lastname %> 
    <%= f.text_field :Self_Name_Last, :onblur => "validate_lastname();" %>&nbsp<span id="lastname_errorMsg" style = "color:red; margin-left:60px"></span>
  </p>

  <p>
    <%= f.label :Middlename %> 
    <%= f.text_field :Self_Name_Middle %>
  </p>
  
 <p>
    <%= f.label :Email %> 
    <%= f.text_field :Self_Email_Address %>
  </p>

  <p>
    <%= f.label :Preferredname %> 
    <%= f.text_field :Self_Name_Preferred %>
  </p>

  <p>
	<label>Sex</label>
    <%= f.radio_button :Self_Sex, "f" , :onclick => "validate_female();" %>
    Female
	<%= f.radio_button :Self_Sex, "m" , :onclick => "validate_male();" %>
    Male
  </p> 

  <p>
    <%= f.label :Birthdate %> 
    <%= f.date_select :Self_Birthdate, :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>
  
  <p>
    <label>Social Security Number</label> 
    <%= f.text_field :Self_Social_Security_Number %>
  </p>

  <p>
    <label>Home Address1</label> 
    <%= f.text_field :Self_Home_Address1 %>
  </p>

  <p>
    <label>Home Address2</label> 
    <%= f.text_field :Self_Home_Address2 %>
  </p>

  <p>
    <%= f.label :City %> 
    <%= f.text_field :Self_Home_City %>
  </p>

  <p>
    <%= f.label :State %> 
    <%= f.select :Self_Home_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <%= f.label :Zip %> 
    <%= f.text_field :Self_Home_Postal_Code %>
  </p>

  <p>
    <label>Marital Status</label>
    <%= f.radio_button :Self_Marital_Status, "single" %>
    Single
	<%= f.radio_button :Self_Marital_Status, "married" %>
    Married
	<%= f.radio_button :Self_Marital_Status, "divorced" %>
    Divorced &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<%= f.radio_button :Self_Marital_Status, "widowed" %>
    Widowed
	<%= f.radio_button :Self_Marital_Status, "separated" %>
    Separated
  </p>

  <p>
    <%= f.label :Homephone %> 
    <%= f.text_field :Self_Phone_Home %>
  </p>

  <p>
    <%= f.label :Mobilephone %> 
    <%= f.text_field :Self_Phone_Mobile %>
  </p>

  <p>
    <%= f.label :Workphone %> 
    <%= f.text_field :Self_Phone_Work %>
  </p>

  <p>
    <label>Workphone Ext</label>  
    <%= f.text_field :Self_Phone_Work_Extension %>
  </p>

  <p>
    <label>Drivers License State </label> 
    <%= f.select :Self_Driver_License_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Drivers License Number</label>  
    <%= f.text_field :Self_Driver_License_Number %>
  </p>

  <p>
    <%= f.label :Employername %> 
    <%= f.text_field :Self_Employer_Name %>
  </p>

  <p>
    <label>Employer Address1</label> 
    <%= f.text_field :Self_Employer_Address1 %>
  </p>

  <p>
    <label>Employer Address2</label> 
    <%= f.text_field :Self_Employer_Address2 %>
  </p>

  <p>
    <label>City</label> 
    <%= f.text_field :Self_Employer_City %>
  </p>

  <p>
    <label>State</label> 
    <%= f.select :Self_Employer_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>zip</label> 
    <%= f.text_field :Self_Employer_Postal_Code %>
  </p>

  <p>
    <label>How long there?</label> 
    <%= f.text_field :Self_Length_Of_Employment %>
  </p>

  <p>
    <%= f.label :Occupation %> 
    <%= f.text_field :Self_Occupation %>
  </p>

  <p>
    <label>General Dentist</label> 
    <%= f.text_field :Self_General_Dentist_Name %>
  </p>

  <p>
    <%= f.label :Lastvisitdate %> 
    <%= f.date_select :Self_General_Dentist_Date_Last_Appointment, :start_year => 2002, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <label>Whom may we Thank for referring you?</label> 
    <%= f.text_field :Self_Referred_By %>
  </p>

  <p>
    <label>Other family members seen<br /> by us:</label> 
    <%= f.text_field :Self_Other_Family_Members%>
  </p>

  
    &nbsp <h4>Where & when are best times to reach you?</h4> 
  <p>
    <label>Where:</label>
    <%= f.text_field :Self_Best_Contact_Method %>
  </p>
  <p>
	<label>When:</label>
    <%= f.text_field :Self_Best_Contact_Time %>
  </p>


<br /> 
<div class="actions">
    <!-- <%= f.submit submit_tag_text %> -->
  </div>
<br /> 
</fieldset>

<fieldset>
<legend>Spouce Information</legend>

  <p>
    <label>His / Her Firstname</label> 
    <%= f.text_field :Spouse_Name_First %>
  </p>

  <p>
    <label>His / Her Lastname</label> 
    <%= f.text_field :Spouse_Name_Last %>
  </p>

  <p>
    <label>His / Her Middlename</label> 
    <%= f.text_field :Spouse_Name_Middle %>
  </p>

  <p>
    <%= f.label :Birthdate %> 
    <%= f.date_select :Spouse_Birthdate, :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <%= f.label :Workphone %> 
    <%= f.text_field :Spouse_Phone_Work %>
  </p>
  
  <p>
    <label>Workphone Ext</label> 
    <%= f.text_field :Spouse_Phone_Work_Extension %>
  </p>

  <p>
    <label>Social Security Number</label> 
    <%= f.text_field :Spouse_Social_Security_Number %>
  </p>

  <p>
    <%= f.label :Employer %> 
    <%= f.text_field :Spouse_Employer_Name %>
  </p>
 
 <h4>Person Responsible for Account</h4>
  <p>
    <label>Firstname</label> 
    <%= f.text_field :Person_Responsible_For_Account_Name_First %>
  </p>

  <p>
    <label>Lastname</label> 
    <%= f.text_field :Person_Responsible_For_Account_Name_Last %>
  </p>

  <p>
    <label>Middlename</label> 
    <%= f.text_field :Person_Responsible_For_Account_Name_Middle %>
  </p>

  <p>
    <%= f.label :Workphone %> 
    <%= f.text_field :Person_Responsible_For_Account_Phone_Work %>
  </p>

  <p>
    <label>Workphone Ext</label> 
    <%= f.text_field :Person_Responsible_For_Account_Phone_Work_Extension %>
  </p>

  <p>
    <%= f.label :Homephone %> 
    <%= f.text_field :Person_Responsible_For_Account_Phone_Home %>
  </p>

  <p>
    <label>Billing Address1</label> 
    <%= f.text_field :Person_Responsible_For_Account_Address1 %>
  </p>

  <p>
    <label>Billing Address2</label> 
    <%= f.text_field :Person_Responsible_For_Account_Address2 %>
  </p>

  <p>
    <label>City</label> 
    <%= f.text_field :Person_Responsible_For_Account_City %>
  </p>

  <p>
    <label>State</label> 
    <%= f.select :Person_Responsible_For_Account_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Zip</label> 
    <%= f.text_field :Person_Responsible_For_Account_Postal_Code %>
  </p>

  <p>
    <%= f.label :Relation %> 
    <%= f.text_field :Person_Responsible_For_Account_Relationship %>
  </p>

  <p>
    <label>Social Security Number</label> 
    <%= f.text_field :Person_Responsible_For_Account_Social_Security_Number %>
  </p>

  <p>
    <%= f.label :Employer %> 
    <%= f.text_field :Person_Responsible_For_Account_Employer_Name %>
  </p>

  <p>
    <label>Drivers License State</label>  
    <%= f.select :Person_Responsible_For_Account_Drivers_License_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Drivers License Number</label> 
    <%= f.text_field :Person_Responsible_For_Account_Drivers_License_Number %>
  </p>

<br />
<div class="actions">
    <!-- <%= f.submit submit_tag_text %> -->
  </div>
<br />
</fieldset>

<fieldset>
<legend>Orthodontic Insurance</legend>

<h3>Primary Insurance</h3>

 
  <p>	 
		 <label>Orthodontic coverage </label> 
     <%= f.radio_button :Insurance_Company_Primary_Orthodontic_Coverage, true %>
    Yes
	<%= f.radio_button :Insurance_Company_Primary_Orthodontic_Coverage, false %>
    No 
  </p>
   

  <p>   
	 <label>Dental coverage</label> 
     <%= f.radio_button :Insurance_Company_Primary_Dental_Coverage, true %>
    Yes
	<%= f.radio_button :Insurance_Company_Primary_Dental_Coverage, false %>
    No 
  </p>
   
 

  <p>
    <label>Insurance Company Name </label> 
    <%= f.text_field :Insurance_Company_Primary_Name %>
  </p>

  <p>
    <label>Insurance Company Address1 </label> 
    <%= f.text_field :Insurance_Company_Primary_Address1 %>
  </p>
 
  <p>
    <label>Insurance Company Address2 </label> 
    <%= f.text_field :Insurance_Company_Primary_Address2 %>
  </p>

  <p>
    <label>City </label> 
    <%= f.text_field :Insurance_Company_Primary_City %>
  </p>

  <p>
    <label>State </label> 
    <%= f.select :Insurance_Company_Primary_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Zip </label> 
    <%= f.text_field :Insurance_Company_Primary_Postal_Code %>
  </p>

  <p>
    <label>Insurance Company Phone </label> 
    <%= f.text_field :Insurance_Company_Primary_Phone %>
  </p>

  <p>
    <label>Group # (Plan, Local or Policy #) </label> 
    <%= f.text_field :Insurance_Company_Primary_Group_Plan_Local_Policy_Number %>
  </p>

  <p>
    <label>Insured’s Firstname </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Name_First %>
  </p>

  <p>
    <label>Insured’s Lastname </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Name_Last %>
  </p>

  <p>
    <label>Insured’s Birthdate </label> 
    <%= f.date_select :Insurance_Company_Primary_Insured_Birthdate , :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <label>Insured’s Relation </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Relationship %>
  </p>
  
  <p>
    <label>Insured's Social Security Number </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Social_Security_Number %>
  </p>

  <p>
    <label>Insured's Employer </label> 
    <%= f.text_field :Insurance_Company_Primary_Insured_Employer_Name %>
  </p>

<h3>Secondary Insurance</h3>

 
  <p>   
	 <label>Orthodontic coverage </label>  
     <%= f.radio_button :Insurance_Company_Secondary_Orthodontic_Coverage, true %>
    Yes
	<%= f.radio_button :Insurance_Company_Secondary_Orthodontic_Coverage, false %>
    No 
  </p>
   

  <p>   
	 <label>Dental coverage </label> 
     <%= f.radio_button :Insurance_Company_Secondary_Dental_Coverage, true %>
    Yes
	<%= f.radio_button :Insurance_Company_Secondary_Dental_Coverage, false %>
    No 
  </p>
   
 

  <p>
    <label>Insurance Company Name </label> 
    <%= f.text_field :Insurance_Company_Secondary_Name %>
  </p>

  <p>
    <label>Insurance Company Address1 </label> 
    <%= f.text_field :Insurance_Company_Secondary_Address1 %>
  </p>

  <p>
    <label>Insurance Company Address2 </label> 
    <%= f.text_field :Insurance_Company_Secondary_Address2 %>
  </p>

  <p>
    <label>City </label> 
    <%= f.text_field :Insurance_Company_Secondary_City %>
  </p>

  <p>
    <label>State </label> 
    <%= f.select :Insurance_Company_Secondary_State, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MH','MA','MI','FM','MN',
		'MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY'], :include_blank => true %>
  </p>

  <p>
    <label>Zip </label> 
    <%= f.text_field :Insurance_Company_Secondary_Postal_Code %>
  </p>

  <p>
    <label>Insurance Company Phone </label> 
    <%= f.text_field :Insurance_Company_Secondary_Phone %>
  </p>

  <p>
    <label>Group # (Plan, Local or Policy #) </label> 
    <%= f.text_field :Insurance_Company_Secondary_Group_Plan_Local_Policy_Number %>
  </p>

  <p>
    <label>Insured’s Firstname</label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Name_First %>
  </p>

  <p>
    <label>Insured’s Lastname</label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Name_Last %>
  </p>

  <p>
    <label>Insured’s Birthdate </label> 
    <%= f.date_select :Insurance_Company_Secondary_Insured_Birthdate , :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
  </p>

  <p>
    <label>Insured’s Relation </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Relationship %>
  </p>

  <p>
    <label>Insured's Social Security Number </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Social_Security_Number %>
  </p>

  <p>
    <label>Insured's Employer </label> 
    <%= f.text_field :Insurance_Company_Secondary_Insured_Employer_Name %>
  </p>


    <h4>In the event of an emergency, is there someone</br>
    who lives near you that we should contact?</h4></br>
  <p>
    <label>His / Her Firstname </label> 
    <%= f.text_field :Emergency_Contact_Name_First %>
  </p>

  <p>
    <label>His / Her Lastname </label>  
    <%= f.text_field :Emergency_Contact_Name_Last %>
  </p>

  <p>
    <label>Relation </label> 
    <%= f.text_field :Emergency_Contact_Relationship %>
  </p>
  
  <p>
    <label>Homephone </label> 
    <%= f.text_field :Emergency_Contact_Phone_Home %>
  </p>

  <p>
    <label>Workphone </label> 
    <%= f.text_field :Emergency_Contact_Phone_Work %>
  </p>

<br />
<div class="actions">
    <!-- <%= f.submit submit_tag_text %> -->
  </div>
<br />
</fieldset>

<fieldset>
<legend>Medical History</legend>

 
  <p>
	<label>Do you have a personal physician?</label>
    <%= f.radio_button :Med_His_Personal_Physician, true , :onclick => "validate_physician();"%>
    Yes
	<%= f.radio_button :Med_His_Personal_Physician, false , :onclick => "validate_physician_false();"%>
    No
  </p>

  <p>
    <label>Physician's Firstname </label> 
    <%= f.text_field :Med_His_Personal_Physician_Name_First %>
  </p>

  <p>
    <label>Physician's Lastname </label> 
    <%= f.text_field :Med_His_Personal_Physician_Name_Last %>
  </p>

  <p>
    <%= f.label :Phone %> 
    <%= f.text_field :Med_His_Personal_Physician_Phone %>
  </p>

  <p>
    <label>Date of last visit </label> 
    <%= f.date_select :Med_His_Personal_Physician_Date_Of_Last_Visit, :start_year => 2002, :end_year => Date.current.year, :include_blank => true %>
  </p>
 
  <p>
	<label>Your current physical health is: </label>
    <%= f.radio_button :Med_His_Current_Physical_Health, "good" %>
    Good
	<%= f.radio_button :Med_His_Current_Physical_Health, "fair" %>
    Fair
	<%= f.radio_button :Med_His_Current_Physical_Health, "poor" %>
    Poor
  </p>

  <p>
	<label>Are you currently under the care of a physician? </label>
    <%= f.radio_button :Med_His_Currently_Under_The_Care_Of_A_Physician, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Under_The_Care_Of_A_Physician, false %>
    No
  </p>

  <p>
    <label>Please Explain: </label> 
    <%= f.text_area :Med_His_Currently_Under_The_Care_Of_A_Physician_Desc, :cols => 27, :rows => 5%>
  </p>

 
  <p>   
	 <label>Are you taking any prescription drugs? </label> 	
     <%= f.radio_button :Med_His_Currently_Taking_Presc_Drugs, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Taking_Presc_Drugs, false %>
    No 
  </p>
   

  <p>   
	 <label>Are you taking any over-the-counter drugs? </label> 
     <%= f.radio_button :Med_His_Currently_Taking_Over_The_Counter_Drugs, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Taking_Over_The_Counter_Drugs, false %>
    No 
  </p>
   
 

  <p>
    <label>Please list each one of prescription drugs: </label> 
    <%= f.text_area :Med_His_Currently_Taking_Presc_Drugs_List, :cols => 27, :rows => 5 %> 
  </p>

  <p>
    <label>Please list each one of over-the-counter drugs:</label> 
    <%= f.text_area :Med_His_Currently_Taking_Over_The_Counter_Drugs_List, :cols => 27, :rows => 5 %> 
  </p>

  <h4>For Women: </h4>


  <p>   
	 <label>Are you taking birth control pills?</label> 
     <%= f.radio_button :Med_His_Currently_Taking_Birth_Control_Pills, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Taking_Birth_Control_Pills, false %>
    No 
  </p>


  <p>   
	 <label>Are you pregnant?</label> 
     <%= f.radio_button :Med_His_Currently_Pregnant, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Pregnant, false %>
    No 
  </p>



  <p>
    <%= f.label :Pregnancyweek %> 
    <%= f.text_field :Med_His_Weeks_Pregnant %>
  </p>


  <p>   
	 <label>Are you nursing?</label> 
     <%= f.radio_button :Med_His_Currently_Nursing, true %>
    Yes
	<%= f.radio_button :Med_His_Currently_Nursing, false %>
    No 
  </p>  
   

  <h4>Have you ever had any of the following
  diseases or medical problems?</h4>

 
  <p>   
	 <label>Abnormal Bleeding </label> 
     <%= f.radio_button :Med_His_Abnormal_Bleeding, true %>
    Yes
	<%= f.radio_button :Med_His_Abnormal_Bleeding, false %>
    No 
  </p>
   

  <p>   
	 <label>Anemia </label> 
     <%= f.radio_button :Med_His_Anemia, true %>
    Yes
	<%= f.radio_button :Med_His_Anemia, false %>
    No 
  </p>
   

  <p>   
	 <label>Artificial Bones / Joints / Valves </label> 
     <%= f.radio_button :Med_His_Artificial_Bones_Joints_Valves, true %>
    Yes
	<%= f.radio_button :Med_His_Artificial_Bones_Joints_Valves, false %>
    No 
  </p>
   

  <p>   
	 <label>Asthma /Arthritis </label> 
     <%= f.radio_button :Med_His_Asthma, true %>
    Yes
	<%= f.radio_button :Med_His_Asthma, false %>
    No 
  </p>
   

  <p>   
	 <label>Blood Transfusion </label> 
     <%= f.radio_button :Med_His_Blood_Transfusion, true %>
    Yes
	<%= f.radio_button :Med_His_Blood_Transfusion, false %>
    No 
  </p>
   

  <p>   
	 <label>Cancer / Chemotherapy </label> 
     <%= f.radio_button :Med_His_Cancer, true %>
    Yes
	<%= f.radio_button :Med_His_Cancer, false %>
    No 
  </p>
   

  <p>   
	 <label>Congenital Heart Defect </label> 
     <%= f.radio_button :Med_His_Congenital_Heart_Defect, true %>
    Yes
	<%= f.radio_button :Med_His_Congenital_Heart_Defect, false %>
    No 
  </p>
   

  <p>   
	 <label>Diabetes </label> 
     <%= f.radio_button :Med_His_Diabetes, true %>
    Yes
	<%= f.radio_button :Med_His_Diabetes, false %>
    No 
  </p>
   

  <p>   
	 <label>Difficulty Breathing </label> 
     <%= f.radio_button :Med_His_Difficulty_Breathing, true %>
    Yes
	<%= f.radio_button :Med_His_Difficulty_Breathing, false %>
    No 
  </p>
   

  <p>   
	 <label>Drug / Alcohol Abuse </label> 
     <%= f.radio_button :Med_His_Drug_Abuse, true %>
    Yes
	<%= f.radio_button :Med_His_Drug_Abuse, false %>
    No 
  </p>
   

  <p>   
	 <label>Emphysema </label> 
     <%= f.radio_button :Med_His_Emphysema, true %>
    Yes
	<%= f.radio_button :Med_His_Emphysema, false %>
    No 
  </p>
   

  <p>   
	 <label>Epilepsy / Seizures / Fainting </label> 
     <%= f.radio_button :Med_His_Epilepsy, true %>
    Yes
	<%= f.radio_button :Med_His_Epilepsy, false %>
    No 
  </p>
   

  <p>   
	 <label>Fever Blisters / Herpes </label> 
     <%= f.radio_button :Med_His_Fever_Blisters, true %>
    Yes
	<%= f.radio_button :Med_His_Fever_Blisters, false %>
    No 
  </p>
   

  <p>   
	 <label>Glaucoma </label> 
     <%= f.radio_button :Med_His_Glaucoma, true %>
    Yes
	<%= f.radio_button :Med_His_Glaucoma, false %>
    No 
  </p>
   

  <p>   
	 <label>Heart Attack </label> 
     <%= f.radio_button :Med_His_Heart_Attack, true %>
    Yes
	<%= f.radio_button :Med_His_Heart_Attack, false %>
    No 
  </p>
   

  <p>   
	 <label>Heart Stroke </label> 
     <%= f.radio_button :Med_His_Stroke, true %>
    Yes
	<%= f.radio_button :Med_His_Stroke, false %>
    No 
  </p>
   

  <p>   
	 <label>Heart Murmur </label> 
     <%= f.radio_button :Med_His_Heart_Murmur, true %>
    Yes
	<%= f.radio_button :Med_His_Heart_Murmur, false %>
    No 
  </p>
   

  <p>   
	 <label>Heart Surgery </label> 
     <%= f.radio_button :Med_His_Heart_Surgery, true %>
    Yes
	<%= f.radio_button :Med_His_Heart_Surgery, false %>
    No 
  </p>
   

  <p>   
	 <label>Pacemaker </label> 
     <%= f.radio_button :Med_His_Pacemaker, true %>
    Yes
	<%= f.radio_button :Med_His_Pacemaker, false %>
    No 
  </p>
   

  <p>   
	 <label>Hemophilia </label> 
     <%= f.radio_button :Med_His_Hemophilia, true %>
    Yes
	<%= f.radio_button :Med_His_Hemophilia, false %>
    No 
  </p>
   

  <p>   
	 <label>Hepatitis </label> 
     <%= f.radio_button :Med_His_Hepatitis, true %>
    Yes
	<%= f.radio_button :Med_His_Hepatitis, false %>
    No 
  </p>
   

  <p>   
	 <label>High Blood Pressure </label> 
     <%= f.radio_button :Med_His_High_Blood_Pressure, true %>
    Yes
	<%= f.radio_button :Med_His_High_Blood_Pressure, false %>
    No 
  </p>
   

  <p>   
	 <label>Low Blood Pressure </label> 
     <%= f.radio_button :Med_His_Low_Blood_Pressure, true %>
    Yes
	<%= f.radio_button :Med_His_Low_Blood_Pressure, false %>
    No 
  </p>
   

  <p>   
	 <label>AIDS </label> 
     <%= f.radio_button :Med_His_AIDS, true %>
    Yes
	<%= f.radio_button :Med_His_AIDS, false %>
    No 
  </p>
   

  <p>   
	 <label>HIV+ </label> 
     <%= f.radio_button :Med_His_HIV_Positive, true %>
    Yes
	<%= f.radio_button :Med_His_HIV_Positive, false %>
    No 
  </p>
   

  <p>   
	 <label>Hospitalized for Any Reason </label> 
     <%= f.radio_button :Med_His_Hospitalized_For_Any_Reason, true %>
    Yes
	<%= f.radio_button :Med_His_Hospitalized_For_Any_Reason, false %>
    No 
  </p>
   

  <p>   
	 <label>Kidney Problems </label> 
     <%= f.radio_button :Med_His_Kidney_Problems, true %>
    Yes
	<%= f.radio_button :Med_His_Kidney_Problems, false %>
    No  
  </p>
   

  <p>   
	 <label>Mitral Valve Prolapse </label> 
     <%= f.radio_button :Med_His_Mitral_Valve_Prolapse, true %>
    Yes
	<%= f.radio_button :Med_His_Mitral_Valve_Prolapse, false %>
    No 
  </p>
   

  <p>   
	 <label>Psychiatric Problems </label>  
     <%= f.radio_button :Med_His_Psychiatric_Problems, true %>
    Yes
	<%= f.radio_button :Med_His_Psychiatric_Problems, false %>
    No  
  </p>
   

  <p>   
	 <label>Radiation Treatment </label> 
     <%= f.radio_button :Med_His_Radiation_Treatment, true %>
    Yes
	<%= f.radio_button :Med_His_Radiation_Treatment, false %>
    No 
  </p>
   

  <p>   
	 <label>Rheumatic Fever </label> 
     <%= f.radio_button :Med_His_Rheumatic_Fever, true %>
    Yes
	<%= f.radio_button :Med_His_Rheumatic_Fever, false %>
    No 
  </p>
   

  <p>   
	 <label>Scarlet Fever </label> 
     <%= f.radio_button :Med_His_Scarlet_Fever, true %>
    Yes
	<%= f.radio_button :Med_His_Scarlet_Fever, false %>
    No 
  </p>
   

  <p>   
	 <label>Severe / Frequent Headaches </label> 
     <%= f.radio_button :Med_His_Frequent_Headaches, true %>
    Yes
	<%= f.radio_button :Med_His_Frequent_Headaches, false %>
    No 
  </p>
   

  <p>   
	 <label>Shingles </label> 
     <%= f.radio_button :Med_His_Shingles, true %>
    Yes
	<%= f.radio_button :Med_His_Shingles, false %>
    No 
  </p>
   

  <p>   
	 <label>Sickle Cell Disease </label> 
     <%= f.radio_button :Med_His_Sickle_Cell_Disease, true %>
    Yes
	<%= f.radio_button :Med_His_Sickle_Cell_Disease, false %>
    No 
  </p>
   

  <p>   
	 <label>Sickle Cell Disease Traits </label> 
     <%= f.radio_button :Med_His_Sickle_Cell_Disease_Traits, true %>
    Yes
	<%= f.radio_button :Med_His_Sickle_Cell_Disease_Traits, false %>
    No 
  </p>
   

  <p>   
	 <label>Sinus Problems </label> 
     <%= f.radio_button :Med_His_Sinus_Problems, true %>
    Yes
	<%= f.radio_button :Med_His_Sinus_Problems, false %>
    No 
  </p>
   

  <p>   
	 <label>Tuberculosis (TB) </label> 
     <%= f.radio_button :Med_His_Tuberculosis, true %>
    Yes
	<%= f.radio_button :Med_His_Tuberculosis, false %>
    No 
  </p>
   

  <p>   
	 <label>Ulcers / Colitis </label> 
     <%= f.radio_button :Med_His_Ulcers, true %>
    Yes
	<%= f.radio_button :Med_His_Ulcers, false %>
    No 
  </p>
   

  <p>   
	 <label>Venereal Disease </label>  
     <%= f.radio_button :Med_His_Venereal_Disease, true %>
    Yes
	<%= f.radio_button :Med_His_Venereal_Disease, false %>
    No 
  </p>
   
 

  <p>
    <label>Please list any serious medical condition(s) that you have ever had: </label> 
    <%= f.text_area :Med_His_Serious_Medical_Issues, :cols => 27, :rows => 5 %>
  </p>

<h4>Are you allergic to any of the following?</h4>
 
  <p>	 
		 <label>Aspirin </label> 
     <%= f.radio_button :Allergic_To_Aspirin, true %>
    Yes
	<%= f.radio_button :Allergic_To_Aspirin, false %>
    No 
  </p>
   

  <p>   
	 <label>Metals </label> 
     <%= f.radio_button :Allergic_To_Metals, true %>
    Yes
	<%= f.radio_button :Allergic_To_Metals, false %>
    No 
  </p>
   

  <p>   	
	 <label>Plastics </label> 
     <%= f.radio_button :Allergic_To_Plastics, true %>
    Yes
	<%= f.radio_button :Allergic_To_Plastics, false %>
    No 
  </p>
   

  <p>   
	 <label>Codeine </label> 
     <%= f.radio_button :Allergic_To_Codeine, true %>
    Yes
	<%= f.radio_button :Allergic_To_Codeine, false %>
    No 
  </p>
   

  <p>   
	 <label>Dental Anesthetics </label> 
     <%= f.radio_button :Allergic_To_Dental_Anesthetics, true %>
    Yes
	<%= f.radio_button :Allergic_To_Dental_Anesthetics, false %>
    No 
  </p>
   
	
  <p>   
	 <label>Erythromycin </label> 
     <%= f.radio_button :Allergic_To_Erythromycin, true %>
    Yes
	<%= f.radio_button :Allergic_To_Erythromycin, false %>
    No 
  </p>
   

  <p>   
	 <label>Latex </label> 
     <%= f.radio_button :Allergic_To_Latex, true %>
    Yes
	<%= f.radio_button :Allergic_To_Latex, false %>
    No 
  </p>
   

  <p>   
     <label>Penicillin </label> 
     <%= f.radio_button :Allergic_To_Penicillin, true %>
    Yes
	<%= f.radio_button :Allergic_To_Penicillin, false %>
    No 
  </p>
   

  <p>   
	 <label>Tetracycline </label> 
     <%= f.radio_button :Allergic_To_Tetracycline, true %>
    Yes
	<%= f.radio_button :Allergic_To_Tetracycline, false %>
    No 
  </p>
   

  <p>   
	 <label>Other </label> 	
     <%= f.radio_button :Allergic_To_Other, true %>
    Yes
	<%= f.radio_button :Allergic_To_Other, false %>
    No 
  </p>
   
 

  <p>
    <label>Please list any other drugs/materials that you are allergic to: </label> 
    <%= f.text_area :Allergic_To_Drugs_List, :cols => 27, :rows => 5 %>
  </p>

<br />
<div class="actions">
    <!-- <%= f.submit submit_tag_text %> -->
</div>
<br />
</fieldset>

<fieldset>
<legend>Dental History</legend>

  <p>
    <label>What are the main concerns that you would like orthodontics to accomplish? </label> 
    <%= f.text_area :Dental_History_Orthodontic_Goals, :cols => 27, :rows => 5 %>
  </p>

 
  <p>   
	 <label>Have you ever had or been evaluated for orthodontic treatment? </label> 
     <%= f.radio_button :Dental_History_Previous_Orthodontic_Evaluation, true %>
    Yes
	<%= f.radio_button :Dental_History_Previous_Orthodontic_Evaluation, false %>
    No 
  </p>
   

  <p>   
	 <label>Have you ever had a serious/difficult problem associated
	     with any previous dental work? </label> 
     <%= f.radio_button :Dental_History_Previous_Dental_Work_Issues, true %>
    Yes
	<%= f.radio_button :Dental_History_Previous_Dental_Work_Issues, false %>
    No 
  </p>
   

  <p>   
	 <label>Have you ever experienced pain/discomfort in your jaw joint (TMJ / TMD)? </label> 
     <%= f.radio_button :Dental_History_TMJ_TMD_Issues_Previous, true %>
    Yes
	<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Previous, false %>
    No 
  </p>
   

  <p>   
	 <label>Do you now experience pain/discomfort in your jaw joint (TMJ / TMD)? </label> 
     <%= f.radio_button :Dental_History_TMJ_TMD_Issues_Current, true %>
    Yes
	<%= f.radio_button :Dental_History_TMJ_TMD_Issues_Current, false %>
    No 
  </p>
   
 
</br>
 
  <p>
	<label>Your current dental health is:</label>
    <%= f.radio_button :Dental_History_Current_Dental_Health, "good" %>
    Good
	<%= f.radio_button :Dental_History_Current_Dental_Health, "fair" %>
    Fair
	<%= f.radio_button :Dental_History_Current_Dental_Health, "poor" %>
    Poor
  </p>

 
  <p>   
	 <label>Do you like your smile? </label> 
     <%= f.radio_button :Dental_History_Like_Smile, true %>
    Yes
	<%= f.radio_button :Dental_History_Like_Smile, false %>
    No 
  </p>
   

  <p>   
	 <label>Gums ever bleed? </label> 
     <%= f.radio_button :Dental_History_Bleeding_Gums, true %>
    Yes
	<%= f.radio_button :Dental_History_Bleeding_Gums, false %>
    No 
  </p>
   
 
</br>

  <p>
	<label>Have you ever had an injury<br /> to your:</label>
    <%= f.check_box :Dental_History_Injury_To_Mouth %>
    Mouth
	<%= f.check_box :Dental_History_Injury_To_Teeth %>
    Teeth
	<%= f.check_box :Dental_History_Injury_To_Chin %>
    Chin    
  </p>


 
  <p>   
	 <label>Do you have any speech problems? </label> 
     <%= f.text_field :Dental_History_Habits_Speech_Problems %> 
  </p>
   

  <p>   
	 <label>Do you generally breathe through your mouth? </label> 
     <%= f.radio_button :Dental_History_Habits_Mouth_Breather, true %>
    Yes
	<%= f.radio_button :Dental_History_Habits_Mouth_Breather, false %>
    No 
  </p>
   
 
</br>

   
  <p> 
   <label>If yes, please check: </label> 	
    <%= f.check_box :Dental_History_Breathe_Through_Mouth_While_Awake %>
    While Awake
  	<%= f.check_box :Dental_History_Breathe_Through_Mouth_While_Asleep %>
    While Sleep 
   </p>

 
  <p>   
	 <label>Do you have any extra permanent teeth? </label> 
     <%= f.radio_button :Dental_History_Any_Extra_Permanent_Teeth, true %>
    Yes
	<%= f.radio_button :Dental_History_Any_Extra_Permanent_Teeth, false %>
    No 
  </p>
   

  <p>   
	 <label>Do you have any missing teeth? </label> 
     <%= f.radio_button :Dental_History_Any_Missing_Teeth, true %>
    Yes
	<%= f.radio_button :Dental_History_Any_Missing_Teeth, false %>
    No 
  </p>
   

  <p>   
	 <label>Have you ever taken Phen-Fen? (Also known as Redux or Pondimin) </label> 
     <%= f.radio_button :Dental_History_Ever_Taken_PhenFen_Redux_Pondimin, true %>
    Yes
	<%= f.radio_button :Dental_History_Ever_Taken_PhenFen_Redux_Pondimin, false %>
    No 
  </p>
   
 
</br>
 
  <p>
    <label>If yes, when? </label> 
    <%= f.text_field :Dental_History_When_Taken_PhenFen_Redux_Pondimin %>
  </p>

 
  <p>   
	 <label>Do you smoke tobacco? </label> 
     <%= f.radio_button :Dental_History_Tobacco_Smoke, true %>
    Yes
	<%= f.radio_button :Dental_History_Tobacco_Smoke, false %>
    No 
  </p>
   

  <p>   
	 <label>Do you use tobacco in any form? </label> 
     <%= f.radio_button :Dental_History_Tobacco_Smokeless, true %>
    Yes
	<%= f.radio_button :Dental_History_Tobacco_Smokeless, false %>
    No 
  </p>

 
<br /><br />
  <div class="actions">
    <%= f.submit submit_tag_text %>
  </div>
<br />
</fieldset>

<% end %>

<script type="text/javascript">
function validate_firstname()
{
	// var x = document.getElementById('iform_Self_Name_First').value;
	// 	var regex = /^[a-zA-z ]*$/
	// 	if (x==null || x=="")
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "Firstname cant be blank";
	// 		document.getElementById("iform_Self_Name_First").focus();
	// 		return false;
	// 
	// 	} 
	// 	else if (x.length<3 || x.search(regex) == -1 )
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "Not a valid name";
	// 		return false;	
	// 	}
	// 	else
	// 	{
	// 		document.getElementById('firstname_errorMsg').innerHTML = "";
	// 		return true;
	// 	}	
	
}

function validate_lastname()
{

	// var x = document.getElementById ('iform_Self_Name_Last').value;
	// 	var regex = /^[a-zA-z ]*$/
	// 	if (x==null || x=="")
	// 	  {
	// 	  document.getElementById('lastname_errorMsg').innerHTML = "Lastname cant be blank";
	// 	  return false;
	// 	  
	// 	  } 
	// 	
	// 	else if (x.length<3 || x.search(regex) == -1 )
	// 	{
	// 	document.getElementById('lastname_errorMsg').innerHTML = "Not a valid name";
	// 	return false;	
	// 	}
	// 	else
	// 	{
	// 		document.getElementById('lastname_errorMsg').innerHTML = "";
	// 	   return true;
	// 	}		
	
}

// function mask_ssn(){
// var obj = document.getElementById('iform_Self_Social_Security_Number').value	
// var regex = 9
// var m = "X"
// var newstring = obj.split(regex);
// newstring = newstring.join(m);
// alert(newstring)
// document.getElementById('iform_Self_Social_Security_Number').value = newstring;
// }

$('#iform_Self_Social_Security_Number').keypress(function(){
var obj = $('#iform_Self_Social_Security_Number').val()
var num = 9;
var m = "0";
var newstring = obj.split(num);
 newstring = newstring.join(m);
document.getElementById('iform_Self_Social_Security_Number').value = newstring;
});

$('#ssn').keypress(function(){
var obj = $('#ssn').val()
var num = /\d/;
	var m = "#";
	var newstring = obj.split(num);
	 newstring = newstring.join(m);
	document.getElementById('ssn').value = newstring;

});

// password field
// $('#password-clear').show();
// $('#password-password').hide();
// 	 
// $('#password-clear').focus(function() {
// $('#password-clear').hide();
// $('#password-password').show();
// $('#password-password').focus();
// });
// $('#password-password').blur(function() {
// if($('#password-password').val() == '') {
// $('#password-clear').show();
// $('#password-password').hide();
// }
// });

function validate_female()
{

	//$("#button_female").html("<%= escape_javascript(render(:partial => "iforms/adult_female", :locals => {:iform => @iform})) %>");

}
function validate_male()
{ //location.reload(); 
}
function validate_physician()
{
 //$("#button_physicain").html("<%= escape_javascript(render(:partial => "iforms/adult_physician", :locals => {:iform => @iform})) %>");	
}
function validate_physician_false()
{ //location.reload(); 
}
</script>

<script type="text/javascript">
function unmask_str(){
jQuery(function($){
$("#iform_Self_Phone_Home").mask("9999999999");
$("#iform_Self_Phone_Mobile").mask("9999999999");
   $("#iform_Self_Phone_Work").mask("9999999999");
   $("#iform_Spouse_Phone_Home").mask("9999999999");   
   $("#iform_Spouse_Phone_Work").mask("9999999999");
   $("#iform_Person_Responsible_For_Account_Phone_Work").mask("9999999999");
   $("#iform_Person_Responsible_For_Account_Phone_Home").mask("9999999999");
   $("#iform_Insurance_Company_Primary_Phone").mask("9999999999");
   $("#iform_Insurance_Company_Secondary_Phone").mask("9999999999");
   $("#iform_Emergency_Contact_Phone_Home").mask("9999999999");
   $("#iform_Emergency_Contact_Phone_Work").mask("9999999999");
   $("#iform_Med_His_Personal_Physician_Phone").mask("9999999999");
   $("#iform_Self_Social_Security_Number").mask("999999999");
   $("#iform_Spouse_Social_Security_Number").mask("999999999");
   $("#iform_Person_Responsible_For_Account_Social_Security_Number").mask("999999999");
   $("#iform_Insurance_Company_Primary_Insured_Social_Security_Number").mask("999999999");
   $("#iform_Insurance_Company_Secondary_Insured_Social_Security_Number").mask("999999999");
});
}
</script>
<script>
jQuery(function($){
   $("#iform_Self_Phone_Home").mask("(999) 999-9999");
   $("#iform_Self_Phone_Mobile").mask("(999) 999-9999");
   $("#iform_Self_Phone_Work").mask("(999) 999-9999");
   $("#iform_Spouse_Phone_Home").mask("(999) 999-9999");   
   $("#iform_Spouse_Phone_Work").mask("(999) 999-9999");
   $("#iform_Person_Responsible_For_Account_Phone_Work").mask("(999) 999-9999");
   $("#iform_Person_Responsible_For_Account_Phone_Home").mask("(999) 999-9999");
   $("#iform_Insurance_Company_Primary_Phone").mask("(999) 999-9999");
   $("#iform_Insurance_Company_Secondary_Phone").mask("(999) 999-9999");
   $("#iform_Emergency_Contact_Phone_Home").mask("(999) 999-9999");
   $("#iform_Emergency_Contact_Phone_Work").mask("(999) 999-9999");
   $("#iform_Med_His_Personal_Physician_Phone").mask("(999) 999-9999");
   $("#iform_Self_Social_Security_Number").mask("999-99-9999");
   $("#iform_Spouse_Social_Security_Number").mask("999-99-9999");
   $("#iform_Person_Responsible_For_Account_Social_Security_Number").mask("999-99-9999");
   $("#iform_Insurance_Company_Primary_Insured_Social_Security_Number").mask("999-99-9999");
   $("#iform_Insurance_Company_Secondary_Insured_Social_Security_Number").mask("999-99-9999");
   //$("#iform_Self_Home_Postal_Code").mask("99999-9999");
   //$("#iform_Self_Employer_Postal_Code").mask("99999-9999");
   //$("#iform_Person_Responsible_For_Account_Postal_Code").mask("99999-9999");
   //$("#iform_Insurance_Company_Primary_Postal_Code").mask("99999-9999");
  // $("#iform_Insurance_Company_Secondary_Postal_Code").mask("99999-9999");
   //$("#iform_Self_Home_Postal_Code").mask("99999");
   
  
});
</script>
