<h3>Spouce Information</h3>
<%= form_for @iform, :method => :post do |f| %>
<div class="field">
    <%= f.label :SpouseName %><br />
    <%= f.text_field :spousename %>
  </div>
  <div class="field">
    <%= f.label :Employer %><br />
    <%= f.text_field :spouse_employer %>
  </div>
  <div class="field">
    <%= f.label :Workphone %><br />
    <%= f.text_field :spouse_wkphone %>
  </div>
  <div class="field">
    <%= f.label :SSN %><br />
    <%= f.text_field :spouse_SSN %>
  </div>
  <div class="field">
    <%= f.label :WorkEXT %><br />
    <%= f.text_field :spouse_wkext %>
  </div>
  <div class="field">
    <%= f.label :Birthdate %><br />
    <%= f.text_field :spouse_birthdate %>
  </div>

 <div class="field">
    <%= f.label :Homephone %><br />
    <%= f.text_field :responsibleperson_hmph %>
  </div>
  <div class="field">
    <%= f.label :Employer %><br />
    <%= f.text_field :responsibleperson_employer %>
  </div>
  
  <%= f.submit 'Submit' %>
<% end %>