<div class="field">
  <label>Physician's Firstname </label><br />
  <%= f.text_field :Med_His_Personal_Physician_Name_First %>
</div>

<div class="field">
  <label>Physician's Lastname </label><br />
  <%= f.text_field :Med_His_Personal_Physician_Name_Last %>
</div>

<div class="field">
  <%= f.label :Phone %><br />
  <%= f.text_field :Med_His_Personal_Physician_Phone %>
</div>

<div class="field">
  <label>Date of last visit </label><br />
  <%= f.date_select :Med_His_Personal_Physician_Date_Of_Last_Visit, :start_year => 2002, :end_year => Date.current.year, :include_blank => true %>
</div>