<h3> Medical History </h3>
<p>Primary</p>
<div class="field">
    <%= f.radio_button :personalphysician, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :personalphysician, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :physiciansName %><br />
    <%= f.text_field :physicians_name %>
</div>
<div class="field">
    <%= f.label :physiciansph %><br />
    <%= f.text_field :physicians_ph %>
</div>
<div class="field">
    <%= f.label :Lastvisitdate %><br />
    <%= f.date_select :physician_lastvisitdate %>
</div>

<div class="field">
    <%= f.radio_button :current_physicalhealth, "good" %>
    <%= f.label :Good %>
	<%= f.radio_button :current_physicalhealth, "fair" %>
    <%= f.label :Fair %>
	<%= f.radio_button :current_physicalhealth, "poor" %>
    <%= f.label :Poor %>
</div>
<div class="field">
    <%= f.radio_button :currently_underphysician, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :currently_underphysician, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :whyphysician %><br />
    <%= f.text_area :why_underphysician %>
</div>
<div class="field">
    <%= f.radio_button :currently_underprescription, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :currently_underprescription, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :prescriptionlistCompanyName %><br />
    <%= f.text_field :prescriptionlist %>
</div>
<div class="field">
    <%= f.radio_button :birthcontrolpills, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :birthcontrolpills, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :pregnant, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :pregnant, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :pregnancyweek %><br />
    <%= f.text_field :pregnancyweek %>
</div>
<div class="field">
    <%= f.radio_button :nursing, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :nursing, "n" %>
    <%= f.label :No %>
</div>
<p>Have you ever had any of the following
diseases or medical problems?</p>
<div class="field">
    <%= f.radio_button :abnormalbleeding, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :abnormalbleeding, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :artificialbones_or_joints_or_valves, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :artificialbones_or_joints_or_valves, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :asthama_or_arthritis, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :asthama_or_arthritis, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :bloodtransfusion, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :bloodtransfusion, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :cancer_or_chemotherepy, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :cancer_or_chemotherepy, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :congenital_heartdefect, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :congenital_heartdefect, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :diabetes, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :diabetes, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :difficultybreathing, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :difficultybreathing, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :drug_or_alcoholabuse, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :drug_or_alcoholabuse, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :emphysema, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :emphysema, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :epilepsy_or_seizures_or_fainting, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :epilepsy_or_seizures_or_fainting, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :feverblisters_or_herpes, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :feverblisters_or_herpes, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :glaucoma, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :glaucoma, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :heartattack_or_stroke, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :heartattack_or_stroke, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :heartmurmur, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :heartmurmur, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :heartsurgery_or_pacemaker, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :heartsurgery_or_pacemaker, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :hemophilia, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :hemophilia, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :hepatitis, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :hepatitis, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :high_or_lowbloodpressure, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :high_or_lowbloodpressure, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :HIV_or_AIDS, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :HIV_or_AIDS, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :hospitalized_reason, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :hospitalized_reason, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :kidneyproblems, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :kidneyproblems, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :mitralvalveprolapse, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :mitralvalveprolapse, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :psychiatricproblems, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :psychiatricproblems, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :radiationtreatment, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :radiationtreatment, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :rheumatic_or_scarletfever, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :rheumatic_or_scarletfever, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :severe_or_frequentheadaches, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :severe_or_frequentheadaches, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :shingles, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :shingles, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :sicklecelldisease_or_traits, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :sicklecelldisease_or_traits, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :sinusproblems, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :sinusproblems, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :tuberculosis, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :tuberculosis, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :ulcers_or_colitis, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :ulcers_or_colitis, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :venerealdisease, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :venerealdisease, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :seriousmedicalconditions %><br />
    <%= f.text_field :serious_medicalconditions %>
</div>
<p>Are you allergic to any of the following?</p>
<div class="field">
    <%= f.radio_button :aspirin, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :aspirin, "n" %>
    <%= f.label :No %>
</div>

<div class="field">
    <%= f.radio_button :anymetals_or_plastics, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :anymetals_or_plastics, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :codeine, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :codeine, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :dentalanesthetics, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :dentalanesthetics, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :erythromycin, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :erythromycin, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :latex, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :latex, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :penicillin, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :penicillin, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :tetracycline, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :tetracycline, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.radio_button :other, "y" %>
    <%= f.label :Yes %>
	<%= f.radio_button :other, "n" %>
    <%= f.label :No %>
</div>
<div class="field">
    <%= f.label :drugslist_allergicto %><br />
    <%= f.text_field :drugslist_allergicto %>
</div>
