<p style="text-align: center;font-size:18px "><%#= session[:formname] %>

  Form for <%= @doctor.firstname %> <%= @doctor.lastname %></p>

<div style="margin: 0 auto;width:80px;">
  <%= link_to "My Forms", "/consumer", :style => 'font-size: 18px;' %>
</div>

<% submit_tag_text = "Submit form to #{@doctor.firstname} #{@doctor.lastname}" %>

<%= form_for @iform, :html => {:method => :put, :id => "dd_dd", :class => 'form-horizontal edit_rising_stars_pediatric_iform', :multipart => true, :onsubmit => "unmask_str();"} do |f| %>
  <% if @iform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iform.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% @iform.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= hidden_field_tag "iform_id", @iform.id %>
  </div>

  <div class="tabbable tabs-left iforms-tabs-left">
  <ul class="nav nav-tabs" id="rising_stars_pediatric_iforms_tab_links">
    <li class="active">
      <%= link_to "Patient", '#patient', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Father", '#father', "data-toggle" => "tab", :id => 'father_tab' %>
    </li>
    <li>
      <%= link_to "Mother", '#mother', "data-toggle" => "tab", :id => 'mother_tab' %>
    </li>
    <li>
      <%= link_to "Insurance", '#insurance', "data-toggle" => "tab", :id => 'insurance_tab' %>
    </li>
    <li>
      <%= link_to "Dental History", '#dental_history', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Medical History", '#medical_history', "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Social History", '#social_history', "data-toggle" => "tab" %>
    </li>


  </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="patient">

    <div class="control-group">
      <%= f.label :Self_Name_First, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Self_Name_First, :placeholder => "First Name" %>
        <%= f.text_field :Self_Name_Last, :placeholder => "Last Name" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Self_Sex, 'Gender', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :Self_Sex, "f" %>Female
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :Self_Sex, "m" %>Male
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%#= f.label :Self_Birthdate, 'Birth Date', :class => 'control-label' %>
      <%= f.label :displaying_date_Self_Birthdate, "Birth Date", :class => 'control-label' %>
      <div class="controls ">
        <%#= f.date_select :Self_Birthdate, :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
        <%#= f.text_field :Self_Birthdate, :class => "rising_stars_pediatric_form_date_selector", :placeholder => 'Date (YYYY-MM-DD)', "data-value" => f.object.Self_Birthdate %>
        <%= text_field_tag :displaying_date_Self_Birthdate, '', :class => "rising_stars_pediatric_form_date_selector display_date", :placeholder => "MM-DD-YYYY", "data-value" => f.object.Self_Birthdate %>
        <%= f.hidden_field :Self_Birthdate %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Self_Home_Address1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Self_Home_Address1, :placeholder => "Address 1", :style => 'width:437px;margin-bottom:10px;' %>
        <%= f.text_field :Self_Home_Address2, :placeholder => "Address 2", :style => 'width:437px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :Self_Home_City, :placeholder => "City", :style => 'width:437px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :Self_Home_State, options_for_select(StaticData.state, f.object.Self_Home_State), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :Self_Home_Postal_Code, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :home_phone_1, "Home Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_other_phone_1, "Other Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_other_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_other_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_other_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_previously_siblings_list, ' Names of siblings we have previously seen', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_previously_siblings_list, :style => 'width:437px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :how_did_you_hear_about_office, ' Whom may we thank for referring you to our office', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :how_did_you_hear_about_office, :style => 'width:437px' %>
      </div>
    </div>

    <div class="rising_stars_pediatric_iforms_footer_links">
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "1" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="father">
    <div class="control-group">
      <%= f.label :patient_guardian_father, raw('&nbsp;'), :class => 'control-label ' %>
      <div class="controls">

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father, "Father", :class => 'rising_stars_father_type' %>Father
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father, "Stepfather", :class => 'rising_stars_father_type' %>Stepfather
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father, "Guardian", :class => 'rising_stars_father_type' %>Guardian
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father, "None", :class => 'rising_stars_father_type' %>None
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father, "Other", :class => 'rising_stars_father_type' %>Other
        <% end %>&nbsp;&nbsp;
        <%= f.text_field :patient_guardian_father_other_description, :style => 'width: 235px;height:15px', :class => (f.object.patient_guardian_father == 'Other' ? '' : 'hide') %>

      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_first_name, :placeholder => "First Name" %>
        <%= f.text_field :patient_guardian_father_last_name, :placeholder => "Last Name" %>
      </div>
    </div>

    <div class="control-group">
      <%#= f.label :patient_guardian_father_birth_date, 'Birth Date', :class => 'control-label' %>
      <%= f.label :displaying_date_patient_guardian_father_birth_date, "Birth Date", :class => 'control-label' %>
      <div class="controls ">
        <%#= f.date_select :patient_guardian_father_birth_date, :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
        <%#= f.text_field :patient_guardian_father_birth_date, :class => "rising_stars_pediatric_form_date_selector", :placeholder => 'Date (YYYY-MM-DD)', "data-value" => f.object.patient_guardian_father_birth_date %>
        <%= text_field_tag :displaying_date_patient_guardian_father_birth_date, '', :class => "rising_stars_pediatric_form_date_selector display_date", :placeholder => "MM-DD-YYYY", "data-value" => f.object.patient_guardian_father_birth_date %>
        <%= f.hidden_field :patient_guardian_father_birth_date %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_ssn_1, "Social Security Number ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_ssn_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_father_ssn_2, :style => 'width:30px', :placeholder => "##", :size => 2, :maxlength => 2 %>
        -
        <%= f.text_field :patient_guardian_father_ssn_3, :style => 'width:40px', :placeholder => " ###", :size => 3, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_address_type, raw('&nbsp;'), :class => 'control-label ' %>
      <div class="controls">

        <%= label_tag "radio_buttons", :class => 'radio inline home_address_same_as' do %>
          <%= f.radio_button :patient_guardian_father_address_type, "Same", :class => 'rising_stars_father_address_type' %>
          Home address same as <span class="patient_first_name" ><%= f.object.Self_Name_First %></span>
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_father_address_type, "Other", :class => 'rising_stars_father_address_type'%>
          Other
        <% end %>

      </div>
    </div>

    <div class="control-group ">
      <%= f.label :patient_guardian_father_address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_address_1, :placeholder => "Address 1", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_father_address' %>
        <%= f.text_field :patient_guardian_father_address_2, :placeholder => "Address 2", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_father_address' %>
        <br>
        <%= f.text_field :patient_guardian_father_address_city, :placeholder => "City", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_father_address' %> &nbsp;
        <br>
        <%= f.select :patient_guardian_father_address_state, options_for_select(StaticData.state, f.object.patient_guardian_father_address_state), {:include_blank => true}, :style => "width:222px;", :class => 'rising_stars_father_address' %>
        <%= f.text_field :patient_guardian_father_address_zip, :placeholder => "Postal / Zip Code", :class => 'rising_stars_father_address' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_home_phone_1, "Home Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => 'rising_stars_father_address' %>
        -
        <%= f.text_field :patient_guardian_father_home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => 'rising_stars_father_address' %>
        -
        <%= f.text_field :patient_guardian_father_home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4, :class => 'rising_stars_father_address' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_cell_phone_1, "Cell Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_cell_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_father_cell_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_father_cell_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_email, :style => 'width:437px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_employer, "Employer", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_employer, :style => 'width:437px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_father_work_phone_1, "Work Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_father_work_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_father_work_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_father_work_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="rising_stars_pediatric_iforms_footer_links">
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "0" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "2" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="mother">
    <div class="control-group">
      <%= f.label :patient_guardian_mother, raw('&nbsp;'), :class => 'control-label ' %>
      <div class="controls">

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother, "Mother", :class => 'rising_stars_mother_type' %>Mother

        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother, "Stepmother", :class => 'rising_stars_mother_type' %>Stepmother
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother, "Guardian", :class => 'rising_stars_mother_type' %>Guardian
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother, "None", :class => 'rising_stars_mother_type' %>None
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother, "Other", :class => 'rising_stars_mother_type' %>Other
           <% end %>&nbsp;&nbsp;
        <%= f.text_field :patient_guardian_mother_other_description, :style => 'width: 235px;height:15px', :class => (f.object.patient_guardian_mother == 'Other' ? '' : 'hide') %>

      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_first_name, :placeholder => "First Name" %>
        <%= f.text_field :patient_guardian_mother_last_name, :placeholder => "Last Name" %>
      </div>
    </div>

    <div class="control-group">
      <%#= f.label :patient_guardian_mother_birth_date, 'Birth Date', :class => 'control-label' %>
      <%= f.label :displaying_date_patient_guardian_mother_birth_date, "Birth Date", :class => 'control-label' %>
      <div class="controls ">
        <%#= f.date_select :patient_guardian_mother_birth_date, :start_year => 1940, :end_year => Date.current.year, :include_blank => true %>
        <%#= f.text_field :patient_guardian_mother_birth_date, :class => "rising_stars_pediatric_form_date_selector", :placeholder => 'Date (YYYY-MM-DD)', "data-value" => f.object.patient_guardian_mother_birth_date %>
        <%= text_field_tag :displaying_date_patient_guardian_mother_birth_date, '', :class => "rising_stars_pediatric_form_date_selector display_date", :placeholder => "MM-DD-YYYY", "data-value" => f.object.patient_guardian_mother_birth_date %>
        <%= f.hidden_field :patient_guardian_mother_birth_date %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_ssn_1, "Social Security Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_ssn_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_mother_ssn_2, :style => 'width:30px', :placeholder => "##", :size => 2, :maxlength => 2 %>
        -
        <%= f.text_field :patient_guardian_mother_ssn_3, :style => 'width:40px', :placeholder => " ###", :size => 3, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_address_type, raw('&nbsp;'), :class => 'control-label ' %>
      <div class="controls">

        <%= label_tag "radio_buttons", :class => 'radio inline home_address_same_as' do %>
          <%= f.radio_button :patient_guardian_mother_address_type, "Same", :class => 'rising_stars_mother_address_type' %>
          Home address same as <span class="patient_first_name" ><%= f.object.Self_Name_First %></span>
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :patient_guardian_mother_address_type, "Other", :class => 'rising_stars_mother_address_type' %>
          Other
        <% end %>

      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_address_1, "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_address_1, :placeholder => "Address 1", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_mother_address' %>
        <%= f.text_field :patient_guardian_mother_address_2, :placeholder => "Address 2", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_mother_address' %>
        <br>
        <%= f.text_field :patient_guardian_mother_address_city, :placeholder => "City", :style => 'width:437px;margin-bottom:10px;', :class => 'rising_stars_mother_address' %> &nbsp;
        <br>
        <%= f.select :patient_guardian_mother_address_state, options_for_select(StaticData.state, f.object.patient_guardian_mother_address_state), {:include_blank => true}, :style => "width:222px;", :class => 'rising_stars_mother_address' %>
        <%= f.text_field :patient_guardian_mother_address_zip, :placeholder => "Postal / Zip Code", :class => 'rising_stars_mother_address' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_home_phone_1, "Home Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => 'rising_stars_mother_address' %>
        -
        <%= f.text_field :patient_guardian_mother_home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3, :class => 'rising_stars_mother_address' %>
        -
        <%= f.text_field :patient_guardian_mother_home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4, :class => 'rising_stars_mother_address' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_cell_phone_1, "Cell Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_cell_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_mother_cell_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_mother_cell_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_email, :style => 'width:437px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_employer, "Employer", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_employer, :style => 'width:437px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :patient_guardian_mother_work_phone_1, "Work Phone", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patient_guardian_mother_work_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_mother_work_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :patient_guardian_mother_work_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="rising_stars_pediatric_iforms_footer_links">
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "1" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "3" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="insurance">
    <div class="control-group">
      <p style="text-align: justify">
        As a courtesy we will accept assignment of benefits from most insurance companies.
        In order to do so you must provide us with a copy of your insurance card and the following
        information:
      </p>
    </div>

    <div class="control-group">
      <%= f.label :insurance_insured, 'Insured', :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio' do %>
          <%= f.radio_button :insurance_insured, "Father", :class => 'rising_stars_insured' %>
          <span id="father_insurance_insured">Father</span>
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio' do %>
          <%= f.radio_button :insurance_insured, "Mother", :class => 'rising_stars_insured' %>
          <span id="mother_insurance_insured">Mother</span>
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio' do %>
          <%= f.radio_button :insurance_insured, "Other", :class => 'rising_stars_insured' %>Other
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_person_first_name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_person_first_name, :placeholder => "First Name", :class => "input-small rising_stars_insured_fields", :style => 'width:95px' %>
        <%= f.text_field :insurance_person_last_name, :placeholder => "Last Name", :class => "input-small rising_stars_insured_fields", :style => 'width:95px' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_relation_ship_to_patient, raw("Relationship to <span class = 'replace_relationship_patient_with_first_name'>Patient</span>") , :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_relation_ship_to_patient, :class => 'rising_stars_insured_fields' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_employer, "Employer", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_employer, :class => 'rising_stars_insured_fields' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_company_name, "Insurance Company", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_company_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_member_id, "Member ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_member_id %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_group, "Group", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_group %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_phone_1, "Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :insurance_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
        -
        <%= f.text_field :insurance_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :insurance_address_1, "Insurance claims mailing address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
        <%= f.text_field :insurance_address_2, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
        <br>
        <%= f.text_field :insurance_address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
        <br>
        <%= f.select :insurance_address_state, options_for_select(StaticData.state, f.object.insurance_address_state), {:include_blank => true}, {:style => "width:222px;"} %>
        <%= f.text_field :insurance_address_zip, :placeholder => "Postal / Zip Code" %>
      </div>
    </div>

    <div class="control-group rising_stars_second_company">
      <%= f.label :insurance_second_insurance_company_name, "Second insurance company name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :insurance_second_insurance_company_name %>
      </div>
    </div>

    <div class="rising_stars_pediatric_iforms_footer_links">
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "2" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "4" do %>
        Next&nbsp;<i class="icon-chevron-right icon-white"></i>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="dental_history">
  <div class="control-group">
    <%= f.label :dental_history_why_patient_here_today, raw("Why <span class = 'replace_patient_with_first_name'>Patient</span> here today"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_why_patient_here_today, :style => "width:355px;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_first_time_to_visit, raw("Is this <span class = 'replace_patient_with_first_name'>Patient</span> first visit to the dentist"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_patient_first_time_to_visit, "Yes", :class => 'rising_stars_first_tim_visit' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_patient_first_time_to_visit, "No", :class => 'rising_stars_first_tim_visit' %>
        No
      <% end %>
    </div>
  </div>
  <div class="control-group rising_stars_last_visit">
    <%#= f.label :dental_history_patient_last_visiting_date, 'Last Dental Visit', :class => 'control-label' %>
    <%= f.label :displaying_date_dental_history_patient_last_visiting_date, "Last Dental Visit", :class => 'control-label' %>
        <div class="controls">
      <%#= f.text_field :dental_history_patient_last_visiting_date, :class => "rising_stars_pediatric_form_date_selector", :placeholder => 'Date (YYYY-MM-DD)', "data-value" => f.object.dental_history_patient_last_visiting_date %>
      <%= text_field_tag :displaying_date_dental_history_patient_last_visiting_date, '', :class => "rising_stars_pediatric_form_date_selector display_date", :placeholder => "MM-DD-YYYY", "data-value" => f.object.dental_history_patient_last_visiting_date %>
      <%= f.hidden_field :dental_history_patient_last_visiting_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_behave_today_friendly, raw("How do you think <span class = 'replace_patient_with_first_name'>Patient</span> will behave today"), :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :dental_history_patient_behave_today_friendly %>Friendly
      <% end %>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :dental_history_patient_behave_today_happy %>Happy
      <% end %>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :dental_history_patient_behave_today_timid %>Timid
      <% end %>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :dental_history_patient_behave_today_afraid %>Afraid
      <% end %>
      <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
        <%= f.check_box :dental_history_patient_behave_today_resistance %>Resistant
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_receive_fluoride_in_any_form, raw("Does <span class = 'replace_patient_with_first_name'>Patient</span> receive fluoride in any form"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_patient_receive_fluoride_in_any_form, "Yes" %>Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_patient_receive_fluoride_in_any_form, "No" %>No
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_receive_fluoride_in_any_form_description, raw("How does <span class = 'replace_patient_with_first_name'>Patient</span> receive fluoride"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_patient_receive_fluoride_in_any_form_description, :style => 'width:363px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_inherited_any_dental_characteristics, raw("What dental characteristics has <span class = 'replace_patient_with_first_name'>Patient</span> inherited"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_patient_inherited_any_dental_characteristics, :style => 'width:363px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_patient_have_any_injuries, raw("Has <span class = 'replace_patient_with_first_name'>Patient</span> teeth been injured"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_patient_have_any_injuries, :style => 'width:363px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_cavities, raw("Does <span class = 'replace_patient_with_first_name'>Patient</span> now, or has #{f.object.Self_Sex == 'f' ? 'her' : 'his'} ever, had any of these problems"), :class => 'control-label ' %>
    <div class="controls">

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_cavities %>Cavities
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_crooked_teeth %>Crooked teeth
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_sensitive_to_hot_or_cold %>Sensitive to hot/cold
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_loose_teeth %>Loose teeth
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_toothache %>Toothache
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_sensitive_to_sweets %>Sensitive to sweets
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_frequent_headaches %>Frequent headaches
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_teeth_bumped %>Teeth bumped
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_bad_breath %>Bad breath
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_patient_bleeding_gums %>Bleeding gums
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_discolored_teeth %>Discolored teeth
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_tmj_popping_or_clicking %>TMJ popping/clicking
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_jaw_pain_from_joint %>Jaw pain from joint
      <% end %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_thumb_sucking, ' Oral Habits ', :class => 'control-label ' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_thumb_sucking %>Thumb sucking
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_lip_biting %>Lip biting
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_teeth_grinding %>Teeth Grinding
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_pacifier_use %>Pacifier Use
      <% end %>

      <%= label_tag "check_boxes", :class => '  checkbox' do %>
        <%= f.check_box :dental_history_other %>Other
        &nbsp;&nbsp;
        <%= f.text_field :dental_history_oral_habits_other_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => (f.object.dental_history_other ? '' : 'hide') %>
      <% end %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_does_child_brush_teeth, raw("How often does <span class = 'replace_patient_with_first_name'>Patient</span> brush #{f.object.Self_Sex == 'f' ? 'her' : 'his'} teeth"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_does_child_brush_teeth %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_does_child_brush_teeth_electric_tooth_brush, ' Electric toothbrush ', :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_does_child_brush_teeth_electric_tooth_brush, "Yes" %>Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_does_child_brush_teeth_electric_tooth_brush, "No" %>No
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_does_child_flosh_teeth, raw("How often does <span class = 'replace_patient_with_first_name'>Patient</span> floss #{f.object.Self_Sex == 'f' ? 'her' : 'his'} teeth"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_does_child_flosh_teeth, "Daily" %>Daily
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_does_child_flosh_teeth, "Sometimes" %>Sometimes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :dental_history_does_child_flosh_teeth, "Never" %>Never
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_age_at_stop_bottle, raw("At what age did <span class = 'replace_patient_with_first_name'>Patient</span> stop using the bottle"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_age_at_stop_bottle %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dental_history_age_at_stop_bottle_sippy_cup, raw("At what age did <span class = 'replace_patient_with_first_name'>Patient</span> stop using the sippy cup"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dental_history_age_at_stop_bottle_sippy_cup %>
    </div>
  </div>
  <div class="rising_stars_pediatric_iforms_footer_links">
    <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "3" do %>
      &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
    <% end %>
    <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "5" do %>
      Next&nbsp;<i class="icon-chevron-right icon-white"></i>
    <% end %>
  </div>
  </div>
  <div class="tab-pane" id="medical_history">
  <div class="control-group">
    <%= f.label :medical_history_physician, 'Physician', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medical_history_physician, :style => 'width: 435px;' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_address_1, "Address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medical_history_address_1, :placeholder => "Address 1", :style => 'width:435px;margin-bottom:10px;' %>
      <%= f.text_field :medical_history_address_2, :placeholder => "Address 2", :style => 'width:435px;margin-bottom:10px;' %>
      <br>
      <%= f.text_field :medical_history_address_city, :placeholder => "City", :style => 'width:435px;margin-bottom:10px;' %> &nbsp;
      <br>
      <%= f.select :medical_history_address_state, options_for_select(StaticData.state, f.object.medical_history_address_state), {:include_blank => true}, {:style => "width:222px;"} %>
      <%= f.text_field :medical_history_address_zip, :placeholder => "Postal / Zip Code" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_home_phone_1, "Phone Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medical_history_home_phone_1, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :medical_history_home_phone_2, :style => 'width:30px', :placeholder => "###", :size => 3, :maxlength => 3 %>
      -
      <%= f.text_field :medical_history_home_phone_3, :style => 'width:40px', :placeholder => " ####", :size => 4, :maxlength => 4 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_patient_booster_shoot_up_to_date, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> immunizations and booster shots up to date"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_booster_shoot_up_to_date, "Yes" %>Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_booster_shoot_up_to_date, "No" %>No
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_patient_good_general_health, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> is in good general health"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_good_general_health, "Yes", :class => 'rising_stars_good_gen_health' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_good_general_health, "No", :class => 'rising_stars_good_gen_health' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_patient_good_general_health_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => (f.object.medical_history_patient_good_general_health == 'No' ? '' : 'hide') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_patient_physical_disabilities, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> has physical disabilities/developmental delays"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_physical_disabilities, "Yes", :class => 'rising_stars_physical_dev' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_physical_disabilities, "No", :class => 'rising_stars_physical_dev' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_patient_physical_disabilities_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => f.object.medical_history_patient_physical_disabilities == 'Yes' ? '' : 'hide' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_patient_surgical_operations, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> had surgical operations"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_surgical_operations, "Yes", :class => 'rising_stars_surgical_operations' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_surgical_operations, "No", :class => 'rising_stars_surgical_operations' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_patient_surgical_operations_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => f.object.medical_history_patient_surgical_operations == 'Yes' ? '' : 'hide' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_patient_ever_been_hospitalized, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> was hospitalized"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_ever_been_hospitalized, "Yes", :class => 'rising_stars_patient_hosp' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_patient_ever_been_hospitalized, "No", :class => 'rising_stars_patient_hosp' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_patient_ever_been_hospitalized_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => f.object.medical_history_patient_ever_been_hospitalized == 'Yes' ? '' : 'hide' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_latex_allergies, raw("Does <span class = 'replace_patient_with_first_name'>Patient</span> now, or has #{f.object.Self_Sex == 'f' ? 'her' : 'his'} ever had"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "check_boxes", :class => 'checkbox inline', :style => 'width:100px' do %>
        <%= f.check_box :medical_history_latex_allergies %>Latex Allergies
      <% end %>
      <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline', :style => 'width:130px' do %>
        <%= f.check_box :medical_history_seasonal_allergies %>Seasonal Allergies
      <% end %>
      <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline', :style => 'width:100px' do %>
        <%= f.check_box :medical_history_food_allergies %> Food Allergies
      <% end %> &nbsp;&nbsp;&nbsp;
      <%= f.text_field :medical_history_food_allergies_description, :placeholder => 'Please Describe', :style => 'width: 307px;height:15px', :class => f.object.medical_history_food_allergies ? '' : 'hide' %>
      <br>
      <%= label_tag "check_boxes", :class => 'checkbox inline', :style => 'width:100px' do %>
        <%= f.check_box :medical_history_drug_allergies %> Drug Allergies
      <% end %> &nbsp;&nbsp;&nbsp;
      <%= f.text_field :medical_history_drug_allergies_description, :placeholder => 'Please Describe', :style => 'width: 307px;height:15px;margin-top:5px', :class => f.object.medical_history_drug_allergies ? '' : 'hide' %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :medical_history_asthama_or_breathing_prob, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> has a history of asthma or breathing problems"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_asthama_or_breathing_prob, "Yes", :class => 'rising_stars_asthama_or_breath' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_asthama_or_breathing_prob, "No", :class => 'rising_stars_asthama_or_breath' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_asthama_or_breathing_prob_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => f.object.medical_history_asthama_or_breathing_prob == 'Yes' ? '' : 'hide' %>
    </div>
  </div>
  <div class="control-group rising_stars_asthama_yes + <%= f.object.medical_history_asthama_or_breathing_prob == 'Yes' ? '' : 'hide' %>">
    <%= f.label :medical_history_er_for_asthma_attack, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> went to the ER for an asthma attack"), :class => 'control-label' %>
    <div class="controls">
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_er_for_asthma_attack, "Yes", :class => 'rising_stars_er_asthama' %>
        Yes
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_er_for_asthma_attack, "No", :class => 'rising_stars_er_asthama' %>
        No
      <% end %> &nbsp;&nbsp;
      <%= f.text_field :medical_history_er_for_asthma_attack_description, :placeholder => 'Please Explain', :style => 'width: 326px;height:15px', :class => f.object.medical_history_er_for_asthma_attack == 'Yes' ? '' : 'hide' %>
    </div>
  </div>
  <div class="control-group rising_stars_asthama_yes + <%= f.object.medical_history_asthama_or_breathing_prob == 'Yes' ? '' : 'hide' %>">
    <%= f.label :medical_history_induces_breathing_prob, ' What induces the breathing problems', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medical_history_induces_breathing_prob, :style => 'width: 435px;' %>
    </div>
  </div>
  <div class="control-group rising_stars_asthama_yes + <%= f.object.medical_history_asthama_or_breathing_prob == 'Yes' ? '' : 'hide' %>">
    <%= f.label :medical_history_asthma_medication, ' Asthma medication ', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medical_history_asthma_medication, :style => 'width: 435px;' %>
    </div>
  </div>
  <table class="table table-bordered rising_stars_pediatric_table" style="width:60%;margin-left: 16%">
  <tr>
    <th style=""></th>
    <th style="text-align: center;width:20%">Yes</th>
    <th style="text-align: center;width:20%">No</th>
  </tr>
  <tr>
    <td>
      Autism Spectrum
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_autism_spectrum, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_autism_spectrum, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Sensory Integration Issues
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_sensory_integration_issues, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_sensory_integration_issues, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      ADD/ADHD
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_add_or_adhd, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_add_or_adhd, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Heart Trouble or heart murmur
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_heart_trouble_or_heart_murmur, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_heart_trouble_or_heart_murmur, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Rheumatic heart disease or fever
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_rheumatic_heart_disease_or_fever, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_rheumatic_heart_disease_or_fever, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Blood diseases or anemia
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_blood_diseases_or_anemia, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_blood_diseases_or_anemia, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      AIDS virus
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_aids_virus, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_aids_virus, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Herpes virus or shingles
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_herpes_virus_or_shingles, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_herpes_virus_or_shingles, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Diabetes
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_diabetes, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_diabetes, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Ear, eye, nose or throat trouble
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_ear_eye_nose_or_throat_trouble, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_ear_eye_nose_or_throat_trouble, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Stomach ulcers
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_stomach_ulcers, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_stomach_ulcers, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Hearing/Vision Impairment
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_hearing_or_vision_impairment, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_hearing_or_vision_impairment, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Eating disorders
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_eating_disorders, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_eating_disorders, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Abnormal Bleeding or bruising
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_abnormal_bleeding_or_bruising, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_abnormal_bleeding_or_bruising, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Prolonged Bleeding /Transfusions
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_prolonged_bleeding_or_transfusions, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_prolonged_bleeding_or_transfusions, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Birth Defects
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_birth_defects, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_birth_defects, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Kidney Disease
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_kidney_disease, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_kidney_disease, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Cleft lip or palate
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_cleft_lip_or_palate, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_cleft_lip_or_palate, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Scarlet fever or high fever
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_scarlet_fever_or_high_fever, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_scarlet_fever_or_high_fever, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      High or low blood pressure
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_high_or_low_blood_pressure, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_high_or_low_blood_pressure, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Liver disease
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_liver_disease, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_liver_disease, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Jaundice or hepatitis
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_Jaundice_or_hepatitis, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_Jaundice_or_hepatitis, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Steroids therapy or chemotherapy
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_steroids_therapy_or_chemotherapy, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_steroids_therapy_or_chemotherapy, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Nervous or emotional disorders
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_nervous_or_emotional_disorders, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_nervous_or_emotional_disorders, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Frequent diarrhea or vomiting
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_frequent_diarrhea_or_vomiting, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_frequent_diarrhea_or_vomiting, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Mumps, measles, or chickenpox
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_mumps_measles_or_chickenpox, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_mumps_measles_or_chickenpox, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Cancer, tumors, growths or cysts
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_cancer_tumors_growths_or_cysts, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_cancer_tumors_growths_or_cysts, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Sinus problems or drainage
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_sinus_problems_or_drainage, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_sinus_problems_or_drainage, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Tuberculosis or TB exposure
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_tuberculosis_or_tb_exposure, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_tuberculosis_or_tb_exposure, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Problems with Anesthesia
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_problems_with_anesthesia, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_problems_with_anesthesia, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Thyroid disease
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_thyroid_disease, "Yes" %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_thyroid_disease, "No" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Convulsions or seizures
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_Convulsions_or_seizures, "Yes", :class => 'rising_stars_seizures' %>
      <% end %>
    </td>
    <td>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :medical_history_Convulsions_or_seizures, "No", :class => 'rising_stars_seizures' %>
      <% end %>
    </td>
  </tr>
  <tr class="rising_stars_seizures_date + <%= f.object.medical_history_Convulsions_or_seizures == 'Yes' ? '' : 'hide' %>">
    <td>
      Date of last seizure
    </td>
    <td colspan="2">
      <%#= f.text_field :medical_history_date_of_last_seizure, :class => "rising_stars_pediatric_form_date_selector", :placeholder => 'Date  (YYYY-MM-DD)', "data-value" => f.object.medical_history_date_of_last_seizure %>
      <%= text_field_tag :displaying_date_medical_history_date_of_last_seizure, '', :class => "rising_stars_pediatric_form_date_selector display_date", :placeholder => "MM-DD-YYYY", "data-value" => f.object.medical_history_date_of_last_seizure %>
      <%= f.hidden_field :medical_history_date_of_last_seizure %>
    </td>
  </tr>
  </table>
  <div class="control-group">
    <strong>
      MEDICATIONS:
    </strong>
  </div>
  <table class="table table-bordered rising_stars_pediatric_table" style="width:60%;margin-left: 16%">
    <tr>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">How Often</th>
      <th style="text-align: center">Reason Taken</th>
    </tr>
    <tr>
      <td>
        <%= f.text_field :medical_history_current_medication_name_1 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_how_often_1 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_reason_1 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :medical_history_current_medication_name_2 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_how_often_2 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_reason_2 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :medical_history_current_medication_name_3 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_how_often_3 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_reason_3 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :medical_history_current_medication_name_4 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_how_often_4 %>
      </td>
      <td>
        <%= f.text_field :medical_history_current_medication_reason_4 %>
      </td>
    </tr>
  </table>
  <div class="rising_stars_pediatric_iforms_footer_links">
    <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "4" do %>
      &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
    <% end %>
    <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "6" do %>
      Next&nbsp;<i class="icon-chevron-right icon-white"></i>
    <% end %>
  </div>
  </div>
  <div class="tab-pane" id="social_history">
    <div class="control-group">
      <%= f.label :social_history_patient_have_problems_speech, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> has problems with"), :class => 'control-label ' %>
      <div class="controls">
        <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
          <%= f.check_box :social_history_patient_have_problems_speech %>Speech
        <% end %>
        <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
          <%= f.check_box :social_history_patient_have_problems_hearing %>Hearing
        <% end %>
        <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
          <%= f.check_box :social_history_patient_have_problems_vision %>Vision
        <% end %>
        <%= label_tag "check_boxes", :class => 'checkbox inline' do %>
          <%= f.check_box :social_history_patient_have_problems_sleep %>Sleep
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_is, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> is"), :class => 'control-label ' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:140px'  do %>
          <%= f.radio_button :social_history_patient_is, 'Advanced in learning'%>Advanced in learning
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:140px'  do %>
          <%= f.radio_button :social_history_patient_is, 'Progressing normally' %>Progressing normally
        <% end %>

        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:140px' do %>
          <%= f.radio_button :social_history_patient_is, 'A slow learner' %>A slow learner
        <% end %>

      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_first_lang, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> first language"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_patient_first_lang %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_second_lang, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> second language"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_patient_second_lang %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_adopted, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> was adopted"), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_patient_adopted, "Yes", :class => 'rising_stars_patient_adopted' %>Yes
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_patient_adopted, "No", :class => 'rising_stars_patient_adopted' %>No
        <% end %> &nbsp;&nbsp;

        <%= f.text_field :social_history_patient_adopted_age, :placeholder => "What age", :style => 'width:100px;height:15px', :class => 'rising_stars_patient_adopted_age' %> &nbsp;&nbsp;

        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_patient_adopted_age_years_months, "years", :class => 'rising_stars_patient_adopted_age' %>
          <span class='rising_stars_patient_adopted_age'>Years</span>
        <% end %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= f.radio_button :social_history_patient_adopted_age_years_months, "months", :class => 'rising_stars_patient_adopted_age' %>
          <span class='rising_stars_patient_adopted_age'>Months</span>
        <% end %>

      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_tolerate, raw("How well does <span class = 'replace_patient_with_first_name'>Patient</span> tolerate dental/medical care"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_patient_tolerate %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :social_history_patient_favorites, raw("<span class = 'replace_patient_with_first_name capitalize_first_letter'>Patient</span> favorites (pet, toy, color, friend, hobby etc.)"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :social_history_patient_favorites, :style => 'width:435px' %>
      </div>
    </div>

    <div class="rising_stars_pediatric_iforms_footer_links">
      <%= link_to "#", :class => 'btn btn-primary rising_stars_pediatric_iforms_nav_link', :data_tab_index => "5" do %>
        &nbsp;<i class="icon-chevron-left icon-white"></i>Prev
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit submit_tag_text, :class => 'btn btn-primary' %>
    </div>
  </div>
  </div>
  </div>
<% end %>

<style type="text/css">
  .capitalize_first_letter{
    text-transform: capitalize;
  }
</style>

<script type="text/javascript">
  function unmask_str() {
  }
</script>
<script>
  jQuery(function ($) {
    $('#iform_Self_Home_Postal_Code, #iform_home_phone_1, #iform_home_phone_2, #iform_home_phone_3,' +
      '#iform_patient_other_phone_1, #iform_patient_other_phone_2, #iform_patient_other_phone_3, #iform_patient_guardian_father_ssn_1,' +
      '#iform_patient_guardian_father_ssn_2, #iform_patient_guardian_father_ssn_3, #iform_patient_guardian_father_address_zip, #iform_patient_guardian_father_home_phone_1,' +
      '#iform_patient_guardian_father_home_phone_2, #iform_patient_guardian_father_home_phone_3, #iform_patient_guardian_father_work_phone_1,' +
      '#iform_patient_guardian_father_work_phone_2, #iform_patient_guardian_father_work_phone_3, #iform_patient_guardian_father_cell_phone_1,' +
      '#iform_patient_guardian_father_cell_phone_2, #iform_patient_guardian_father_cell_phone_3, #iform_patient_guardian_mother_ssn_1,' +
      '#iform_patient_guardian_mother_ssn_2, #iform_patient_guardian_mother_ssn_1, #iform_patient_guardian_mother_address_zip,' +
      '#iform_patient_guardian_mother_home_phone_1, #iform_patient_guardian_mother_home_phone_2, #iform_patient_guardian_mother_home_phone_3,' +
      '#iform_patient_guardian_mother_work_phone_1, #iform_patient_guardian_mother_work_phone_2, #iform_patient_guardian_mother_work_phone_3,' +
      '#iform_patient_guardian_mother_cell_phone_1, #iform_patient_guardian_mother_cell_phone_2, #iform_patient_guardian_mother_cell_phone_3,' +
      '#iform_insurance_phone_1, #iform_insurance_phone_2, #iform_insurance_phone_3, #iform_medical_history_address_zip,' +
      '#iform_insurance_address_zip, #iform_medical_history_home_phone_1, #iform_medical_history_home_phone_2, #iform_medical_history_home_phone_3, #iform_social_history_patient_adopted_age').autotab_filter('numeric');

    $('#iform_home_phone_1, #iform_home_phone_2, #iform_home_phone_3,' +
      '#iform_patient_other_phone_1, #iform_patient_other_phone_2, #iform_patient_other_phone_3, #iform_patient_previously_siblings_list').autotab_magic();

    $('#iform_patient_guardian_father_ssn_1,#iform_patient_guardian_father_ssn_2, #iform_patient_guardian_father_ssn_3, #iform_patient_guardian_father_employer').autotab_magic();

    $('#iform_patient_guardian_father_work_phone_1,#iform_patient_guardian_father_work_phone_2, #iform_patient_guardian_father_work_phone_3, #iform_patient_guardian_father_address_1').autotab_magic();

    $('#iform_patient_guardian_father_home_phone_1, #iform_patient_guardian_father_home_phone_2, #iform_patient_guardian_father_home_phone_3,' +
      '#iform_patient_guardian_father_cell_phone_1, #iform_patient_guardian_father_cell_phone_2, #iform_patient_guardian_father_cell_phone_3, #iform_patient_guardian_father_email').autotab_magic();

    $('#iform_patient_guardian_mother_ssn_1,#iform_patient_guardian_mother_ssn_2, #iform_patient_guardian_mother_ssn_3').autotab_magic();

    $('#iform_patient_guardian_mother_work_phone_1,#iform_patient_guardian_mother_work_phone_2, #iform_patient_guardian_mother_work_phone_3, #iform_patient_guardian_mother_address_1').autotab_magic();

    $('#iform_patient_guardian_mother_home_phone_1, #iform_patient_guardian_mother_home_phone_2, #iform_patient_guardian_mother_home_phone_3,' +
      '#iform_patient_guardian_mother_cell_phone_1, #iform_patient_guardian_mother_cell_phone_2, #iform_patient_guardian_mother_cell_phone_3, #iform_patient_guardian_mother_email').autotab_magic();

    $('#iform_insurance_phone_1,#iform_insurance_phone_2, #iform_insurance_phone_3, #iform_insurance_address_1').autotab_magic();


    $('#iform_medical_history_home_phone_1, #iform_medical_history_home_phone_2, #iform_medical_history_home_phone_3').autotab_magic();

    $('.rising_stars_pediatric_form_date_selector').datepicker({
      changeMonth:true,
      changeYear:true,
      dateFormat:'mm-dd-yy',
      yearRange:'1940:' + new Date().getFullYear()
    });

    var Self_Birthdate = $('#displaying_date_Self_Birthdate').attr('data-value');
    var patient_guardian_father_birth_date = $('#displaying_date_patient_guardian_father_birth_date').attr('data-value');
    var patient_guardian_mother_birth_date = $('#displaying_date_patient_guardian_mother_birth_date').attr('data-value');
    var dental_history_patient_last_visiting_date = $('#displaying_date_dental_history_patient_last_visiting_date').attr('data-value');
    var medical_history_date_of_last_seizure =$('#displaying_date_medical_history_date_of_last_seizure').attr('data-value');

    $('#displaying_date_Self_Birthdate').datepicker("setDate", Self_Birthdate ? change_date_format(Self_Birthdate) : '');
    $('#displaying_date_patient_guardian_father_birth_date').datepicker("setDate", patient_guardian_father_birth_date ? change_date_format(patient_guardian_father_birth_date) : '');
    $('#displaying_date_patient_guardian_mother_birth_date').datepicker("setDate", patient_guardian_mother_birth_date ? change_date_format(patient_guardian_mother_birth_date) : '');
    $('#displaying_date_dental_history_patient_last_visiting_date').datepicker("setDate", dental_history_patient_last_visiting_date ? change_date_format(dental_history_patient_last_visiting_date) : '');
    $('#displaying_date_medical_history_date_of_last_seizure').datepicker("setDate", medical_history_date_of_last_seizure ? change_date_format(medical_history_date_of_last_seizure) : '');
  });


  if ($('.rising_stars_first_tim_visit:checked').val() == 'No') {
    $('.rising_stars_last_visit').show();
  } else {
    $('.rising_stars_last_visit').hide();
  }

  if ($(".rising_stars_father_type:checked").val() == 'Other') {
    $('#father_insurance_insured').text($('#iform_patient_guardian_father_other_description').val());
  }
  else {
    $('#father_insurance_insured').text($('.rising_stars_father_type:checked').val());
  }

  if ($(".rising_stars_mother_type:checked").val() == 'Other') {
    $('#mother_insurance_insured').text($('#iform_patient_guardian_mother_other_description').val());
  }
  else {
    $('#mother_insurance_insured').text($('.rising_stars_mother_type:checked').val());
  }

  if ($('.rising_stars_father_address_type:checked').val() == 'Same') {
    $('.rising_stars_father_address').attr('readonly', true);
    $('#iform_patient_guardian_father_address_1').val($('#iform_Self_Home_Address1').val());
    $('#iform_patient_guardian_father_address_2').val($('#iform_Self_Home_Address2').val());
    $('#iform_patient_guardian_father_address_city').val($('#iform_Self_Home_City').val());
    $('#iform_patient_guardian_father_address_state').val($('#iform_Self_Home_State').val());
    $('#iform_patient_guardian_father_address_zip').val($('#iform_Self_Home_Postal_Code').val());

    $('#iform_patient_guardian_father_home_phone_1').val($('#iform_home_phone_1').val());
    $('#iform_patient_guardian_father_home_phone_2').val($('#iform_home_phone_2').val());
    $('#iform_patient_guardian_father_home_phone_3').val($('#iform_home_phone_3').val());
  }
//  else {
//    if (<%= @appform.status == 'in progress' || @appform.status == 'pending' %>) {
//}
//    else {
//    $('.rising_stars_father_address').attr('readonly', false);
//    $('#iform_patient_guardian_father_address_1').val('');
//    $('#iform_patient_guardian_father_address_2').val('');
//    $('#iform_patient_guardian_father_address_city').val('');
//    $('#iform_patient_guardian_father_address_state').val('');
//    $('#iform_patient_guardian_father_address_zip').val('');
//
//    $('#iform_patient_guardian_father_home_phone_1').val('');
//    $('#iform_patient_guardian_father_home_phone_2').val('');
//    $('#iform_patient_guardian_father_home_phone_3').val('');
//  }
//  }

  if ($('.rising_stars_mother_address_type:checked').val() == 'Same') {
    $('.rising_stars_mother_address').attr('readonly', true);
    $('#iform_patient_guardian_mother_address_1').val($('#iform_Self_Home_Address1').val());
    $('#iform_patient_guardian_mother_address_2').val($('#iform_Self_Home_Address2').val());
    $('#iform_patient_guardian_mother_address_city').val($('#iform_Self_Home_City').val());
    $('#iform_patient_guardian_mother_address_state').val($('#iform_Self_Home_State').val());
    $('#iform_patient_guardian_mother_address_zip').val($('#iform_Self_Home_Postal_Code').val());

    $('#iform_patient_guardian_mother_home_phone_1').val($('#iform_home_phone_1').val());
    $('#iform_patient_guardian_mother_home_phone_2').val($('#iform_home_phone_2').val());
    $('#iform_patient_guardian_mother_home_phone_3').val($('#iform_home_phone_3').val());
  }
//  else {
//    if (<%= @appform.status == 'in progress' || @appform.status == 'pending' %>) {
//    }
//    else {
//      $('.rising_stars_mother_address').attr('readonly', false);
//      $('#iform_patient_guardian_mother_address_1').val('');
//      $('#iform_patient_guardian_mother_address_2').val('');
//      $('#iform_patient_guardian_mother_address_city').val('');
//      $('#iform_patient_guardian_mother_address_state').val('');
//      $('#iform_patient_guardian_mother_address_zip').val('');
//
//      $('#iform_patient_guardian_mother_home_phone_1').val('');
//      $('#iform_patient_guardian_mother_home_phone_2').val('');
//      $('#iform_patient_guardian_mother_home_phone_3').val('');
//    }
  //}

  if ($('.rising_stars_insured:checked').val() == 'Father') {
    $('.rising_stars_insured_fields').attr('readonly', true);
    $('#iform_insurance_person_first_name').val($('#iform_patient_guardian_father_first_name').val());
    $('#iform_insurance_person_last_name').val($('#iform_patient_guardian_father_last_name').val());
    $('#iform_insurance_relation_ship_to_patient').val($(".rising_stars_father_type:checked").val() == 'Other' ? $('#iform_patient_guardian_father_other_description').val() : $(".rising_stars_father_type:checked").val());
    $('#iform_insurance_employer').val($('#iform_patient_guardian_father_employer').val());
  }
  else if ($('.rising_stars_insured:checked').val() == 'Mother') {
    $('.rising_stars_insured_fields').attr('readonly', true);
    $('#iform_insurance_person_first_name').val($('#iform_patient_guardian_mother_first_name').val());
    $('#iform_insurance_person_last_name').val($('#iform_patient_guardian_mother_last_name').val());
    $('#iform_insurance_relation_ship_to_patient').val($(".rising_stars_mother_type:checked").val() == 'Other' ? $('#iform_patient_guardian_mother_other_description').val() : $(".rising_stars_mother_type:checked").val());
    $('#iform_insurance_employer').val($('#iform_patient_guardian_mother_employer').val());
  }
  else {
    $('.rising_stars_insured_fields').attr('readonly', false);
    $('#iform_insurance_person_first_name').val('');
    $('#iform_insurance_person_last_name').val('');
    $('#iform_insurance_relation_ship_to_patient').val('');
    $('#iform_insurance_employer').val('');
  }

  if ($('.rising_stars_patient_adopted:checked').val() == 'Yes') {
    $('.rising_stars_patient_adopted_age').show();
  }
  else {
    $('.rising_stars_patient_adopted_age').hide();
  }

  var leng = $('#iform_Self_Name_First').val().length;
  $('.home_address_same_as').css('width', + leng * 5 + 200);
  $('.patient_first_name').text($('#iform_Self_Name_First').val());

  if($('#iform_Self_Name_First').val() == ''){
   //  $('.replace_patient_with_first_name').text('Patient')
  }else{
    $('.replace_relationship_patient_with_first_name').text($('#iform_Self_Name_First').val());
    $('.replace_patient_with_first_name').text($('#iform_Self_Name_First').val() + "'s");
  }


</script>