<h1>Listing iforms</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Middlename</th>
    <th>Prefix</th>
    <th>Preferredname</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Ssn</th>
    <th>Homeadd</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Relationshipstatus</th>
    <th>Homeph</th>
    <th>Pager</th>
    <th>Workph</th>
    <th>Workext</th>
    <th>License</th>
    <th>Employer</th>
    <th>Empadd</th>
    <th>Empduration</th>
    <th>Occupation</th>
    <th>Generaldentist</th>
    <th>Referal</th>
    <th>Familyvisited</th>
    <th>Reachyou</th>
    <th>Todaydate</th>
    <th>Birthdate</th>
    <th>Lastvisitdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iforms.each do |iform| %>
  <tr>
    <td><%= iform.email %></td>
    <td><%= iform.firstname %></td>
    <td><%= iform.lastname %></td>
    <td><%= iform.middlename %></td>
    <td><%= iform.prefix %></td>
    <td><%= iform.preferredname %></td>
    <td><%= iform.sex %></td>
    <td><%= iform.age %></td>
    <td><%= iform.ssn %></td>
    <td><%= iform.homeadd %></td>
    <td><%= iform.city %></td>
    <td><%= iform.state %></td>
    <td><%= iform.zip %></td>
    <td><%= iform.relationshipstatus %></td>
    <td><%= iform.homeph %></td>
    <td><%= iform.pager %></td>
    <td><%= iform.workph %></td>
    <td><%= iform.workext %></td>
    <td><%= iform.license %></td>
    <td><%= iform.employer %></td>
    <td><%= iform.empadd %></td>
    <td><%= iform.empduration %></td>
    <td><%= iform.occupation %></td>
    <td><%= iform.generaldentist %></td>
    <td><%= iform.referal %></td>
    <td><%= iform.familyvisited %></td>
    <td><%= iform.reachyou %></td>
    <td><%= iform.todaydate %></td>
    <td><%= iform.birthdate %></td>
    <td><%= iform.lastvisitdate %></td>
    <td><%= link_to 'Show', iform %></td>
    <td><%= link_to 'Edit', edit_iform_path(iform) %></td>
    <td><%= link_to 'Destroy', iform, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iform', new_iform_path %>
