<% if current_user.role == 'doctor'%>
<%= link_to 'Home',doctors_path %> |
<%= link_to 'Download as PDF file', @iform.path %>
<% end %>
<p id="notice"><%= notice %></p>


<p>
  <b>Email:</b>
  <%= @iform.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @iform.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @iform.lastname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @iform.middlename %>
</p>

<p>
  <b>Prefix:</b>
  <%= @iform.prefix %>
</p>

<p>
  <b>Preferredname:</b>
  <%= @iform.preferredname %>
</p>

<p>
  <b>Sex:</b>
  <%= @iform.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @iform.age %>
</p>

<p>
  <b>Ssn:</b>
  <%= @iform.SSN %>
</p>

<p>
  <b>Homeadd:</b>
  <%= @iform.homeadd %>
</p>

<p>
  <b>City:</b>
  <%= @iform.city %>
</p>

<p>
  <b>State:</b>
  <%= @iform.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @iform.zip %>
</p>

<p>
  <b>Relationshipstatus:</b>
  <%= @iform.relationshipstatus %>
</p>

<p>
  <b>Homeph:</b>
  <%= @iform.homeph %>
</p>

<p>
  <b>Pager:</b>
  <%= @iform.pager %>
</p>

<p>
  <b>Workph:</b>
  <%= @iform.workph %>
</p>

<p>
  <b>Workext:</b>
  <%= @iform.workext %>
</p>

<p>
  <b>License:</b>
  <%= @iform.DL %>
</p>

<p>
  <b>Employer:</b>
  <%= @iform.employer %>
</p>

<p>
  <b>Empadd:</b>
  <%= @iform.empadd %>
</p>

<p>
  <b>Empduration:</b>
  <%= @iform.empduration %>
</p>

<p>
  <b>Occupation:</b>
  <%= @iform.occupation %>
</p>

<p>
  <b>Generaldentist:</b>
  <%= @iform.generaldentist %>
</p>

<p>
  
</p>

<p>
  <b>Familyvisited:</b>
  <%= @iform.familyvisited %>
</p>

<p>
  <b>Reachyou:</b>

</p>

<p>
  <b>Todaydate:</b>
  <%= @iform.todaydate %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @iform.birthdate %>
</p>

<p>
  <b>Lastvisitdate:</b>
  <%= @iform.lastvisitdate %>
</p>
<p>
  <b>Insurance company:</b>
  <%= @iform.insurancecompany %>
</p>
<p>
  <b>physicians name:</b>
  <%= @iform.physicians_name %>
</p>
<p>
  <b>SpouseName:</b>
  <%= @iform.spousename %>
</p>
<p>
  <b>spouse employer:</b>
  <%= @iform.spouse_employer %>
</p>

<% if current_user.role == 'patient'%>
<%= link_to 'Home', patients_path %> |
<%= link_to 'Edit', edit_iform_path(@iform) %> |
<%= link_to 'Back', patients_path %>
<% end %>
