<%= link_to 'Home',doctors_path %>&nbsp
<%= link_to 'Download as PDF file', @iform.path %>
<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @iform.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @iform.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @iform.lastname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @iform.middlename %>
</p>

<p>
  <b>Prefix:</b>
  <%= @iform.prefix %>
</p>

<p>
  <b>Preferredname:</b>
  <%= @iform.preferredname %>
</p>

<p>
  <b>Sex:</b>
  <%= @iform.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @iform.age %>
</p>

<p>
  <b>Ssn:</b>
  <%= @iform.ssn %>
</p>

<p>
  <b>Homeadd:</b>
  <%= @iform.homeadd %>
</p>

<p>
  <b>City:</b>
  <%= @iform.city %>
</p>

<p>
  <b>State:</b>
  <%= @iform.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @iform.zip %>
</p>

<p>
  <b>Relationshipstatus:</b>
  <%= @iform.relationshipstatus %>
</p>

<p>
  <b>Homeph:</b>
  <%= @iform.homeph %>
</p>

<p>
  <b>Pager:</b>
  <%= @iform.pager %>
</p>

<p>
  <b>Workph:</b>
  <%= @iform.workph %>
</p>

<p>
  <b>Workext:</b>
  <%= @iform.workext %>
</p>

<p>
  <b>License:</b>
  <%= @iform.license %>
</p>

<p>
  <b>Employer:</b>
  <%= @iform.employer %>
</p>

<p>
  <b>Empadd:</b>
  <%= @iform.empadd %>
</p>

<p>
  <b>Empduration:</b>
  <%= @iform.empduration %>
</p>

<p>
  <b>Occupation:</b>
  <%= @iform.occupation %>
</p>

<p>
  <b>Generaldentist:</b>
  <%= @iform.generaldentist %>
</p>

<p>
  <b>Referal:</b>
  <%= @iform.referal %>
</p>

<p>
  <b>Familyvisited:</b>
  <%= @iform.familyvisited %>
</p>

<p>
  <b>Reachyou:</b>
  <%= @iform.reachyou %>
</p>

<p>
  <b>Todaydate:</b>
  <%= @iform.todaydate %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @iform.birthdate %>
</p>

<p>
  <b>Lastvisitdate:</b>
  <%= @iform.lastvisitdate %>
</p>


<%= link_to 'Edit', edit_iform_path(@iform) %> |
<%= link_to 'Back', iforms_path %>
