<div class="index">
<% if current_user.role == 'doctor'%>
<% @doctor = Doctor.find(@appointment.doctor_id) %>
<% if current_user.id == @doctor.user_id %>
<%= link_to 'My Appointments',doctors_path %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Download as PDF file', @iform.path %>
</br>
</br>
FirstName:
<%= @iform.Self_Name_First%></br>
Lastname:
<%= @iform.Self_Name_Last%>
<% end %>
<% end %>
</br>

<% if current_user.role == 'patient'%>
<% @patient = Patient.find(@appointment.patient_id) %>
<% if current_user.id == @patient.user_id %>
<%= link_to 'My Appointments', patients_path %> |
<%= link_to 'Edit', edit_iform_path(@iform) %> |
<%= link_to 'Back', :back %>
</br>
</br>
FirstName:
<%= @iform.Self_Name_First%></br>
Lastname:
<%= @iform.Self_Name_Last%>
<% end %>
<% end %>

</div>