<% if current_user.role == 'doctor'%>
<%= link_to 'Home',doctors_path %> |
<%= link_to 'Download as PDF file', @iform.path %>
<% end %>
<p id="notice"><%= notice %></p>




<% if current_user.role == 'patient'%>
<%= link_to 'Home', patients_path %> |
<%= link_to 'Edit', edit_iform_path(@iform) %> |
<%= link_to 'Back', patients_path %>
<% end %>
