<%= form_for @patient, :html => {:class => "form-horizontal"} do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="labelcss">Firstname</div>
  <%= f.text_field :firstname %>
  <br/><br/>
  <div class="labelcss">Lastname</div>
  <%= f.text_field :lastname %>
  <br/><br/>

  <% if false %>
    <% @doctors = Doctor.all %>
    <select id="doctor" name="doctor">
      <option value=" " selected="selected">Please select a Doctor</option>
      <% @doctors.each do |i| %>
        <option value="<%= i.id %>"><%= i.doctorname %></option>
      <% end %>
    </select>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>