<div class="index">
<h3>My Appointments</h3>
<% if !@appointments.blank? %>
<table border="0" width="80%" class="mytable">
	<tr BGCOLOR="grey" >
		<th>s.no</th>
		<th>Service Provider</th>
		<th>Appointment Datetime</th>
		<th>Form Received At</th>
		<th></th>
	</tr>
	<% count = 1 %>
<% @appointments.each do |i|%>
<% if i.timesent %>
<% timesent_date = i. timesent.strftime("%Y-%m-%d") %>
<% timesent_hrs = i.timesent.strftime("%H") %>
<% timesent_min = i.timesent.strftime("%M") %>
<% timesent_hrs_int = timesent_hrs.to_i %>
<% var = 12 %>
<% if var<=timesent_hrs_int %>
<% timesent_hrs = (timesent_hrs_int - var).to_s %>
<% am_pm = "PM" %>
<% @timesent = timesent_date+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
<% else %>
<% am_pm = "AM" %>
<% @timesent = timesent_date+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
<% end %>
<% end %>
<tr>
	<td><%= count %>
	<% count+=1 %>
	<td><%=i.doctorname.capitalize %></td>
	<td><%= i.date %> <%= i.time_hrs %>:<%= i.time_min %>  <%= i.AM_PM %></td>
	<td><%= @timesent %></td>
	<td><%= link_to 'Fill form here', i %></td>
</tr>	
<%end%>
</table>
<% else %>
<p>You have no Appointments! </p>
<%end%>
</div>



