<div class="index">
<h3>My Appointments</h3>
<% if !@appointments.blank? %>
<table border="0" width="80%" class="mytable">
	<tr BGCOLOR="grey" >
		<th>s.no</th>
		<th>Service Provider</th>
		<th>Appointment Datetime</th>
		<th>Form Received At</th>
		<th></th>
	</tr>
	<% count = 1 %>
<% @appointments.each do |i|%>
<tr>
	<td><%= count %>
	<% count+=1 %>
	<td><%=i.doctorname.capitalize %></td>
	<% datetime = i.datetime.strftime("%m-%d-%Y  %H:%M") %>
	<td><%= datetime %></td>
	<% timesent = i.timesent.strftime("%m-%d-%Y  %H:%M") %>
	<td><%= timesent %></td>
	<td><%= link_to 'Fill form here', i %></td>
</tr>	
<%end%>
</table>
<% else %>
<p>You have no Appointments! </p>
<%end%>
</div>


