<div class="index">
<h3>My Appointments</h3>
<% if !@appointments.blank? %>
<table border="0" width="80%" class="mytable">
	<tr BGCOLOR="grey" >
		<th>Name</th>
		<th>Service Provider</th>
		<th>Form</th>
		<th>Appointment</th>
		<th>Received</th>
		
	</tr>
	<% count = 1 %>
<% @appointments.each do |i|%>
<% if i.timesent %>
<% i.timesent = i.timesent.to_datetime %>
<% timesent_date = i. timesent.strftime("%Y-%m-%d") %>
<% p timesent_hrs = i.timesent.strftime("%H") %>
<% timesent_min = i.timesent.strftime("%M") %>
<% timesent_hrs_int = timesent_hrs.to_i %>
<% var = 12 %>

<% if var<timesent_hrs_int %>
<% timesent_hrs = (timesent_hrs_int - var).to_s %>
<% am_pm = "PM" %>
<% p @timesent = timesent_date.to_date.strftime("%m-%d-%Y")+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
<% else %>
<% timesent_hrs = timesent_hrs_int.to_s %>
<% am_pm = "AM" %>
<%p @timesent = timesent_date.to_date.strftime("%m-%d-%Y")+" "+timesent_hrs+":"+timesent_min+" "+am_pm %>
<% end %>
<% end %>
<tr>
	<td><%= i.firstname.capitalize%> <%= i.lastname.capitalize%></td>
	<% p = i.doctorname.split(" ")%>
	<td><%= p[0].capitalize %> <%= p[1].capitalize%></td>
	<% if i.formname.blank? %>
	<td></td>
	<%else%>
	<td><%= link_to 'Fill form here', i %></td>
	<%end%>
	<td><%= i.date.strftime("%m-%d-%Y") %> <%= i.time_hrs %>:<%= i.time_min %>  <%= i.AM_PM %></td>
	<td><%= @timesent %></td>
	
</tr>	
<%end%>
</table>
<% else %>
<p>You have no Appointments! </p>
<%end%>
</div>



