<%= form_for(@patient) do |f| %>
<%= f.error_messages %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>

<!-- <% @doctors = Doctor.all %>
<select id = "doctor" name= "doctor">
	<option value= " " selected="selected">Please select a Doctor</option>
<% @doctors.each do |i| %>
<option value = "<%= i.id %>" ><%= i.doctorname %></option>
<%end%>
</select> -->
<%= f.submit 'Submit' %>
<%end%>

