<div class="container">
<h2>Sign in</h2>

<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
<% if resource.errors.any? %>
<div id="error_explanation">
  <h2> Please check the highlighted fields </h2>
	<ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul> 
  </div> 
<% end %>

  <p><%= f.label :email %></br>
  <%= f.text_field :email %></p>

  <p><%= f.label :password %></br>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
<div>