<div class="container">
<h3>Sign in (or) <%= link_to 'Sign up', "/girl_scouts/sign_up" %></h3>



<%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
<% if resource.errors.any? %>
<div id="error_explanation">
	<ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul> 
  </div> 
<% end %>
<br />

  <div class = "labelcss">Username </div>
  <%= f.text_field :username %>
<br /><br />
  <div class = "labelcss">Password </div>
  <%= f.password_field :password %>
<br /><br />
  <% if devise_mapping.rememberable? -%>
   <div class = "labelcss"> <%= f.check_box :remember_me %> Remember Me </div>
  <% end -%>
<br />
<div class = "actions">
  <%= f.submit "Sign in", :class =>'btn btn-primary'  %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>