<div style="margin: 0 auto;width:80px;">
  <%= link_to "My Forms", "/consumer", :style => 'font-size: 18px;width:100px' %>
</div>

<div class="tabbable tabs-left iforms-tabs-left">
  <ul class="nav nav-tabs" id="consumer_tab_links" style="padding-top: 15px;">
    <li  class="active">
      <%= link_to "Boy Scouts", "#boy_scouts", "data-toggle" => "tab", 'data-action' => "boy_scouts" %>
    </li>
    <li>
      <%= link_to "Dental", "#dental", "data-toggle" => "tab", 'data-action' => "dental", :id => 'dental_select_tab' %>
    </li>
    <li class="hide">
      <%= link_to "Elementary School", "#elementary_school", "data-toggle" => "tab", 'data-action' => "elementary_school_list" %>
    </li>
    <li class="hide">
      <%= link_to "Florist", "#florist", "data-toggle" => "tab", 'data-action' => "florist_list" %>
    </li>
    <li>
      <%= link_to "Girl Scouts", "#girl_scouts", "data-toggle" => "tab", 'data-action' => "girl_scouts" %>
    </li>
    <li>
      <%= link_to "Medical", "#medical", "data-toggle" => "tab", 'data-action' => "medical", :id => 'medical_select_tab' %>
    </li>
    <li class="hide">
      <%= link_to "PreSchool", "#pre_school", "data-toggle" => "tab", 'data-action' => "pre_school_list" %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active " id="boy_scouts" data-is_loaded="false">
    </div>
    <div class="tab-pane " id="dental" data-is_loaded="false">
    </div>
    <div class="tab-pane" id="elementary_school" data-is_loaded="false">
    </div>
    <div class="tab-pane" id="florist" data-is_loaded="false">
    </div>
    <div class="tab-pane" id="girl_scouts" data-is_loaded="false">
    </div>
    <div class="tab-pane" id="medical" data-is_loaded="false">
    </div>
    <div class="tab-pane" id="pre_school" data-is_loaded="false">
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var consumer_tab_index = "<%= @consumer_tab_index %>";
<% end %>