<% time_now = Time.now.strftime("%Y-%m-%d_%H-%M-%S")%>
<% path = Configuration.csvfiles_path+time_now+"_"+@pdfupload.file_file_name %>
<% path1 = time_now+"_"+@pdfupload.file_file_name %>
<% p Configuration.csvfiles_path %>
<% pathx = "/csvfiles/#{path1}.csv"%>

<%= link_to 'Home', :controller => "admin", :action => "index"%> |
<%= link_to 'View uploaded file', @pdfupload.file.url%> |
<%= link_to 'Download csv format', pathx %></br></br>
<table>
	<tr>
		<th><b>ControlName</b>&nbsp&nbsp&nbsp&nbsp</th>
		<th><b>ControlType</b></th>
	</tr>

	<% @controls.each do |i| %>
	<tr>
	<td><%=h i.name %>&nbsp&nbsp&nbsp&nbsp</td>
	<td><%=h i.controltype %></td>
	</tr>
   <%end%>

</table>
</br>
<%= will_paginate @controls %>

<% CSV.open("#{path}.csv", "w") do |csv|%>
    <% csv << ["ControlName", "ControlType"] %>
<% @pdfupload.controls.each do |i| %>
    <% csv << ["#{i.name}","#{i.controltype}"] %>
   <% end %>
<% end %>