<%= form_for @appointment, :html => {:class => 'form-horizontal new_appointment_form', :multipart => true} do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <strong> 1. Create a New Appointment For:<br><br></strong>

  <div class="control-group">
    <%= f.label :firstname, "First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :preferred_name, "(Optional) - Preferred First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :preferred_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, "Last Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "Email Address", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :responsible_party, "(Optional) - Responsible Party", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :responsible_party %>
    </div>
  </div>

  <strong>2. With:</strong>
  <% if session[:user_service_provider] == 1 %>
    <div class="control-group">
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= radio_button_tag '', '', :checked => 'checked' %> James R. Waters, DDS, MSD, PA
        <% end %>
      </div>
    </div>

    <strong>3. At Location:</strong>
    <div class="control-group">
      <%= f.label :location, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Bastrop' %>Bastrop
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Central Austin' %>Central Austin
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Steiner Ranch' %>Steiner Ranch
        <% end %>

      </div>
    </div>
  <% elsif session[:user_service_provider] == 4 %>
    <div class="control-group">
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= radio_button_tag '', '', :checked => 'checked' %> Karen Naples D.D.S. P.A.
        <% end %>
      </div>
    </div>

    <strong>3. At Location:</strong>
    <div class="control-group">
      <%= f.label :location, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Cedar Park', :checked => 'checked' %>Cedar Park
        <% end %>
      </div>
    </div>
  <% elsif session[:user_service_provider] == 7 %>
    <div class="control-group">
      <%= f.label :appointment_doctor_name, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= f.radio_button :appointment_doctor_name, 'Dr. Michelle L. Freeze, D.M.D.' %> Dr. Michelle L. Freeze, D.M.D.
        <% end %> <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= f.radio_button :appointment_doctor_name, 'Dr. Shiny Thomas, D.D.S.' %> Dr. Shiny Thomas, D.D.S.
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= f.radio_button :appointment_doctor_name, 'Dr. Jeff Gregerson, D.M.D.' %>Dr. Jeff Gregerson, D.M.D.
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= f.radio_button :appointment_doctor_name, 'Dr. Pru Aurora, D.D.S.' %> Dr. Pru Aurora, D.D.S.
        <% end %>
      </div>
    </div>

    <strong>3. At Location:</strong>
    <div class="control-group">
      <%= f.label :location, raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Lakeline' %> Lakeline
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= f.radio_button :location, 'Rising Stars Steiner Ranch' %> Steiner Ranch
        <% end %>
      </div>
    </div>
  <% else %>
  <% end %>
  <strong>4. On This Date/Time:</strong>

  <div class="control-group">
    <%= f.label :date, "Date", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => "appointments_date_selector", :placeholder => "YYYY-MM-DD", "data-value" => f.object.date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_hrs, "Time", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :time_hrs, {"01" => "1", "02" => "2", "03" => "3", "04" => "4", "05" => "5", "06" => 6, "07" => 7, "08" => 8, "09" => 9, "10" => 10, "11" => 11, "12" => 12}, {:include_blank => true}, {:style => "width:60px;text-align:center"} %> &nbsp;
      <strong> : </strong>
      <%= f.select :time_min, {"00" => "00", "05" => "05", "10" => "10", "15" => "15", "20" => "20", "25" => "25", "30" => "30", "35" => "35", "40" => "40", "45" => "45", "50" => "50", "55" => "55"}, {:include_blank => true}, {:style => "width:60px;text-align:center"} %> &nbsp;
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :AM_PM, "AM", :checked => 'checked' %> AM
      <% end %>
      <%= label_tag "radio_buttons", :class => 'radio inline' do %>
        <%= f.radio_button :AM_PM, "PM" %> PM
      <% end %>
    </div>
  </div>

  <strong>5. With These Forms:</strong>
  <% if false %>
    <% @doctor = Doctor.first %>
    <% a=[] %>
    <% @forms = @doctor.forms %>
    <% @forms.each do |i| %>
      <% a<< i.formname %>
    <% end %>
    <% for form in @forms %>
      <%= check_box_tag "form_ids[]", form.id %>
      <%= form.formname %>
      <br>
    <% end %>

    <div style="margin: 12px 17%;">
      <% for form in @forms %>
        <%= label_tag "radio_buttons", :class => 'radio inline' do %>
          <%= radio_button_tag "form_ids[]", form.id %>
          <%= form.formname %>
        <% end %>
        <br>
      <% end %>
    </div>
  <% end %>

  <% if session[:user_service_provider] == 1 %>
    <div class="control-group">
      <%= label_tag "radio_buttons", raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'Adult' %>Adult New Patient
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'Child' %>Child New Patient
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'None', true %>None
        <% end %>
      </div>
    </div>
  <% elsif session[:user_service_provider] == 4 %>
    <div class="control-group">
      <%= label_tag "radio_buttons", raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:250px' do %>
          <%= radio_button_tag "radio_buttons", 'New_Patient' %>New Patient / Smile Evaluation
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'None', true %>None
        <% end %>
      </div>
    </div>
  <% elsif session[:user_service_provider] == 7 %>
    <div class="control-group">
      <%= label_tag "radio_buttons", raw('&nbsp;'), :class => 'control-label' %>
      <div class="controls">
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'Rising_Stars_Pediatric' %>New Patient
        <% end %>
        <br>
        <%= label_tag "radio_buttons", :class => 'radio inline', :style => 'width:150px' do %>
          <%= radio_button_tag "radio_buttons", 'None', true %>None
        <% end %>
      </div>
    </div>
  <% else %>
  <% end %>
  <br>
  6. And Lastly:

  <% if false %>
    <!-- <%#= link_to_function "Adult forms" do |page|
page.insert_html :bottom, :tasks, :partial => 'adultform_checkboxes' 
end %> |

<%#= link_to_function "Child forms" do |page|
page.insert_html :bottom, :tasks, :partial => 'childform_checkboxes' 
end %> -->
  <% end %>

  <br><br>

  <div class="actions">
    <% if f.object.new_record? %>
      <%= f.submit 'Create Appointment and Send Email Confirmation', :class => 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Update Appointment and Send Email Confirmation', :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <br>

<% end %>

<script type="text/javascript">
  $(".appointments_date_selector").datepicker({
    changeMonth: true,
    changeYear: true
  }).datepicker("option", "dateFormat", "yy-mm-dd").datepicker('setDate', params['appointment_date'] ? params['appointment_date'] : new Date());

</script>


