
<%= form_for @appointment do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 
    </div> 
  <% end %>
  <div class="field">
    <div class = "labelcss">Firstname </div>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <div class = "labelcss">Lastname </div>
    <%= f.text_field :lastname %>
  </div>
  
 <div class="field">
    <div class = "labelcss">Email</div>
    <%= f.text_field :email %>
 </div>
 <div class="field">
    <div class = "labelcss">Appointment Date</div>
    <%= f.text_field :date %>
    
 </div>

 <div class="field", id = "tasks">
    <div class = "labelcss"> Appointment Time</div>
    <%= f.select :time_hrs, ["00",1,2,3,4,5,6,7,8,9,10,11], :include_blank => true %>
    <%= f.select :time_min, ["00",5,10,15,20,25,30,35,40,45,50,55], :include_blank => true %>
    <%= f.select :AM_PM, ["AM","PM"], :include_blank => true %>
 </div>

			<% @doctor = Doctor.first%>
			<% a=[]%>
			<% @forms = @doctor.forms %>
			<% @forms.each do |i|%>
			<%a<< i.formname %>
			<%end %>

		<div class = "labelcss">
		<% for form in @forms %>	    
			<%= check_box_tag "form_ids[]", form.id %>
			<%= form.formname %><%if form.id==4%><br /><%end%>
		<% end%>
	    </div>



<!-- <%= link_to_function "Adult forms" do |page| 
page.insert_html :bottom, :tasks, :partial => 'adultform_checkboxes' 
end %> |

<%= link_to_function "Child forms" do |page| 
page.insert_html :bottom, :tasks, :partial => 'childform_checkboxes' 
end %> -->

</br></br>	
<div class="actions">
    <%= f.submit %>
</div>
</br>

<% end %>



