
<%= form_for @appointment do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 
    </div> 
  <% end %>
1. Create a New Appointment For:</br></br>
  <div class="field">
     <div class = "labelcss">Email Address</div>
     <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <div class = "labelcss">First Name </div>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <div class = "labelcss">Last Name </div>
    <%= f.text_field :lastname %>
  </div>
  

2. With:
    <%= radio_button_tag '','' , :checked => 'checked'%>
    James Waters
</br></br>

3. At Location:
</br></br>
  <%= f.radio_button :location,'Bastrop' %>Bastrop</br>
  <%= f.radio_button :location,'Central Austin' %>Central Austin</br>
  <%= f.radio_button :location,'Steiner Ranch' %>Steiner Ranch
</br></br>

4. On This Date/Time:
</br></br>
 <div class="field">
    Date:
    <%= f.date_select :date %>
    
 </div>
 <div class="field" id = "tasks">
     Time:
     <%= f.select :time_hrs, ["00",1,2,3,4,5,6,7,8,9,10,11], :include_blank => true %> :
     <%= f.select :time_min, ["00",5,10,15,20,25,30,35,40,45,50,55], :include_blank => true %>
     <%= f.radio_button :AM_PM, "AM" %> AM
     <%= f.radio_button :AM_PM, "PM" %> PM
  </div>

5. With These Forms:
</br></br>
  <% @doctor = Doctor.first%>
	<% a=[]%>
	<% @forms = @doctor.forms %>
	<% @forms.each do |i|%>
	<%a<< i.formname %>
	<%end %>

 <div class = "labelcss">
  <% for form in @forms %>	    
	 <%= check_box_tag "form_ids[]", form.id %>
	 <%= form.formname %></br>
  <% end%>
 </div>
</br>
6. And Lastly:
  
 

 

			


<% if false %>
<!-- <%= link_to_function "Adult forms" do |page| 
page.insert_html :bottom, :tasks, :partial => 'adultform_checkboxes' 
end %> |

<%= link_to_function "Child forms" do |page| 
page.insert_html :bottom, :tasks, :partial => 'childform_checkboxes' 
end %> -->
<% end %>

<br><br>
<div class="actions">
    <%= f.submit 'Create Appointment and Send Email Confirmation'%>
</div>
<br>

<% end %>



