<% if current_user.role == 'patient' %>
  <% @appformjoins = Appformjoin.where("appointment_id = ? and patient_user_id = ?", @appointment.id, current_user.id) %>
  <div class="breadcrumbs_app_show">
    <%= link_to 'Back', '/consumer' %>
  </div>
  <div class="formslist_show">
    <table class="table table-bordered" style="width:50%;text-align: center;margin-left: 15%">
      <tr BGCOLOR="grey">
        <th>Form</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @appformjoins.each do |i| %>
        <% if i.formsubmittedtime %>
          <% i.formsubmittedtime = i.formsubmittedtime.to_datetime %>
          <% formsubmittedtime_date = i.formsubmittedtime.strftime("%Y-%m-%d") %>
          <% formsubmittedtime_hrs = i.formsubmittedtime.strftime("%H") %>
          <% formsubmittedtime_min = i.formsubmittedtime.strftime("%M") %>
          <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %>
          <% var = 12 %>
          <% if var<=formsubmittedtime_hrs_int %>
            <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
            <% am_pm = "PM" %>
            <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %>
          <% else %>
            <% am_pm = "AM" %>
            <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %>
          <% end %>
        <% end %>

        <% if i.formname.include?("Adult") %>
          <% @controller_name = "iforms" %>
          <% @id = i.iform_id %>
        <% end %>
        <% if i.formname.include?("Child") %>
          <% @controller_name = "childforms" %>
          <% @id = i.childform_id %>
        <% end %>

        <tr>
          <% if i.iform_id %>
            <% @iform = Iform.find(i.iform_id) %>
          <% end %>
          <% if i.status == "updated" %>
            <td><%= i.formname %></td>
            <td>
              <% @subtimefortool = formsubmittedtime_date.to_date.strftime("%m-%d-%Y") %>
              <span data-placement="top" rel="tooltip" data-original-title="User submitted an updated form on this <%= @subtimefortool %>">
              Updated <%= @formsubmittedtime %>
                </span>
            </td>
            <td>
              <%= link_to 'Edit', edit_iform_path(i.iform_id) %> |
              <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %>
            </td>
          <% elsif i.status == "submitted" %>
            <td><%= i.formname %></td>
            <td>
              <span data-placement="top" rel="tooltip" data-original-title="User submitted form on this date <%= @subtimefortool %>">
             Submitted <%= @formsubmittedtime %>
                </span>
            </td>
            <td>
              <%= link_to 'Edit', edit_iform_path(i.iform_id) %> |
              <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %>
            </td>
          <% elsif i.status == "pending" %>
            <td><%= i.formname %></td>
            <td>
              <span data-placement="top" rel="tooltip" data-original-title="Form editing has not begun">
             Pending
                </span>
            </td>
            <td>
              <%= link_to 'Edit', edit_iform_path(i.iform_id) %> |
              <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %>
            </td>
          <% elsif i.status == "in progress" %>
            <td><%= i.formname %></td>
            <td>
              <span data-placement="top" rel="tooltip" data-original-title="Form editing has begun but is not complete">
                In Progress
                </span>
            </td>
            <% if i.iform_id.nil? %>
              <td>
                <%= link_to "Edit", new_iform_path(:name => i.formname, :appointment_id => @appointment.id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_status => i.status, :iform_name => i.formname), :target => '_blank' %>
              </td>
            <% else %>
              <td>
                <%= link_to "Edit", edit_iform_path(i.iform_id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id, :iform_status => i.status, :iform_name => i.formname), :target => '_blank' %>
              </td>
            <% end %>
          <% else %>
            <td><%= i.formname %></td>
            <td></td>
            <% if i.iform_id.nil? %>
              <td>
                <%= link_to "Edit", new_iform_path(:name => i.formname, :appointment_id => @appointment.id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_status => i.status, :iform_name => i.formname), :target => '_blank' %>
              </td>
            <% else %>
              <td>
                <%= link_to "Edit", edit_iform_path(i.iform_id) %> |
                <%= link_to "View PDF", get_iform_iforms_path(:iform_status => i.status, :iform_name => i.formname), :target => '_blank' %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br>
    <br>
  </div>
<% end %>


<% if current_user.role == 'doctor' %>
  <% @appformjoins = Appformjoin.where("appointment_id = ? and doctor_user_id = ?", @appointment.id, current_user.id) %>
  <div class="breadcrumbs_app_show">
    <%= link_to 'Back', doctors_path %>
  </div>
  <div class="formslist_show">
    <table class="table table-bordered" style="width:50%;text-align: center;margin-left: 15%">
      <tr BGCOLOR="grey">
        <th>Form</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @appformjoins.each do |i| %>
        <% if i.formsubmittedtime %>
          <% i.formsubmittedtime = i.formsubmittedtime.to_datetime %>
          <% formsubmittedtime_date = i.formsubmittedtime.strftime("%Y-%m-%d") %>
          <% formsubmittedtime_hrs = i.formsubmittedtime.strftime("%H") %>
          <% formsubmittedtime_min = i.formsubmittedtime.strftime("%M") %>
          <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %>
          <% var = 12 %>
          <% if var<=formsubmittedtime_hrs_int %>
            <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
            <% am_pm = "PM" %>
            <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %>
          <% else %>
            <% am_pm = "AM" %>
            <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %>
          <% end %>
        <% end %>


        <% if i.formname.include?("Adult") %>
          <% @controller_name = "iforms" %>
          <% @id = i.iform_id %>
        <% end %>
        <% if i.formname.include?("Child") %>
          <% @controller_name = "childforms" %>
          <% @id = i.childform_id %>
        <% end %>
        <tr>
          <% if i.iform_id %>
            <% @iform = Iform.find(i.iform_id) %>
          <% end %>
          <% if i.status == "submitted" || i.status == "updated" %>
            <td> <%= i.formname %> </td>
            <td><%= @formsubmittedtime %></td>
            <td> <%= link_to "View PDF", get_iform_iforms_path(:iform_id => @iform.id), :target => '_blank' %></td>
          <% else %>
            <td><%= i.formname %></td>
            <td>
                <span data-placement="top" rel="tooltip" data-original-title="Form editing has not begun">
             Pending
                </span>
            </td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br>
  </div>
<% end %>


<script>
  $("span").tooltip({
  });
</script>