
<% if current_user.role == 'patient'%>
<% @appformjoins = Appformjoin.where("appointment_id = ? and patient_user_id = ?", @appointment.id, current_user.id)%>
<div class = "breadcrumbs_app_show">
<%= link_to 'Back', patients_path %> 
</div>
<div class = "formslist_show">
<table border="0" width="80%" class="mytable">
	<tr>
		<th>Form</th>
		<th>Submitted</th>
		<th></th>
	</tr>
	<% @appformjoins.each do |i| %>
	<% if i.formsubmittedtime %>
   <% i.formsubmittedtime = i.formsubmittedtime.to_datetime %> 
   <% formsubmittedtime_date = i.formsubmittedtime.strftime("%Y-%m-%d") %>
   <% formsubmittedtime_hrs = i.formsubmittedtime.strftime("%H") %>
   <% formsubmittedtime_min = i.formsubmittedtime.strftime("%M") %>
   <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %> 
   <% var = 12 %>
   <% if var<=formsubmittedtime_hrs_int %>
   <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
   <% am_pm = "PM" %>
   <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %> 
   <% else %>
   <% am_pm = "AM" %> 
   <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %> 
   <% end %> 
   <% end %>

	<% if i.formname.include?("Adult") %>
	<% @controller_name = "iforms" %>
	<% @id = i.iform_id %>
	<% end %>
	<% if i.formname.include?("Child") %>
	<% @controller_name = "childforms" %>
	<% @id = i.childform_id %>
	<% end %>
    <tr>
	<% if i.iform_id %>
	<% @iform = Iform.find(i.iform_id) %>
	<%end%>
	<% if i.status == "submitted" %>
	<td><%= link_to i.formname, get_iform_iforms_path(:iform_id => @iform.id) %></td>
	<td><%= @formsubmittedtime %></td>
	<td><%= link_to 'Edit', edit_iform_path(@iform.id) %>
	<% else %>
	<td><%= link_to i.formname, :controller => "iforms", :action => "new", :name => i.formname, :appointment_id => @appointment.id %></td>
	<td> Pending </td>
	</tr>
	<% end %>
	<% end %>
</table>
</br>
</br>

</div>
<% end %>



<% if current_user.role == 'doctor'%>
<% @appformjoins = Appformjoin.where("appointment_id = ? and doctor_user_id = ?", @appointment.id, current_user.id)%>
<div class = "breadcrumbs_app_show">
<%= link_to 'Back', doctors_path %> 
</div>
<div class = "formslist_show">
<table border="0" width="80%" class="mytable">
	<tr>
		<th>Form</th>
		<th>Recieved</th>
		<th></th>
	</tr>
	<% @appformjoins.each do |i| %>
	<% if i.formsubmittedtime %>
   <% i.formsubmittedtime = i.formsubmittedtime.to_datetime %> 
   <% formsubmittedtime_date = i.formsubmittedtime.strftime("%Y-%m-%d") %>
   <% formsubmittedtime_hrs = i.formsubmittedtime.strftime("%H") %>
   <% formsubmittedtime_min = i.formsubmittedtime.strftime("%M") %>
   <% formsubmittedtime_hrs_int = formsubmittedtime_hrs.to_i %> 
   <% var = 12 %>
   <% if var<=formsubmittedtime_hrs_int %>
   <% formsubmittedtime_hrs = (formsubmittedtime_hrs_int - var).to_s %>
   <% am_pm = "PM" %>
   <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %> 
   <% else %>
   <% am_pm = "AM" %> 
   <% @formsubmittedtime = formsubmittedtime_date.to_date.strftime("%m-%d-%Y")+" "+formsubmittedtime_hrs+":"+formsubmittedtime_min+" "+am_pm %> 
   <% end %> 
   <% end %>
	
	
	<% if i.formname.include?("Adult") %>
	<% @controller_name = "iforms" %>
	<% @id = i.iform_id %>
	<% end %>
	<% if i.formname.include?("Child") %>
	<% @controller_name = "childforms" %>
	<% @id = i.childform_id %>
	<% end %>
	<tr>
		<% if i.iform_id %>
		<% @iform = Iform.find(i.iform_id) %>
		<%end%>
	<% if i.status == "submitted" %>
	<td><%= link_to i.formname, @iform.path  %></td>
	<td><%= @formsubmittedtime %></td>
	<% else %>
	<td><%= i.formname %></td>
	<td>Pending </td>
	</tr>
	<% end %>
	</tr>
	<% end %>
</table>
</br>

</div>
<% end %>



