<div class="footer">
  <% if user_signed_in? and current_user.role =="patient" %>
    <%= link_to 'Home', patients_path %> |
  <% elsif user_signed_in? and current_user.role =="doctor" %>
    <%= link_to 'Home', doctors_path %> |
  <% elsif user_signed_in? and current_user.role =="admin" %>
    <%= link_to 'Home', :controller => "admin", :action => "index" %> |
  <% else %>
    <%= link_to 'Home', root_url %> |
  <% end %>
  <%= link_to 'About Us', '/about' %> |
  <%= link_to 'FAQ', '/FAQ' %> |
  <%= link_to 'Contact', '/contact' %>
</div>