<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "iforms" %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head)%>
  <%= stylesheet_link_tag params[:controller]%>
  <%= javascript_include_tag params[:controller]%>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name}" do %>
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= raw msg %>
      <% end %>
    <% end %>
    <%=  content_tag :div, :class => page_controller do %>
      <%= yield %>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
