<!DOCTYPE html>
<html>
<head>
  <title>Iforms</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <%= yield :javascript %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css","scaffold" %>
   <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "formToWizard" %> 
  <%= csrf_meta_tag %>
  
</head>
<body>
<div class = "header">
<% if current_user %>
<%= link_to 'Home', deviseroles_path %> |
Welcome! <%= link_to current_user.email, edit_user_registration_path %>,
<%= link_to 'Sign out', destroy_user_session_path %>
<% else %>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
</div>
<div class ="container_layout">
<%= alert %>
<%= notice %>
<%= yield %>
</div>
</body>
</html>
