<!DOCTYPE html>
<html>
<head>
  <title>Iforms</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tag %>
</head>
<body>
	<%= alert %>
	<%= notice %>
<div align="right">
<% if current_user %>
Welcome! <%= link_to current_user.email, edit_user_registration_path %>,
<%= link_to 'Sign out', destroy_user_session_path %>
<% else %>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
</div>
<%= yield %>
</body>
</html>
